
@import 'shared.styles';

.field-list {
    width: 32em;
}

.field {
    display: flex;
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 50%;
    width: 100%;
    border-radius: 4px;
    padding: 0 .5em;

    &:hover {
        background-color: rgba(#000, .35);
    }

    div.error {
        position: absolute;
        bottom: .5em;
        left: 1em;
        color: $error;
        font-size: .7em;
        font-weight: 500;
    }
}

label {
    font-size: .8em;
    font-weight: 500;
    margin: .5em 0;
    min-width: 10em;
    text-transform: capitalize;

    &.error {
        color: $error;
    }
}

.value {
    height: 3.25em;
    flex: 1;
    min-width: 50%;
}

mat-form-field {
    width: 100%;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
        min-width: 8em;
        margin: .5em .25em 0;
    }
}
