@import 'shared.styles';
@import "~material-design-icons/iconfont/material-icons.css";
@import '~firacode/distr/fira_code.css';
@import '../../custom/style.css';
@import '../../custom/place-fonts.css';

html,
body {
    @include respond-to(desktop) {
        font-size: $base-size;
    }
    @include respond-to(tablet) {
        font-size: $tablet-size;
    }
    @include respond-to(mobile) {
        font-size: $mobile-size;
    }
}

* {
    user-select: none;
    font-family: $font;
    box-sizing: border-box;
}

.material-icons {
    font-size: 1em;
}

span.highlight {
    color: $color-primary;
}

.monaco-editor {
    * {
        font-family: 'Fira Code', monospace;
    }
}

.mono {
    font-family: 'Fira Code', monospace;
}

/*=======================*\
||    Font size styles   ||
\*=======================*/

.fs {
    &-small {
        font-size: 0.8rem;
    }
    &-normal {
        font-size: 1rem;
    }
    &-big {
        font-size: 1.2rem;
    }
    &-large {
        font-size: 1.5rem;
    }
}

/*=======================*\
||    Font size styles   ||
\*=======================*/

.info-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: .5em;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.2em;
        width: 1.2em;
        font-size: 2em;

        a-spinner {
            font-size: .25em;
        }
    }

    .text {
        margin: .5em 0 0;
        text-align: center;
    }
}

/*=======================*\
||      Media styles     ||
\*=======================*/

.not-mobile {
    @include respond-to(mobile) {
        display: none !important;
    }
}

.not-tablet {
    @include respond-to(tablet) {
        display: none !important;
    }
}

.not-desktop {
    @include respond-to(desktop) {
        display: none !important;
    }
}

.not-laptop {
    @include respond-to(laptop) {
        display: none !important;
    }
}

.mobile-only {
    display: none !important;
    @include respond-to(mobile) {
        display: inherit !important;
    }
}

.tablet-only {
    display: none !important;
    @include respond-to(tablet) {
        display: inherit !important;
    }
}

.desktop-only {
    display: none !important;
    @include respond-to(desktop) {
        display: inherit !important;
    }
}

.laptop-only {
    display: none !important;
    @include respond-to(laptop) {
        display: inherit !important;
    }
}

