@import 'shared.styles';

.dropdown[widget] {
    border-radius: 4px;

    &.fill {
        width: 100%;
    }
}

.dropdown-list[widget] {
    border-radius: 4px;
}

.spinner {
    svg {
        width: 100%;
    }
}

button[mat-button].mat-button,
a[button] {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $font-light;
    font-weight: 300;
    border-radius: 0;

    &.inverse {
        background-color: #fff;
        color: $color-primary;
    }

    &[disabled] {
        background-color: rgba(#000, 0.12);
        color: rgba(#000, 0.2);
        border-color: rgba(#000, 0.2);
        pointer-events: none;
    }
}

.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    font-size: 1em;

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    app-icon {
        font-size: 1.5em;
    }
}

mat-form-field {
    &.mat-form-field-appearance-outline.mat-focused {
        .mat-form-field-outline-thick {
            color: $color-primary;
        }
    }

    &.metrics {
        .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-outline {
            border-radius: 4px;

            * {
                color: #fff;
                border-color: #fff;
            }
        }

        .mat-select-value {
            color: #fff;
        }
    }
}

.mat-form-field-infix {
    border-top: none;
    top: .1em !important;
}

.mat-select-panel {
    .mat-option {
        &.mat-selected {
            &:not(.mat-option-disabled) {
                color: $color-primary;
            }
        }
    }
}

mat-select {
    .mat-select-trigger {
        .mat-select-arrow-wrapper {
            transform: none;
        }
    }
}

.tab-group[widget] {
    main {
        min-height: 1px;
        max-height: calc(100vh - 13em);
    }
    .tab-headers {
        width: 100%;
    }
}

.overlay-backdrop {
    background-color: rgba(#000, 0.6);
}

mat-dialog-container.mat-dialog-container {
    padding: 0;

    mat-dialog-content {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        align-items: center;
        padding: .5em 1em;
        width: 100%;
        background-color: $color-primary;
        color: $font-light;

        h1, h2, h3, h4 {
            flex: 1;
            min-width: 50%;
        }

        > * {
            margin: 0;
        }
    }

    .body,
    main {
        padding: 1em;
        pointer-events: auto;
        overflow: hidden auto;
    }

    mat-dialog-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.mat-simple-snackbar {
    button.mat-button {
        background: none;
        border: none;
    }
}

.mat-snack-bar-container {
    &.success {
        background-color: $success;
        color: #fff;
    }
    &.warn {
        background-color: $pending;
        color: #fff;
    }
    &.error {
        background-color: $error;
        color: #fff;
    }
    &.info {
        background-color: $color-secondary;
        color: #fff;
    }

    span {
        white-space: pre-line;
    }
}

.mat-tooltip {
    background-color: $background-dark;
    font-size: .8em;
    white-space: pre-line;
}

.formatted-driver-name {
    display: flex;
    align-items: center;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.2em;
        width: 1.2em;
        font-size: 1.5em;
    }
}

sidebar,
mat-option {

    span.small {
        font-size: .8em;
        margin: 0 .5rem;
        opacity: .75;
    }

    .item {
        span {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.dark-mode {
    button[mat-button].mat-button {
        &[disabled] {
            background-color: rgba(#fff, 0.35);
            border-color: rgba(#fff, 0.2);
        }
    }

    system-modules,
    driver-devices {
        .state {
            background-color: #fff;
        }
    }

    app-debug-output {
        .header {
            color: #fff;
            background-color: #424242;
        }

        .content {
            border: 1px solid #999;
        }
    }
}
