@import 'shared.styles';

.dropdown[widget] {
    border-radius: 4px;

    &.fill {
        width: 100%;
    }
}

.dropdown-list[widget] {
    border-radius: 4px;
}

.spinner {
    svg {
        width: 100%;
    }
}

button.mat-button,
a[button] {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $font-light;

    &.inverse {
        background-color: #fff;
        color: $color-primary;
    }

    &[disabled] {
        background-color: #ccc;
        border-color: #aaa;
        pointer-events: none;
    }
}

.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    font-size: 1em;

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    app-icon {
        font-size: 1.5em;
    }
}

mat-form-field {
    &.mat-form-field-appearance-outline.mat-focused {
        .mat-form-field-outline-thick {
            color: $color-primary;
        }
    }

    &.metrics {
        .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-outline {
            border-radius: 4px;

            * {
                color: #fff;
                border-color: #fff;
            }
        }

        .mat-select-value {
            color: #fff;
        }
    }
}

.mat-form-field-infix {
    border-top: none;
}

.mat-select-panel {
    .mat-option {
        &.mat-selected {
            &:not(.mat-option-disabled) {
                color: $color-primary;
            }
        }
    }
}

mat-select {
    .mat-select-trigger {
        .mat-select-arrow-wrapper {
            transform: none;
        }
    }
}

.tab-group[widget] {
    main {
        min-height: 1px;
        max-height: calc(100vh - 13em);
    }
    .tab-headers {
        width: 100%;
    }
}

a-dynamic-form {
    width: 100%;
}

.dynamic-form[widget] {
    width: 100%;

    .dynamic-field,
    a-dynamic-form-field {
        flex: 1;
        > div {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .dynamic-field {
        &:hover {
            background-color: rgba(#000, .05);
            border-radius: 4px;
        }
    }

    .checkbox > .details {
        opacity: 0;
        user-select: none;
    }

    .details {
        @include respond-to(mobile) {
            min-width: 100%;
        }
    }

    .info {
        &.status {
            padding: 0;
            margin-top: -.25em;
        }
    }

    .input {
        justify-content: flex-start;
    }

    .group {
        a-dynamic-form-field {
            padding: .25em;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.overlay-backdrop {
    background-color: rgba(#000, 0.6);
}

mat-dialog-container.mat-dialog-container {
    padding: 0;

    header {
        display: flex;
        align-items: center;
        padding: .5em 1em;
        width: 100%;
        background-color: $color-primary;
        color: $font-light;

        h1, h2, h3, h4 {
            flex: 1;
            min-width: 50%;
        }

        > * {
            margin: 0;
        }
    }

    .body,
    main {
        padding: 1em;
        pointer-events: auto;
        overflow: hidden auto;
    }

    mat-dialog-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.mat-simple-snackbar {
    button.mat-button {
        background: none;
        border: none;
    }
}

.mat-snack-bar-container {
    &.success {
        background-color: $success;
        color: #fff;
    }
    &.warn {
        background-color: $pending;
        color: #fff;
    }
    &.error {
        background-color: $error;
        color: #fff;
    }
    &.info {
        background-color: $color-secondary;
        color: #fff;
    }
}
