<div class="zone form" *ngIf="form">
    <form [formGroup]="form">
        <div class="field" *ngIf="form.controls.name">
            <label
                for="trigger-name"
                [class.error]="form.controls.name.invalid && form.controls.name.touched"
                i18n="@@nameLabel"
                >Name<span>*</span>:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="trigger-name"
                    placeholder="Trigger Name"
                    i18n-placeholder="@@triggerNamePlaceholder"
                    formControlName="name"
                    required
                />
                <mat-error i18n="@@triggerError">Trigger name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.description">
            <label for="description" i18n="@@descriptionLabel">Description:</label>
            <mat-form-field appearance="outline">
                <textarea
                    matInput
                    name="description"
                    placeholder="Description"
                    i18n-placeholder="@@descriptionPlaceholder"
                    formControlName="description"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.enable_webhook">
            <mat-checkbox name="enable-webhook" formControlName="enable_webhook" i18n="@@enableWebhooklabel">
                Enable Webhook
            </mat-checkbox>
        </div>
    </form>
</div>
