<header>
  <h3 mat-dialog-title>System Logs</h3>
  <button btn icon mat-dialog-close>
    <app-icon>close</app-icon>
  </button>
</header>
<mat-dialog-content>
  @if (!loading) {
    <div class="body">
      <table>
        <thead>
          <td>User</td>
          <td>Date/Time</td>
          <td></td>
        </thead>
        <tbody>
          @for (item of logs; track item.id) {
            <tr class="item">
              <td>{{ item?.user?.name }}</td>
              <td>{{ item?.created_at | date }}</td>
              <td>{{ item?.installed_device }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <div class="body">
      <div class="info-block">
        <div class="icon">
          <mat-spinner diameter="32"></mat-spinner>
        </div>
        <div class="text">Processing request...</div>
      </div>
    </div>
  }
</mat-dialog-content>
