<div class="container">
    <header>
        <div class="heading">{{heading}}</div>
        <div class="search" (touchrelease)="close ? event.emit({ type: 'close' }) : ''">
            <i class="material-icons">{{ close ? 'close' : 'search'}}</i>
        </div>
    </header>
    <section class="search">
        <div class="input">
            <input [(ngModel)]="search" [placeholder]="'Filter ' + model.lowercase_header">
        </div>
        <div class="add">
            <i class="material-icons">add</i>
        </div>
    </section>
    <section class="list">
        <div class="item" *ngFor="let item of list" (touchrelease)="select(item)">
            {{item?.name || item}}
        </div>
        <div class="loading" *ngIf="loading">
            <spinner type="bounce" color="rgba(255, 255, 255, .2)"></spinner>
        </div>
        <div class="no-item" *ngIf="!loading && (!list || list.length <= 0)">
            <div class="icon">
                <i class="material-icons">close</i>
            </div>
            <div class="text">{{ !search ? 'No ' + model.lowercase_header : 'No matches found'}}</div>
        </div>
    </section>
</div>