
@import 'shared.styles';

.container {
    background-color: $color-ternary;
    height: 100%;
    width: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5em 1em;
    min-height: 3em;

    .heading {
        flex: 1;
        font-size: 1.5em;
    }

    .search {
        display: none;
        font-size: 1.5em;
        @include respond-to(mobile) {
            display: initial;
        }
    }
}

section.search {
    display: flex;
    align-items: center;
    padding: .5em 1em 1em;
    width: 100%;
    border-bottom: 1px solid rgba(#fff, .2);    
    min-height: 3em;
    .input {
        flex: 1;
    }
}

input {
    background-color: rgba(#fff, .1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1em;
    font-size: 1em;
    width: 100%;
    padding: .25em 1em;
    outline: none;
}

.list {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.item {
    padding: .5em 1em;
    border-bottom: 1px solid rgba(#fff, .2);  
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgba(#fff, .1);
    }
    .text {
        flex: 1;
    }  
}

.add {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    background-color: rgba(#fff, .1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1em;
    cursor: pointer;
    margin-left: .5em;
    transition: color 300ms, background-color 300ms;
    overflow: hidden;
    
    i {
        font-size: 1.2em;
    }

    &:hover {
        background-color: #fff;
        color: $color-ternary;
    }
    &:active {
        background-color: #ccc;
        border-color: #ccc;
    }
}

.no-item {
    color: rgba(#fff, .2);
}

.loading {
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    width: 100%;
}
