
@import 'shared.styles';

.container {
    position: relative;
    background-color: $background;
    height: 100%;
    width: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    @include box-shadow;
    z-index: 10;
    border-right: 1px solid rgba(#fff, .12);
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5em 1em;
    min-height: 3em;

    @include respond-to(mobile) {
        padding: .5em .5em .5em 1em;
    }

    .heading {
        font-size: 1.5em;
        font-family: $heading-font;
    }

    .count {
        flex: 1;
        font-size: .8em;
        padding: .5em 1em;
        color: rgba(#fff, .54);
    }

    .search {
        display: none;
        font-size: 2em;
        height: 1.25em;
        width: 1.25em;
        margin-left: .25em;
        align-items: center;
        justify-content: center;
        @include respond-to(mobile) {
            display: flex;
        }
    }
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5em;
    width: 1.6em;
    font-size: 1.25em;
    border-radius: 100%;
    background-color: $error;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
}

.tooltip {
    font-size: .6em;
    padding: .5em;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
}

.inline {
    display: inline-block;
}

section.search {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    width: 100%;
    min-height: 3em;
    background-color: $background;
    z-index: 1;
    .input {
        flex: 1;
    }
}

section.content {
    width: 100%;
    border-bottom: 2px solid rgba(#fff, .54);
    padding-bottom: .5em;
    transition: box-shadow 200ms;
    z-index: 0;

    &.scroll {
        box-shadow: rgba(0, 0, 0, .60) 0px 2px 6px 0px;
    }
}

input {
    background-color: rgba(#fff, .1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1.25em;
    font-size: 1em;
    width: 100%;
    padding: 0.5em .75em;
    outline: none;
    &::placeholder {
        color: rgba(#fff, .54);
        transition: color 200ms;
    }
    &:focus {
        &::placeholder {
            color: rgba(#fff, .2);
        }
    }
}

.list {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: auto;
    font-size: .9em;
}

.item {
    padding: .5em 1em;
    border-bottom: 1px solid rgba(#fff, .2);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 48px;
    transition: background-color 200ms;
    background-color: rgba(#fff, 0);

    &:hover {
        background-color: rgba(#fff, .1);
    }
    .text {
        display: flex;
        align-items: center;
        flex: 1;
    }
}

a {
    text-decoration: none;
    color: $font-light;
    app-icon {
        display: none;
    }
    &.active {
        .item {
            background-color: rgba(#fff, .1);
        }
        app-icon {
            display: block;
        }
    }
}

.add {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    background-color: rgba(#fff, .1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1em;
    cursor: pointer;
    margin-left: .5em;
    transition: color 300ms, background-color 300ms;
    overflow: hidden;

    i {
        font-size: 1.2em;
    }

    &:hover {
        background-color: #fff;
        color: $background-light;
    }
    &:active {
        background-color: #ccc;
        border-color: #ccc;
    }
}

.no-item {
    color: rgba(#fff, .2);
}

.loading {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    text-align: center;
    margin: auto;
    font-size: .5em;
    padding: .5rem;
}

cdk-virtual-scroll-viewport {
    min-height: 100%;
}

.tooltip {
    font-size: .6em;
    padding: .5em;
    margin: .5em;
    white-space: nowrap;
    text-align: center;
    font-weight: 400;
    color: $font-light;
    background-color: $background-light;
    border-radius: 4px;
    @include box-shadow;
    pointer-events: none;
}

.info-block {
    button {
        width: 12em;
        margin-top: 2em;
    }
}

