<div class="container">
    <header>
        <div class="heading">{{heading}}</div>
        <div class="search" (touchrelease)="close ? event.emit({ type: 'close' }) : ''">
            <i class="material-icons">{{ close ? 'close' : 'search'}}</i>
        </div>
    </header>
    <section class="search">
        <div class="input">
            <input [(ngModel)]="search" [placeholder]="'Filter ' + model.lowercase_header">
        </div>
        <div class="add" (touchrelease)="event.emit({ type: 'new' })" click-responder>
            <i class="material-icons">add</i>
        </div>
    </section>
    <section class="content">
        <ng-content></ng-content>
    </section>
    <section class="list" #item_list (scroll)="atBottom()">
        <div #list_item class="item" *ngFor="let item of list" [title]="item?.custom_name || item?.name || item" (touchrelease)="select(item)">
            <div class="text">{{item?.custom_name || item?.name || item}}</div>
            <div class="icon" *ngIf="active === item.id">
                <i class="material-icons">done</i>
            </div>
        </div>
        <div class="no-item" *ngIf="!loading && (!list || list.length <= 0)">
            <div class="icon">
                <i class="material-icons">close</i>
            </div>
            <div class="text">{{ !search ? 'No ' + model.lowercase_header : 'No matches found'}}</div>
        </div>
    </section>
    <div class="loading" *ngIf="loading">
        <spinner type="bounce" color="#F44336"></spinner>
    </div>
</div>