<div class="container">
    <section class="select">
        <button widget>Add new</button>
    </section>
    <section>
        <div class="list" *ngIf="model.list && model.list.length > 0">
            <table>
                <thead>
                    <td class="name">Name</td>
                    <td class="flex">URL</td>
                    <td class="duo"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.list">
                        <td class="name">{{item.name}}</td>
                        <td class="flex">{{item.redirect}}</td>
                        <td class="duo">
                            <div class="action"><i class="backoffice-edit"></i></div>
                            <div class="action"><i class="backoffice-trash"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-block" *ngIf="!model.list || model.list.length <= 0">
            <div class="text">No authentication sources found</div>
        </div>
    </section>
</div>
