
@import 'shared.styles';

.container {
    padding: 1em;
}

.options {
    display: flex;
    font-size: 1.2em;
    max-width: 5em;
    margin: 0;
}

.action {
    height: 1.5em;
    width: 1.5em;
    min-width: 1.5em;
    border-radius: .65em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    &:hover {
        background-color: rgba(#000, .1);
    }
}

.table-row {
    .name {
        width: 8em;
        min-width: 8em;
    }
}

.state {
    height: 1.5em;
    width: 1.5em;
    margin: .25em;
    background-color: #000;
    border-radius: .8em;
    transition: margin 250ms, height 250ms, width 250ms, background-color 300ms;
    &.active {
        background-color: $success;
        height: .75em;
        width: .75em;
        margin: .625em;
    }
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: .5em .25em;
}

.duo {
    width: 6em;
    text-align: right;
}
