<div class="container" *ngIf="item">
    <div class="settings">
        <section class="select">
            <div class="dropdown">
                <button mat-button (tapped)="selectTriggerToAdd()" i18n="@@addTriggerAction">
                    Add trigger
                </button>
            </div>
            <mat-form-field appearance="outline">
                <div class="prefix" matPrefix>
                    <app-icon [icon]="{ class: 'backoffice-magnifying-glass' }"></app-icon>
                </div>
                <input
                    matInput
                    [(ngModel)]="search_str"
                    (ngModelChange)="filter($event)"
                    name="search-filter"
                    placeholder="Filter Triggers"
                />
            </mat-form-field>
        </section>
        <section class="list">
            <table *ngIf="filtered_triggers.length > 0; else empty_state">
                <thead>
                    <td class="small"></td>
                    <td class="flex" i18n="@@triggerTableName">Name</td>
                    <td class="count" i18n="@@triggerTableCount">Count</td>
                    <td class="count" i18n="@@triggerTableErrors">Errors</td>
                    <td class="added" i18n="@@triggerTableAddedTime">Added</td>
                    <td class="duo"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let trigger of filtered_triggers">
                        <!-- <i
                            hidden
                            binding
                            [sys]="item.id"
                            mod="_TRIGGER__1"
                            [bind]="trigger.id"
                            [(model)]="trigger_state[trigger.id]"
                            (modelChange)="updateComparisons(trigger.id)"
                        ></i> -->
                        <td class="small" [matTooltip]="comparisons[trigger.id]">
                            <div
                                class="state"
                                [class.active]="trigger_state[trigger.id]?.triggered"
                            ></div>
                        </td>
                        <td class="flex">
                            <a [routerLink]="['/triggers', trigger.id]" [matTooltip]="trigger.id"
                                >{{trigger.name}}</a
                            >
                        </td>
                        <td class="count">{{ trigger_state[trigger.id]?.trigger_count || '0' }}</td>
                        <td
                            class="count"
                            [matTooltip]="'Action Errors: ' + trigger_state[trigger.id]?.action_errors + '\nComparision Errors: ' + trigger_state[trigger.id]?.comparison_errors"
                        >
                            {{ (trigger_state[trigger.id]?.action_errors +
                            trigger_state[trigger.id]?.comparison_errors) || '0' }}
                        </td>
                        <td class="added">{{ (+trigger.created_at * 1000) | dateFrom }}</td>
                        <td class="duo">
                            <div class="actions">
                                <button
                                    mat-icon-button
                                    *ngIf="trigger.enable_webhook"
                                    (tapped)="copyWebhookURL(trigger)"
                                >
                                    <app-icon [icon]="{ class: 'backoffice-link' }"></app-icon>
                                </button>
                                <button mat-icon-button (tapped)="editTrigger(trigger)">
                                    <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
                                </button>
                                <button mat-icon-button (tapped)="deleteTrigger(trigger)">
                                    <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<ng-template #empty_state>
    <div class="info-block">
        <div class="text" i18n="@@triggerTableEmpty">
            {{ search_str ? 'No matching triggers' : 'No triggers for system' }}
        </div>
    </div>
</ng-template>
