<div class="container" *ngIf="item">
    <div class="settings">
        <section class="select">
            <div class="dropdown">
                <button mat-button (tapped)="selectTriggerToAdd()" i18n="@@addTriggerAction">Add trigger</button>
            </div>
            <mat-form-field appearance="outline">
                <div class="prefix" matPrefix>
                    <app-icon [icon]="{ class: 'backoffice-magnifying-glass' }"></app-icon>
                </div>
                <input
                    matInput
                    [(ngModel)]="search_str"
                    name="search-filter"
                    placeholder="Filter Triggers"
                />
            </mat-form-field>
        </section>
        <section class="list">
            <table *ngIf="trigger_list.length > 0; else empty_state">
                <thead>
                    <td class="small"></td>
                    <td class="flex" i18n="@@triggerTableName">Name</td>
                    <td class="count" i18n="@@triggerTableCount">Count</td>
                    <td class="added" i18n="@@triggerTableAddedTime">Added</td>
                    <td class="duo"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let trigger of trigger_list">
                        <td class="small">
                            <div class="state" [class.active]="trigger.enabled"></div>
                        </td>
                        <td class="flex">
                            <a [routerLink]="['/triggers', trigger.id]" [matTooltip]="trigger.id">{{trigger.name}}</a>
                        </td>
                        <td class="count">{{ trigger.activated_count || '0' }}</td>
                        <td class="added">{{ (+trigger.created_at * 1000) | dateFrom }}</td>
                        <td class="duo">
                            <div class="actions">
                                <button mat-icon-button (tapped)="editTrigger(trigger)">
                                    <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
                                </button>
                                <button mat-icon-button (tapped)="deleteTrigger(trigger)">
                                    <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<ng-template #empty_state>
    <div class="info-block">
        <div class="text" i18n="@@triggerTableEmpty">No triggers for system</div>
    </div>
</ng-template>
