
@import 'shared.styles';

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.icon {
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.content {
    width: 16rem;
    text-align: center;
    font-size: .8em;
}

.info-block {
    width: 16em;
    height: 12em;
}

mat-dialog-actions button {
    min-width: 8em;
}

label {
    font-size: .8em;
    font-weight: 500;
    margin: .5em 0;

    &.error {
        color: $error;
    }

    span {
        color: $pending;
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    width: 36em;
    max-width: 100%;

    div.error {
        position: absolute;
        bottom: .5em;
        left: 1em;
        color: $error;
        font-size: .7em;
        font-weight: 500;
    }
}
