
canvas {
    width: 100%;
    border-radius: 4px;
    height: 10em;
    background-color: #f0f0f0;
}

.field {
    display: flex;
    margin: .25em 0;
    border-radius: 4px;
    padding: .25em .5em;
    &:nth-child(2n) {
        background-color: rgba(#000, .05);
    }
}

label {
    font-size: .9em;
    font-weight: 500;
    min-width: 8em;
    text-align: left;
}
