<div class="container" #container [@show] [style.top]="model.top + 'px'" [class.right]="model.right">
    <ng-container *ngIf="model.data">
        <div class="item" *ngFor="let item of model.data" (touchrelease)="event(item)">
            <div class="icon">
                <i *ngIf="item.icon && item.icon.class" [class]="item.icon.class">{{item.icon.value}}</i>
                <img *ngIf="item.icon && item.icon.src" [src]="item.icon.src">
            </div>
            <div class="text">{{item?.name}}</div>
        </div>
    </ng-container>
</div>