<div class="container">
    <main>
        <item-display
            name="test"
            route="about"
            [item]="{ name: 'About' }"
            [has_change]="false"
            [tabs]="[{ id: 'about', name: 'About', icon: { class: 'backoffice-info' } }]"
        >
                <div class="about">
                    <div class="user" *ngIf="model.user">
                        <div class="avatar" [style.background-image]="model.user.image ? 'url(' + model.user.image + ')' : ''"></div>
                        <div class="details">
                            <div class="name">{{ model.user.name }}</div>
                            <div class="email">{{ model.user.email }}</div>
                            <div class="phone">{{ model.user.phone }}</div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">Backoffice Version</div>
                        <div class="value">{{ model.backoffice_version || '0.0.0' }}</div>
                        <div class="button" *ngIf="model.changelog">
                            <button mat-button name="fill-width" (tapped)="changelog(model.changelog)">View Changelog</button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="label">Backoffice Build Date</div>
                        <div class="value">{{ model.backoffice_build || 'Today' }}</div>
                    </div>
                    <div class="field">
                        <div class="label">Engine Version</div>
                        <div class="value">{{ model.engine_version || '0.0.0' }}</div>
                        <div class="button" *ngIf="model.engine_changelog">
                            <button mat-button name="full-width" (tapped)="changelog(model.engine_changelog)">View Changelog</button>
                        </div>
                    </div>
                </div>
        </item-display>
    </main>
</div>
