<div class="container" *ngIf="item">
    <section class="details">
        <div class="field" *ngIf="item.created_at">
            <label i18n="@@userCreatedAtLabel">Created:</label>
            <div class="value">{{ item.created_at * 1000 | dateFrom }}</div>
        </div>
        <div class="field" *ngIf="item.updated_at">
            <label i18n="@userUpdatedAtLabel">Updated:</label>
            <div class="value">{{ item.updated_at * 1000 | dateFrom }}</div>
        </div>
    </section>
    <div class="settings">
        <header i18n="@@permissionsHeader">Permissions</header>
        <section>
            <table>
                <tr>
                    <td class="field" i18n="@@techSupportRole">Tech Support</td>
                    <td class="flex">{{ item.support === true }}</td>
                </tr>
                <tr>
                    <td class="field" i18n="@@systemAdminRole">System Admin</td>
                    <td class="flex">{{ item.sys_admin === true }}</td>
                </tr>
            </table>
        </section>
    </div>
</div>
