<div class="container">
    <div class="settings">
        <section class="select">
            <div class="dropdown">
                <item-search-field [service]="zone_service" (ngModelChange)="new_zone = $event.id"></item-search-field>
            </div>
            <button mat-button [disabled]="!new_zone" (tapped)="joinZone()">Join zone</button>
        </section>
        <section>
            <table *ngIf="zones && zones.length > 0">
                <thead>
                    <td class="small"></td>
                    <td class="name">Name</td>
                    <td class="description">Description</td>
                    <td *ngIf="zones.length > 1" class="small"></td>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                    <tr *ngFor="let zone of zones" cdkDrag>
                        <td class="small">
                            <div class="action grab" cdkDragHandle><i class="bacoffice-select-arrows"></i></div>
                        </td>
                        <td class="name"><a (touchrelease)="goto(zone)">{{zone.name}}</a></td>
                        <td class="description">{{zone.description}}</td>
                        <td *ngIf="zones.length > 1" class="small">
                            <div class="action"><i class="backoffice-publish"></i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="info-block" *ngIf="!zones || zones.length <= 0">
                <div class="text">No zones for system</div>
            </div>
        </section>
    </div>
</div>