
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
}

section {
    padding: .5em .25em;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    min-width: 10em;
}

div {
    .small {
        width: 2em;
    }
}
