<div class="container">
    <div class="settings">
        <section class="select">
            <div class="dropdown"><dropdown placeholder="Select zone"></dropdown></div>
            <div class="btn"><btn>Join zone</btn></div>
        </section>
        <section>
            <table *ngIf="model.zones && model.zones.length > 0">
                <thead>
                    <tr>
                        <td></td>
                        <td>Name</td>
                        <td>Description</td>
                        <td *ngIf="model.zones.length > 1"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let zone of model.zones">
                        <td class="small">
                            <div class="action grab"><i class="material-icons">reorder</i></div>
                        </td>
                        <td class="name"><a (touchrelease)="goto(zone)">{{zone.name}}</a></td>
                        <td>{{zone.description}}</td>
                        <td *ngIf="model.zones.length > 1" class="small">
                            <div class="action"><i class="material-icons">exit_to_app</i></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="no-item" *ngIf="!model.zones || model.zones.length <= 0">
                <div class="text">No zones for system</div>
            </div>
        </section>
    </div>
</div>