<div class="container" *ngIf="menu_items" [class.show]="show" (mouseleave)="tooltip = 'false'" (tapped)="cancelClose()" (window:click)="close()">
    <ng-container *ngFor="let item of menu_items">
        <div
            class="item"
            [title]="item.name"
            a-tooltip
            name="dark"
            position="right"
            [show]="tooltip != null ? (tooltip === item.route || tooltip === item.link) : false"
            (showChange)="$event ? (tooltip = (item.route || item.link)) : ''"
            [content]="info"
            [hover]="true"
        >
            <ng-template #info>
                <div class="tooltip">{{ item.name }}</div>
            </ng-template>
            <a *ngIf="item.link" [href]="item.link">
                <app-icon [icon]="item?.icon"></app-icon>
                <div class="text" *ngIf="!item?.hide_name">{{ item?.name }}</div>
                <div class="bar"></div>
            </a>
            <a *ngIf="!item.link" [routerLink]="[item.route]" routerLinkActive="active">
                <app-icon [icon]="item?.icon"></app-icon>
                <div class="text" *ngIf="!item?.hide_name">{{ item?.name }}</div>
                <div class="bar"></div>
            </a>
        </div>
    </ng-container>
</div>
