
@import 'shared.styles';

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-primary;

    &.uat {
        background-color: $color-develop;
    }
}

.login-container {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;
    min-width: 20em;
    min-height: 14em;
    font-size: 1.25em;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
    @include respond-to(mobile) {
        border-radius: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
    }
}

.logo {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4em;
    border-radius: 8px;
    width: calc(100% - 2em);
    &:hover {
        img, i {
            opacity: .87;
        }
    }
    img {
        height: 2em;
    }

    i {
        font-size: 2em;
    }
}

.form {

}

.loader {
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(#000, .54);

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        margin: .5em;
    }

    .text {
        margin: 1em 1em 2em;
    }
}
