<div class="searchbar" widget>
    <div class="field" [class.focus]="model.focus || filter || model.dictate">
        <div class="icon" (touchrelease)="focusInput()">
            <i class="backoffice-magnifying-glass"></i>
        </div>
        <div class="input">
            <input #input [(ngModel)]="filter" (ngModelChange)="post()"
                (focus)="model.focus = true; focus.emit($event)"
                (blur)="model.focus = false; blur.emit($event)"
                [placeholder]="placeholder">
        </div>
        <div class="icon" *ngIf="model.speech && dictation" [class.active]="model.dictate" (tapped)="startDictation()">
            <i class="backoffice-mic"></i>
        </div>
        <div class="icon close not-mobile" *ngIf="filter && clearable" (tapped)="clear()">
            <i class="backoffice-cross"></i>
        </div>
        <div class="icon close mobile-only" (tapped)="clear()">
            <i class="backoffice-cross"></i>
        </div>
        <ng-content></ng-content>
    </div>
</div>
