@import 'shared.styles';

$height: 3em;

searchbar:host {
    width: 100%;
}

.searchbar {
    position: relative;
    width: 100%;
    min-height: $height + .5em;
    display: flex;
    align-items: center;
    font-size: .9em;
}

.field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 0;
    background-color: rgba(#000, .2);
    caret-color: $color-primary;
    color: #fff;
    min-height: $height;
    height: $height;
    border-radius: 4px;
    @include box-shadow(0);
    transition: width 300ms, color 300ms, background-color 300ms, box-shadow 300ms;

    @include respond-to(mobile) {
        background: none;
    }

    .input {
        @include respond-to(mobile) {
            display: none;
        }
    }

    input {

        &::placeholder {
            transition: color 300ms;
            color: rgba(#fff, .2);
        }
    }

    &.focus {
        color: rgba(#000, .87);
        background-color: #fff;
        @include box-shadow;

        @include respond-to(mobile) {
            position: absolute;
            right: 0;
            width: calc(100vw - 5em);
            min-height: $height - .25em;
            height: $height - .25em;
        }
        .input {
            @include respond-to(mobile) {
                display: initial;
            }
        }

        input {

            &::placeholder {
                color: rgba(#000, .54);
            }
        }

        .icon {
            &:not(&:first-child) {
                @include respond-to(mobile) {
                    display: flex;
                }
            }
        }
    }
}

.input {
    flex: 1;
}

input {
    font-size: 1em;
    background: none;
    outline: none;
    color: rgba(#000, .87);
    border: none;
    width: 100%;
    padding: .5em 0;
}
