<div class="container" *ngIf="item">
    <div class="settings">
        <table *ngIf="system_trigger_list.length > 0; else empty_state">
            <thead>
                <td class="small"></td>
                <td class="flex" i18n="@@systemTableName">Name</td>
                <td class="flex" i18n="@@systemTableAdded">Added</td>
                <td class="small"></td>
            </thead>
            <tbody>
                <tr *ngFor="let trigger of system_trigger_list">
                    <td class="small">
                        <div class="state" [class.active]="trigger.bookable"></div>
                    </td>
                    <td class="flex">
                        <a *ngIf="trigger.id" [routerLink]="['/systems', trigger.id]" [matTooltip]="trigger.id">
                            {{trigger.name}}
                        </a>
                    </td>
                    <td>{{ +(trigger.created_at) * 1000 | dateFrom }}</td>
                    <td class="small">
                        <button mat-icon-button (click)="delete(trigger)">
                            <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #empty_state>
    <div class="info-block">
        <div class="text" i18n="@@systemTableEmpty">No systems with trigger</div>
    </div>
</ng-template>

