<div class="container" *ngIf="item">
    <section class="select">
        <button mat-button (click)="start()"  i18n="@@systemStartAction">Start System</button>
        <button mat-button (click)="stop()" i18n="@@systemStopAction">Stop System</button>
    </section>
    <section class="details">
        <div class="field" *ngIf="item.support_url">
            <label i18n="@@systemUrlLabel">Support URL:</label>
            <div class="value">
                <a [href]="item.support_url" target="_blank">{{item.support_url}}</a>
            </div>
        </div>
        <div class="field" *ngIf="item.bookable">
            <label i18n="@@systemBookableLabel">Bookable Room:</label>
            <div class="value">{{item.bookable ? 'Yes' : 'No'}}</div>
        </div>
        <div class="field" *ngIf="item.bookable && item.email">
            <label i18n="@@emailLabel">Email:&nbsp;</label>
            <a *ngIf="item.email" [href]="'mailto:' + item.email" target="_blank">{{item.email}}</a>
        </div>
        <div class="field" *ngIf="item.capacity">
            <label i18n="@@capacityLabel">Capacity:</label>
            <div class="value">{{item.capacity}}</div>
        </div>
        <div class="field" *ngIf="item.installed_ui_devices">
            <label i18n="@@systemPanelCountLabel">Installed Touch Panels:</label>
            <div class="value">{{item.installed_ui_devices}}</div>
        </div>
        <div class="field" *ngIf="item.created_at">
            <label i18n="@@systemCreatedAtLabel">Created:</label>
            <div class="value">{{ item.created_at * 1000 | dateFrom }}</div>
        </div>
        <div class="field" *ngIf="item.updated_at">
            <label i18n="@systemUpdatedAtLabel">Updated:</label>
            <div class="value">{{ item.updated_at * 1000 | dateFrom }}</div>
        </div>
    </section>
    <hr />
    <header class="settings" i18n="@@settingsLabel">Settings</header>
    <section *ngIf="item.settings && other_settings; else load_state">
        <a-settings-form [id]="item.id" [merge]="true" [settings]="item.settings" [merge_settings]="other_settings || []"></a-settings-form>
    </section>
</div>
<ng-template #load_state>
    <div class="info-block">
        <div class="icon">
            <mat-spinner diameter="32"></mat-spinner>
        </div>
        <div class="text" i18n="@@systemLoadingLabel">Loading system settings...</div>
    </div>
</ng-template>
