<div class="container" *ngIf="item">
    <div class="settings">
        <section class="select">
            <mat-form-field appearance="outline">
                <div class="prefix" matPrefix>
                    <app-icon [icon]="{ class: 'backoffice-magnifying-glass' }"></app-icon>
                </div>
                <input
                    matInput
                    [(ngModel)]="search_str"
                    (ngModelChange)="search$.next($event)"
                    name="search-filter"
                    placeholder="Filter Modules"
                />
            </mat-form-field>
        </section>
        <section class="list">
            <table *ngIf="device_list && device_list.length > 0">
                <thead>
                    <td class="small" i18n="@@moduleTableState">State</td>
                    <td class="flex" i18n="@@moduleTableName">Name</td>
                    <td class="system" i18n="@@moduleTableSystem">System</td>
                    <td class="small"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of device_list">
                        <td class="small">
                            <div class="state"
                                [class.active]="item.running && item.connected"
                                [class.inactive]="item.running && !item.connected"
                                [class.black]="!item.running"></div>
                            <!-- <i binding [(model)]="item.connected" [sys]="item.system.id" [mod]="item.module_name" bind="connected"></i> -->
                        </td>
                        <td class="flex">
                            <a [routerLink]="['/modules', item.id]" [matTooltip]="item.id">{{item.name}}</a>
                        </td>
                        <td class="system">
                            <a [routerLink]="['/systems', item.control_system_id]">
                                {{item.system?.name}} (<span class="id">{{item.control_system_id}}</span>)
                            </a>
                        </td>
                        <td class="small">
                            <button mat-icon-button (click)="removeModule(item)"><i class="backoffice-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="info-block" *ngIf="!device_list || device_list.length <= 0">
                <div class="text" i18n="@@moduleTableEmpty">No modules with driver</div>
            </div>
        </section>
    </div>
</div>
