<div class="container">
    <div class="settings">
        <section class="select">
            <div class="btn">
                <input placeholder="Filter devices">
            </div>
        </section>
        <section class="list">
            <div class="table" *ngIf="model.list && model.list.length > 0">
                <div class="table-head table-row">
                    <div class="small"></div>
                    <div class="flex">Name</div>
                    <div class="system">System</div>
                    <div class="small"></div>
                </div>
                <div class="table-body">
                    <div class="table-row" *ngFor="let item of model.list">
                        <div class="small">
                            <div class="state" [class.active]="item.enabled"></div>
                        </div>
                        <div class="flex"><a (touchrelease)="goto(item)">{{item.name}}</a></div>
                        <div class="system"><a (touchrelease)="goto(item.system)">
                                {{item.system?.name}} (<span class="id">{{item.system?.id}}</span>)
                            </a></div>
                        <div class="small">
                            <div class="action"><i class="material-icons">delete</i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block" *ngIf="!model.list || model.list.length <= 0">
                <div class="text">No devices with driver</div>
            </div>
        </section>
    </div>
</div>
