
@import 'shared.styles';

.container {
    position: absolute;
    top: .5em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    padding: .5em;
}

.item {
    width: 100%;
    min-height: 2.5em;
    height: 2.5em;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 1px auto;
    padding: .5em;
    @include box-shadow(0);
    transition: box-shadow 200ms, border 200ms, background-color 200ms, border-radius 200ms;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4px;
    > * {
        padding: 1em .5em;
    }

    @include respond-to(mobile) {
        min-width: 90%;
    }
    &:hover {
        border-color: #f0f0f0;
        background-color: #f0f0f0;
        @include box-shadow;
        .options {
            display: flex;
            @include respond-to(mobile) {
                display: none;
            }
        }
    }

}

.name {
    font-size: 1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 2;
    @include respond-to(mobile) {
        flex: 3;
    }
}

.id {
    user-select: all;
    font-family: $mono-font;
    @include respond-to(mobile) {
        display: none;
    }
}

.details {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .8em;
    flex: 1;
    text-decoration: none;
}

.options {
    display: none;
    align-items: center;
    margin-left: .25em;

    .icon {
        height: 1.2em;
        width: 1.2em;
        margin: 0 .25em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(#000, .54);
        cursor: pointer;
        &:hover {
            color: rgba(#000, .87);
        }

        i {
            font-size: 1.2em;
        }
    }
}

.chip {
    font-size: .9em;
    padding: 0 .75em;
    height: 1.5em;
    border-radius: .8em;
    background-color: #ccc;
    margin: 0 .5em;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(#000,.2), 0 1px 1px 0 rgba(#000,.14), 0 2px 1px -1px rgba(#000,.12);
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;

    &:first-child {
        margin-left: 0;
    }

    &.secure {
        background-color: $success;
        color: #fff;
        padding-left: .4em;
    }

    &.connect {
        background-color: $error;
        color: #fff;
        &.active {
            background-color: $success;
        }
    }

    &.systems {
        background-color: #9C27B0;
        color: #fff;
    }

    &.devices {
        background-color: #3F51B5;
        color: #fff;
    }

    &.triggers {
        background-color: #00BCD4;
        color: #fff;
    }

    &.users {
        background-color: #43A047;
        color: #fff;
    }

    &.zones {
        background-color: #F4511E;
        color: #fff;
    }

    .icon {
        height: 1.2em;
        width: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.no-item {
    .text {
        color: rgba(#000, .54);
    }
}

.more {
    position: fixed;
    bottom: 1em;
    right: 1em;
    font-size: .5em;
}

.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
