:root {
    /* Brand */
    --brand-100: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-200: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-300: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-400: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-500: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-600: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-content: hsl(0, 0%, 100%); /* White content for contrast */

    /* Primary */
    --primary: hsl(336, 57%, 48%); /* #C52B67 */
    --primary-focus: hsl(336, 57%, 38%); /* Darker shade */
    --primary-content: hsl(0, 0%, 100%); /* White content for contrast */

    /* Secondary */
    --secondary: hsl(237, 37%, 20%); /* #292F5B */
    --secondary-focus: hsl(237, 37%, 10%); /* Darker shade */
    --secondary-content: hsl(0, 0%, 100%); /* White content for contrast */

    /* Accent (Complementary color to Primary) */
    --accent: hsl(156, 57%, 48%); /* A contrasting greenish tone */
    --accent-focus: hsl(156, 57%, 38%); /* Darker shade of the a */
    --accent-content: hsl(0, 0%, 0%); /* Black content for contrast */

    /* Neutral */
    --neutral: hsl(0, 0%, 50%); /* Grey */
    --neutral-focus: hsl(0, 0%, 40%); /* Darker Grey */
    --neutral-content: hsl(0, 0%, 100%); /* White content on grey background */

    /* Base */
    --base-100: hsl(0, 0%, 98%); /* Near White */
    --base-200: hsl(0, 0%, 90%); /* Light Grey */
    --base-300: hsl(0, 0%, 80%); /* Mid Grey */
    --base-400: hsl(0, 0%, 80%); /* Mid Grey */
    --base-content: hsl(0, 0%, 0%); /* Black content on white background */

    /* Info */
    --info: hsla(217, 91%, 60%, 1); /* Light Blue */
    --info-light: hsla(217, 100%, 80%, 0.5); /* Light Blue */
    --info-content: hsl(
        0,
        0%,
        100%
    ); /* White content on light blue background */

    /* Warning */
    --warn: hsla(45, 100%, 64%, 1); /* Yellow */
    --warn-light: #fff8e1; /* Yellow */
    --warn-content: hsl(0, 0%, 0%); /* Black content on yellow background */

    /* Success */
    --success: hsla(118, 50%, 43%, 1); /* Light Green */
    --success-light: #e8f5e9; /* Light Green */
    --success-content: hsl(
        0,
        0%,
        100%
    ); /* White content on light green background */

    /* Error */
    --error: hsla(354, 75%, 53%, 1); /* Red */
    --error-light: #ffebee; /* Red */
    --error-content: hsl(0, 0%, 100%); /* White content on red background */
}

.theme-dark {
    /* Brand */
    --brand-100: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-200: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-300: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-400: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-500: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-600: hsl(336, 57%, 48%); /* #C52B67 */
    --brand-content: hsl(0, 0%, 100%); /* White content for contrast */

    /* Primary */
    --primary: hsl(336, 57%, 48%); /* #C52B67 */
    --primary-focus: hsl(336, 57%, 38%); /* Darker shade */
    --primary-content: hsl(0, 0%, 100%); /* White content for contrast */

    --secondary: hsl(336, 57%, 48%); /* #C52B67 */
    --secondary-focus: hsl(336, 57%, 38%); /* Darker shade */
    --secondary-content: hsl(0, 0%, 100%); /* White content for contrast */

    /* Accent */
    --accent: hsl(156, 57%, 28%); /* Darker shade of complementary color */
    --accent-focus: hsl(158, 17%, 9%); /* Even darker shade */
    --accent-content: hsl(0, 0%, 80%); /* Lighter text for contrast */

    /* Neutral */
    --neutral: hsl(0, 0%, 20%); /* Dark Grey */
    --neutral-focus: hsl(0, 0%, 15%); /* Even darker Grey */
    --neutral-content: hsl(0, 0%, 80%); /* Light grey text for contrast */

    /* Base */
    --base-100: hsl(0, 0%, 10%); /* Near Black */
    --base-200: hsl(0, 0%, 15%); /* Dark Grey */
    --base-300: hsl(0, 0%, 20%); /* Mid-Dark Grey */
    --base-400: hsl(0, 0%, 30%); /* Mid Grey */
    --base-content: hsl(0, 0%, 80%); /* Light grey text for contrast */

    /* Info */
    --info: hsla(217, 91%, 60%, 1); /* Light Blue */
    --info-light: #0d47a1; /* Light Blue */
    --info-content: hsl(
        0,
        0%,
        100%
    ); /* White content on light blue background */

    /* Warning */
    --warn: hsla(45, 100%, 64%, 1); /* Yellow */
    --warn-light: hsla(45, 100%, 32%, 0.5); /* Yellow */
    --warn-content: hsl(0, 0%, 0%); /* Black content on yellow background */

    /* Success */
    --success: hsla(118, 50%, 43%, 1); /* Light Green */
    --success-light: hsla(118, 50%, 12%, 0.5); /* Light Green */
    --success-content: hsl(
        0,
        0%,
        100%
    ); /* White content on light green background */

    /* Error */
    --error: hsla(354, 75%, 53%, 1); /* Red */
    --error-light: hsla(354, 75%, 22%, 0.5); /* Red */
    --error-content: hsl(0, 0%, 100%); /* White content on red background */
}

@media screen {
    .print-only {
        display: none !important;
    }
}

@media print {
    .screen-only {
        display: none !important;
    }
    html,
    body {
        position: relative;
        width: 21cm;
        min-height: 29.7cm;
    }
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    background: var(--base-200);
}

body {
    touch-action: pan-x pan-y;
    background-color: var(--base-100);
    color: var(--base-content);
    font-family: var(--font);
}

* {
    user-select: none;
    box-sizing: border-box;
}

.material-symbols,
.material-symbols-outlined {
    font-size: 1em;
}

span.highlight {
    color: var(--primary);
}

.mono {
    font-family: 'Fira Code', monospace;
}

@keyframes crossfade {
    0% {
        background-color: #d32f2f;
    }
    20% {
        background-color: #7b1fa2;
    }
    40% {
        background-color: #1976d2;
    }
    60% {
        background-color: #00796b;
    }
    80% {
        background-color: #ff8f00;
    }
    100% {
        background-color: #d32f2f;
    }
}

#placeos .mat-radio-labelc {
    font-weight: normal;
}

#placeos .markdown {
    ol {
        list-style-type: decimal;
        margin-left: 1.5rem;
    }
    ul {
        list-style-type: disc;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        padding-right: 0.5rem;
    }

    li {
        margin-bottom: 0.25rem;
    }

    p:not(:last-child) {
        margin-bottom: 0.75rem;
    }
    p {
        font-size: 0.875rem;
    }
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-weight: 600;
        border-bottom: 1px solid var(--base-300);
        padding-bottom: 0.5rem;
    }
    h2 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        font-weight: 600;
        border-bottom: 1px solid var(--base-300);
        padding-bottom: 0.25rem;
    }
    &.changelog h2 {
        margin: 0 -0.5rem;
        font-family: monospace;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        background-color: var(--base-200);
        font-weight: 400;
    }
    h3 {
        font-size: 1.125rem;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
        font-weight: 500;
        width: 100%;
        border-bottom: 1px solid var(--base-300);
    }

    a {
        color: var(--info);
        text-decoration: underline;
    }

    pre {
        white-space: pre;
        overflow-x: auto;
        padding: 0.75rem;
        background: var(--base-200);
        color: var(--base-content);
        border-radius: 4px;
        margin-bottom: 1rem;
    }

    code {
        font-family: 'Fira Code', monospace;
        white-space: inherit; /* ensures consistency */
    }
}

#placeos .selectable {
    user-select: auto;
    p,
    li,
    code,
    pre,
    div {
        user-select: text;
    }
}

.text-mono {
    font-family: monospace;
}

.cdk-drag-preview {
    background-color: var(--base-100);
    border: none;
    border-radius: 4px;
    @apply shadow;
}
