.dark {
    button[mat-button].mat-button,
    a[button] {
        background-color: var(--placeos-pink);
        border: 1px solid var(--placeos-pink);

        &.inverse {
            color: #fff;
        }
    }
}

button[mat-button].mat-button,
a[button] {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--font-light);
    font-weight: 400;
    border-radius: 4px;

    &.inverse {
        background: none;
        color: #000;
    }

    &.clear {
        background: none;
        border: none;
        color: inherit;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        background-color: rgba(#000, 0.12);
        color: rgba(#000, 0.2);
        border-color: rgba(#000, 0.2);
        pointer-events: none;
    }
}

a.underline {
    &:hover {
        @apply text-blue-700;
        font-weight: 500;
    }
}
.dark a.underline {
    &:hover {
        @apply text-blue-500;
    }
}

button.mat-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;

    &:focus {
        outline: none;
    }

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    app-icon {
        font-size: 1.5rem;
    }
}

mat-form-field {
    &.mat-form-field-appearance-outline.mat-focused {
        .mat-form-field-outline-thick {
            color: var(--primary);
        }
    }

    &.metrics {
        .mat-form-field-wrapper {
            padding: 0;
        }

        .mat-form-field-outline {
            border-radius: 4px;

            * {
                color: #fff;
                border-color: #fff;
            }
        }

        .mat-select-value {
            color: #fff;
        }
    }
}

.mat-form-field-infix {
    border-top: none;
    top: 0.1em !important;
}

.mat-select-panel {
    .mat-option {
        &.mat-selected {
            &:not(.mat-option-disabled) {
                color: var(--primary);
            }
        }
    }
}

mat-select {
    .mat-select-trigger {
        .mat-select-arrow-wrapper {
            transform: none;
        }
    }
}

.tab-group[widget] {
    main {
        min-height: 1px;
        max-height: calc(100vh - 13em);
    }
    .tab-headers {
        width: 100%;
    }
}

.overlay-backdrop {
    background-color: rgba(#000, 0.6);
}

.dark .mat-dialog-container {
    header {
        background-color: var(--placeos-pink);
    }
}

mat-dialog-container.mat-dialog-container {
    padding: 0;

    mat-dialog-content {
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
        align-items: center;
        padding: 0.5em 1em;
        width: 100%;
        background-color: var(--primary);
        color: var(--font-light);

        h1,
        h2,
        h3,
        h4 {
            flex: 1;
            min-width: 50%;
        }

        > * {
            margin: 0;
        }
    }

    .body,
    main {
        padding: 1em;
        pointer-events: auto;
        overflow: hidden auto;
    }

    mat-dialog-actions {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

.mat-simple-snackbar {
    button.mat-button {
        background: none;
        border: none;
    }
}

.mat-snack-bar-container {
    &.success {
        background-color: var(--success);
        color: #fff;
    }
    &.warn {
        background-color: var(--pending);
        color: #fff;
    }
    &.error {
        background-color: var(--error);
        color: #fff;
    }
    &.info {
        background-color: var(--secondary);
        color: #fff;
    }

    span {
        white-space: pre-line;
    }
}

.mat-tooltip {
    background-color: var(--bg-dark);
    font-size: 0.8rem;
    white-space: pre-line;
}

.formatted-driver-name {
    display: flex;
    align-items: center;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.2em;
        width: 1.2em;
        font-size: 1.5rem;
    }
}

sidebar,
mat-option {
    span.small,
    div.small {
        font-size: 0.8rem;
        margin: 0 0.5rem;
        opacity: 0.75;
    }

    .item {
        span {
            &:hover {
                opacity: 1;
            }
        }
    }
}

mat-expansion-panel {
    &.no-padding {
        .mat-expansion-panel-body {
            padding: 0 !important;
        }
    }

    mat-expansion-panel-header {
        .mat-content {
            overflow: visible;
        }
    }
}

mat-checkbox {
    label {
        @apply max-w-full flex-auto;

        .mat-checkbox-label {
            @apply flex-1 min-w-0 text-inherit;
        }
    }
}

.dark-mode,
.dark {
    button[mat-button].mat-button {
        &[disabled] {
            background-color: rgba(#fff, 0.35);
            border-color: rgba(#fff, 0.2);
        }
    }

    system-modules,
    driver-devices {
        .state {
            background-color: #fff;
        }
    }

    app-debug-output {
        .header {
            color: #fff;
            background-color: #424242;
        }

        .content {
            border: 1px solid #999;
        }
    }

    app-upload-list {
        .upload-list {
            background-color: #424242;
            color: #fff;

            ul li {
                &:nth-child(2n) {
                    background-color: rgba(#fff, 0.1);
                }
                &:hover {
                    background-color: rgba(#fff, 0.2);
                }
            }
        }
    }
}

.editor {
    .external-setting {
        text-decoration: underline;
    }
    .external-setting-margin {
        background-color: #d500f9;
        width: 5px !important;
        margin-left: 3px;
    }
    .encryption-none {
        text-decoration: underline;
    }
    .encryption-none-margin {
        background-color: #43a047;
        width: 5px !important;
        margin-left: 3px;
    }
    .encryption-support {
        text-decoration: underline;
    }
    .encryption-support-margin {
        background-color: #fdd835;
        width: 5px !important;
        margin-left: 3px;
    }
    .encryption-admin {
        text-decoration: underline;
    }
    .encryption-admin-margin {
        background-color: #fb8c00;
        width: 5px !important;
        margin-left: 3px;
    }
    .encryption-hide {
        text-decoration: underline;
    }
    .encryption-hide-margin {
        background-color: #e53935;
        width: 5px !important;
        margin-left: 3px;
    }
}

mat-panel-title {
    display: flex;
    align-items: center;
}

[role='table'] {
    overflow: auto;
}

[table-head] {
    @apply sticky top-0 z-50 flex items-center bg-gray-300 border-b border-black divide-x divide-gray-400 font-medium;

    > div {
        @apply flex items-center;
        height: 2.75rem;
    }
}

[table-row] {
    @apply flex items-center border-b border-gray-300 divide-x divide-gray-300 hover:bg-gray-100;
    height: 3.25rem;

    > div {
        @apply flex items-center overflow-hidden;
        flex-shrink: 0;
        height: 3.25rem;
        min-width: 2rem;
        user-select: text;
    }
}

[empty-state] {
    @apply flex flex-col items-center p-8 space-y-4;
}

#placeos .dark-mode [table-head],
#placeos .dark [table-head],
#placeos.dark [table-head] {
    @apply bg-gray-600 border-gray-300;
}

.dark-mode [table-row],
.dark [table-row] {
    @apply hover:bg-opacity-10;
}

.dark-mode .mat-expansion-panel,
.dark-mode .mat-expansion-panel:focus {
    background-color: #505050;
}

.dark-mode .mat-expansion-panel-header:hover {
    background-color: #fff1 !important;
}

.dark-mode .mat-expansion-panel-header-title {
    color: #fff;
}

.cdk-drag-preview {
    @apply bg-white rounded border-none shadow;
}

.mat-button-wrapper {
    @apply flex items-center justify-center h-full;
}

.monaco-editor-hover {
    @apply pointer-events-none;
}

.dark {
    .mat-menu-panel {
        @apply bg-grey;
    }

    .mat-menu-item {
        @apply text-white;
    }

    .mat-dialog-container,
    .mat-autocomplete-panel,
    .mat-select-panel {
        @apply bg-grey text-white;
    }

    .mat-tab-label,
    .mat-checkbox-label,
    .mat-tab-link,
    .mat-option-text,
    .mat-tab-header-pagination {
        @apply text-white;

        &.mat-active {
            @apply text-primary;
        }
    }

    mat-option:hover {
        @apply bg-white bg-opacity-5;
    }

    .mat-checkbox-disabled {
        .mat-checkbox-label {
            @apply text-opacity-30;
        }

        .mat-checkbox-frame {
            border-color: #ccc4;
        }
    }

    .mat-tab-header-pagination-disabled {
        opacity: 0.3;
    }

    .mat-tab-header-pagination-chevron {
        border-color: #fff;
    }

    .mat-card {
        background-color: #313131;
        @apply text-white;
    }

    .mat-select-placeholder {
        @apply text-white text-opacity-40;
    }

    .mat-select-value-text {
        @apply text-white;
    }

    .mat-checkbox-frame {
        border-color: #ccc8;
    }

    .mat-form-field-outline > * {
        color: #fff4;
    }
}

.mat-menu-item[disabled] {
    @apply text-opacity-30;
}

#placeos .mat-tooltip {
    background-color: #424242;
    @apply text-white;
}

#placeos .dark .mat-tooltip {
    background-color: #535353;
    @apply text-white shadow;
}

#placeos .mat-ink-bar {
    @apply bg-primary;
}

#placeos .dark .mat-ink-bar {
    @apply bg-pink;
}
#placeos {
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: var(--primary);
    }

    .dark {
        .mat-progress-spinner circle,
        .mat-spinner circle {
            stroke: var(--placeos-pink);
        }
    }

    .mat-checkbox-checked .mat-checkbox-background {
        @apply bg-primary;
    }
}

#placeos .markdown {
    display: block;

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: .5rem 0;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        margin: .5rem 0;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
        margin: .5rem 0;
        text-decoration: underline;
    }

    p {
        padding: 0 1rem;
    }

    ul {
        list-style-type: disc;

        li {
            margin-left: 1rem;
        }
    }

    a {
        text-decoration: underline;
        color: var(--primary);
    }
}

#placeos {
    code {
        padding: .25rem;
        background: rgba(0,0,0, 0.2);
        border-radius: 4px;
        font-size: .75rem;
        font-family: 'Fira Code', monospace;
    }
}


#placeos .dark {
    code {
        background: rgba(255,255,255, 0.2);
    }

    .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover) {
        background-color: #535353;
    }

    mat-form-field [mat-icon-button],
    mat-form-field app-icon {
        color: rgba(255,255,255, 0.65);
    }

    mat-form-field .mat-select-arrow {
        border-top-color: rgba(255,255,255, 0.65);
    }

    mat-form-field.mat-form-field-invalid {
        .mat-form-field-outline > * {
            color: var(--error);
        }
    }

    mat-form-field.mat-focused {
        .mat-form-field-outline > * {
            color: var(--primary);
        }
    }
}

a[menu] {
    color: rgba(0,0,0,0.65);
    &:hover {
        background-color: rgba(0,0,0, 0.1);
    }
    &.active {
        color: rgba(0,0,0,0.85);
        background-color: rgba(0,0,0, 0.2);
    }
}
.dark {
    a[menu] {
        color: rgba(255,255,255,0.65);
        &:hover {
            background-color: rgba(255,255,255, 0.1);
        }
        &.active {
            color: rgba(255,255,255,0.85);
            background-color: rgba(255,255,255, 0.2);
        }
    }
}


form {
    label[for] {
        font-size: 0.8em;
        font-weight: 500;
        margin: 0.5em 0;

        &.error {
            color: var(--error);
        }

        > span:not(.mat-checkbox-label) {
            color: var(--pending);
        }
    }

    .fieldset {
        display: flex;
        flex-wrap: wrap;

        > * + * {
            margin-left: 0.5rem;
        }
    }

    .field {
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        width: 100%;
        min-width: 32%;
    
        > * + * {
            margin-bottom: 0.25rem;
        }
    }

    .field div.error {
        position: absolute;
        bottom: 0.5rem;
        left: 1rem;
        color: var(--error);
        font-size: .75rem;
        font-weight: 400;
    }

    settings-form-field {
        margin-bottom: 1.5em;
    }

    mat-checkbox {
        margin: 0.25em;
    }
}