/* Typography */
.font-heading {
    font-family: 'Young', 'Roboto', sans-serif;
    font-weight: 500;
}

/* Layout */
.mdc-tab-body-wrapper {
    flex-grow: 1;
}

/* Forms */
form {
    label[for] {
        font-size: 0.8em;
        font-weight: 500;
        margin: 0.5em 0;

        &.error {
            color: var(--error);
        }

        > span:not(.mat-checkbox-label) {
            color: var(--pending);
        }
    }

    .fieldset {
        display: flex;
        flex-wrap: wrap;

        > * + * {
            margin-left: 1rem;
        }
    }

    .field {
        position: relative;
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        width: 100%;
        min-width: 20%;

        > * + * {
            margin-bottom: 0.25rem;
        }

        div.error {
            position: absolute;
            bottom: 0.5rem;
            left: 1rem;
            color: var(--error);
            font-size: 0.75rem;
            font-weight: 400;
        }
    }

    settings-form-field {
        margin-bottom: 1.5em;
    }

    mat-checkbox {
        margin: 0.25em;
    }

    mat-form-field,
    a-date-field,
    an-action-field,
    editor {
        flex: 1;
        min-width: 50%;
    }
}

/* Form Fields */
mat-form-field,
.mdc-form-field {
    &.mdc-form-field-appearance-outline.mdc-focused {
        .mdc-form-field-outline-thick {
            color: var(--p);
        }
    }

    &.no-subscript .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    &.visible .mdc-select-value {
        overflow: visible;
    }

    &[overlay],
    &[overlay]:hover {
        .mdc-form-field-outline {
            background-color: var(--n);
            border-radius: 4px;
        }
    }

    &.rounded,
    &.rounded:hover {
        .mdc-form-field-outline {
            border-radius: 2em;
        }
        .mdc-form-field-outline-start {
            border-radius: 2em 0 0 2em;
            min-width: 2em;
        }
        .mdc-form-field-outline-end {
            border-radius: 0 2em 2em 0;
        }
    }

    .mdc-form-field-subscript-wrapper {
        overflow: visible;
    }

    .mdc-form-field-wrapper .mdc-form-field-label {
        top: 2em;
        margin-top: -0.1em;
    }

    .mdc-form-field-should-float .mdc-form-field-wrapper .mdc-form-field-label {
        transform: translateY(-1.5em) scale(0.75) !important;
    }
}

/* Select */
.mdc-select-panel .mdc-option.mdc-selected:not(.mdc-option-disabled) {
    color: var(--p);
}

mat-select .mdc-select-trigger .mdc-select-arrow-wrapper {
    transform: none;
}

/* Buttons */
button[btn]:not([icon]),
a[btn] {
    --bg-color: var(--s);
    --color: var(--sc);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--color);
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.inverse {
        color: var(--bg-color);
        background-color: transparent;
    }

    &.clear {
        --color: var(--bc);
        background: none;
        border: none;
    }

    &.info {
        --bg-color: var(--in);
        --color: var(--inc);
    }

    &.error {
        --bg-color: var(--er);
        --color: var(--erc);
    }

    &.success {
        --bg-color: var(--su);
        --color: var(--suc);
    }

    &.base {
        --bg-color: var(--b1);
        --color: var(--bc);
    }

    &:not([disabled='false'])[disabled] {
        --bg-color: var(--b3);
        --color: var(--bc);
        opacity: 0.3;
        pointer-events: none;
    }
}

button[icon],
a[icon] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 2.5em;
    min-width: 2.5em;
    font-size: 1em;
    padding: 0;
    border-radius: 9999px;

    icon {
        font-size: 1.5em;
    }

    &[disabled] {
        opacity: 0.35;
    }
}

.mdc-button-toggle-button[aria-pressed='true'] {
    background-color: var(--p);
    color: var(--pc);
}

.mdc-button-toggle {
    background: inherit;
    color: currentColor;
}

.mdc-button__label {
    color: inherit;
}

/* Chips */
.mdc-chip.mdc-standard-chip {
    &.mdc-primary {
        color: var(--p);
    }
    &.mdc-accent {
        background-color: var(--wa);
    }
}

mat-chip {
    &[color='internal'] {
        color: var(--pc);
        background-color: var(--p);
    }
    &[color='external'] {
        color: var(--wac);
        background-color: var(--wa);
    }
}

/* Checkboxes & Radio */
mat-checkbox {
    .mdc-checkbox__background {
        border-color: var(--n);
        svg {
            color: var(--inc);
        }
    }

    .mdc-label {
        font-weight: normal;
        margin: 0;
    }

    &.mat-mdc-checkbox-checked,
    &[ng-reflect-indeterminate='true'] {
        .mdc-checkbox__background {
            border-color: var(--in);
            background-color: var(--in);
        }
    }
}

.mdc-radio-outer-circle,
.mdc-radio__outer-circle {
    border-color: var(--b3);
}

.mdc-radio-checked,
.mat-mdc-radio-checked {
    .mdc-radio-outer-circle,
    .mdc-radio__outer-circle {
        border-color: var(--s);
    }
    .mdc-radio-inner-circle,
    .mdc-radio__inner-circle {
        border-color: var(--s);
    }
}

/* Progress Indicators */
.mdc-spinner circle {
    stroke: var(--p);
}

.mdc-progress-bar-fill::after {
    background-color: var(--p);
}

/* Snackbar */
mat-snack-bar-container {
    button.mdc-button {
        color: inherit;
        background: none;
        border: none;
    }

    .mdc-snackbar__label {
        color: inherit;
    }

    &.success .mdc-snackbar__surface {
        background-color: var(--su);
        color: var(--suc);
    }

    &.info .mdc-snackbar__surface {
        background-color: var(--in);
        color: var(--inc);
    }

    &.error .mdc-snackbar__surface {
        background-color: var(--er);
        color: var(--erc);
    }

    &.warning,
    &.warn,
    &.pending {
        .mdc-snackbar__surface {
            background-color: var(--wa);
            color: var(--wac);
        }
    }
}

/* Tabs */

.mdc-tab-indicator__content {
    border-color: var(--s);
}

[aria-selected='true'] .mdc-tab__text-label {
    color: var(--s);
}

.mdc-ink-bar {
    background-color: var(--p);
}

mat-tab-group {
    .mdc-tab-label-container {
        background-color: var(--n);
    }
    .mdc-tab-label-content {
        color: var(--bc);
    }
}

nav {
    .mdc-tab-links {
        background-color: var(--b2);
    }
    .mdc-tab-link {
        color: var(--bc);
    }
}
/* Tooltips */
.mdc-tooltip {
    font-size: 0.75em;
    background-color: var(--b3);
    opacity: 0.85;
}

/* PlaceOS Specific Styles */
#placeos {
    .mdc-text-field--outlined {
        padding: 0 1rem;
    }

    .mat-mdc-form-field-infix {
        padding: 0.75rem 0;
        min-height: 2rem;
    }

    .cdk-overlay-pane {
        max-width: none !important;
    }

    .mat-mdc-select-value,
    .mat-mdc-select-arrow {
        color: var(--bc);
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__trailing {
        border-color: var(--n);
    }

    .mdc-text-field__input {
        color: var(--bc);
    }

    .mdc-text-field--focused {
        .mdc-notched-outline__leading,
        .mdc-notched-outline__trailing {
            border-color: var(--s);
        }
    }

    .mdc-autocomplete-panel {
        background-color: var(--n);
    }

    .mdc-select-value-text,
    .mdc-select-arrow {
        color: var(--b1);
    }

    .mdc-form-field-outline > div {
        color: var(--b2);
    }

    .mdc-form-field {
        ::placeholder,
        .mdc-select-placeholder {
            color: var(--b2);
        }
    }

    .mat-mdc-form-field-icon-suffix {
        margin-right: -0.25rem;

        & > * {
            position: relative;
            top: 0;
        }
    }

    .mdc-tab__text-label {
        color: var(--bc);
    }

    .mdc-dialog__surface {
        background-color: var(--b1);
    }

    .mdc-menu-surface,
    .mat-mdc-menu-content {
        @apply border border-base-300 bg-base-100;

        .mdc-list-item__primary-text,
        .mat-mdc-menu-item-text {
            color: var(--bc);
        }

        .mdc-list-item--selected .mdc-list-item__primary-text {
            color: var(--s);
        }

        mat-pseudo-checkbox {
            color: var(--bc);
            border-color: var(--bc);
            &::after {
                color: inherit;
            }

            &[appearance='minimal'] {
                color: var(--s);
            }

            &.mat-pseudo-checkbox-checked:not([appearance='minimal']) {
                border-color: var(--s);
                background-color: var(--s);
            }
        }
    }

    [mat-menu-item]:not([disabled='true']):hover,
    mat-option:not([disabled='true']):hover {
        background-color: var(--b2);
    }

    [mat-menu-item] > span {
        @apply flex items-center space-x-2;
    }

    .mat-mdc-tab-header-pagination > div {
        border-color: var(--bc);
    }

    .mdc-tab-indicator__content--underline {
        border-color: var(--s);
    }
}
