input,
textarea {
    user-select: text;
    background: none;
}

.underline > a:not([btn]),
a:not([btn]).underline {
    color: var(--info);
    &:hover {
        color: var(--error);
    }
}

hr {
    color: var(--base-300);
}

.theme-dark {
    input {
        color-scheme: dark;
    }
    input::placeholder {
        color: inherit;
        opacity: 0.6;
    }
}

div > label,
section > label {
    font-size: 0.8rem;
    font-weight: 500;
    span[required] {
        color: var(--warn);
    }
}

:not(.mat-form-field-label-wrapper) > label {
    width: 100%;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    font-weight: bold;

    > span:first-child {
        color: var(--warn);
    }

    &.error {
        color: var(--error);
    }
}

#placeos {
    .svg-viewer__label {
        min-width: 12rem;
    }

    ::placeholder,
    .mat-form-field-label,
    .mat-mdc-select-placeholder {
        color: var(--neutral);
    }

    input {
        caret-color: var(--primary);
    }
}

table {
    width: 100%;

    .duo {
        > * {
            display: inline-block;
        }
    }
}

table:not([role='grid']) {
    thead {
        opacity: 0.85;
        background-color: var(--base-300);
    }

    tr {
        width: 100%;
        &:nth-child(2n) {
            background-color: var(--base-200);
        }

        &:hover {
            background-color: var(--base-300);
        }

        &.cdk-drag-preview {
            background-color: var(--base-100);
            border-color: var(--neutral);
            border-radius: 4px;
            @apply shadow;
        }
    }

    td {
        border-color: var(--neutral);
        padding: 0.25em 0.5em;

        &.small {
            width: 2em;
            text-align: center;
            vertical-align: middle;
        }
    }
}

:not(.markdown) code {
    padding: 0.125rem 0.25rem;
    background-color: var(--base-200);
    border-radius: 4px;
    font-size: 0.75rem;
    @apply truncate;
}
