input,
textarea {
    font-size: 1em;
    min-width: 2rem;
    padding: 0.5em;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
    color: rgba(var(--font-dark), 0.87);
    user-select: text;

    &::placeholder {
        color: rgba(#000, 0.35);
    }

    &:focus {
        border-bottom-color: var(--primary);
    }
}

div > label,
section > label {
    font-size: 0.8rem;
    font-weight: 500;
    span {
        color: var(--pending);
    }
}

.dark-mode {
    input,
    textarea {
        color: rgba(var(--font-light), 0.87);

        &::placeholder {
            color: rgba(#fff, 0.35);
        }
    }
}

/*=======================*\
||      Table styles     ||
\*=======================*/

table {
    width: 100%;

    .duo {
        > * {
            display: inline-block;
        }
    }
}

table:not([role="grid"]) {

    thead {
        opacity: 0.85;
        background-color: rgba(#000, 0.15);
    }

    tr {
        width: 100%;
        &:nth-child(2n) {
            background-color: rgba(#000, 0.05);
        }

        &:hover {
            background-color: rgba(#000, 0.1);
        }

        &.cdk-drag-preview {
            background-color: #fff;
            border-radius: 4px;
            @apply shadow;
        }
    }

    td {
        border-color: #ccc;
        padding: 0.25em 0.5em;

        &.small {
            width: 2em;
            text-align: center;
            vertical-align: middle;
        }
    }
}

a {
    color: inherit;
}

a[target],
a.underline {
    color: #3344dd;
    &:hover {
        color: #bb1122;
    }
    &:active {
        color: #884488
    }
}
.dark {
    a[target],
    a.underline {
        color: #7fc9ff;
        &:hover {
            color: #bb1122;
        }
        &:active {
            color: #884488
        }
    }
}