@import 'shared.styles';

.item {
    width: 40em;
    max-width: calc(100vw - 1em);
    transition: width 200ms, height 200ms;

    &.is-loading {
        width: 16em;
    }
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.icon {
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.content {
    width: 16rem;
    text-align: center;
    font-size: .8em;
}