<div class="container" *ngIf="model.service" [class.loader]="model.loading" [class.edit]="model.item">
    <div class="header">
        <div class="text">{{model.item && model.edit ? 'Edit' : 'New'}} {{model.name}}</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <ng-container *ngIf="model.fields && model.fields.length > 0">
            <a-dynamic-form [fields]="model.fields" (valid)="model.valid = true"></a-dynamic-form>
            <div class="footer">
                <button widget (tapped)="fn.close()">Cancel</button>
                <button widget name="inverse" type="submit" [disabled]="!model.valid" (tapped)="submit()">{{ model.item ? 'Save' : 'Add' }}</button>
            </div>
        </ng-container>
    </div>
    <div class="info-block">
        <div class="icon">
            <a-spinner circle-ring color="rgba(0,0,0, .54)"></a-spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
