<div class="container" *ngIf="service" [class.loader]="loading" [class.edit]="item">
    <div class="header">
        <div class="text">{{item && edit ? 'Edit' : 'New'}} {{name}}</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <ng-container *ngIf="fields && fields.length > 0">
            <a-dynamic-form [fields]="fields" (valid)="valid = true"></a-dynamic-form>
            <div class="footer">
                <button widget (tapped)="fn.close()">Cancel</button>
                <button widget name="inverse" type="submit" [disabled]="!valid" (tapped)="submit()">{{ item ? 'Save' : 'Add' }}</button>
            </div>
        </ng-container>
    </div>
    <div class="info-block">
        <div class="icon">
            <a-spinner circle-ring color="rgba(0,0,0, .54)"></a-spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
