.app-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.25em;
    width: 1.25em;
}

i {
    font-size: 1em;
}

img {
    max-height: 1em;
    max-width: 1em;
}
