

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
        min-width: 8em;
        margin: .5em .25em 0;
    }
}

.details {
    width: 100%;
    overflow: auto;
    padding-bottom: 1em;
}

input {
    min-width: 4em;
}
