
:host {
    padding: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    font-size: 1.25em;
    margin: 0 0 .5em;
}

label {
    font-size: .8em;
    font-weight: 600;
    width: 10em;
    margin-bottom: .25em;
}
