
<h3>Backoffice</h3>
<section>
    <div class="field">
        <label for="version">Version:</label>
        <div class="value">{{ backoffice_version }}</div>
    </div>
    <div class="field">
        <label for="version">Build:</label>
        <div class="value">{{ backoffice_build }}</div>
    </div>
</section>
<h3>API</h3>
<section>
    <div class="field">
        <label for="version">Application Name:</label>
        <div class="value">{{ api_details?.app }}</div>
    </div>
    <div class="field">
        <label for="version">Version:</label>
        <div class="value">{{ api_details?.version }}</div>
    </div>
    <div class="field">
        <label for="version">Build:</label>
        <div class="value">{{ api_build }}</div>
    </div>
    <div class="field">
        <label for="version">Commit Hash:</label>
        <div class="value">{{ api_details?.commit || 'HEAD' }}</div>
    </div>
</section>
