<div class="container">
    <div class="settings">
        <section>
            <dropdown></dropdown>
        </section>
        <header>Conditions</header>
        <section>
            <div class="list" *ngIf="model.condtions">

            </div>
            <div class="no-item" *ngIf="!model.conditions">
                <div class="text">No conditions for trigger</div>
            </div>
        </section>
        <header>Actions</header>
        <section>
            <div class="list" *ngIf="model.actions">

            </div>
            <div class="no-item" *ngIf="!model.actions">
                <div class="text">No actions for trigger</div>
            </div>
        </section>
    </div>
</div>