
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
}

section {
    padding: 1em;
}

.settings section {
    font-size: .8em;
}

.no-item {
    font-size: .75em;
}
