<div class="container">
    <div class="settings">
        <section>
            <a-dropdown [options]="{ can_filter: true }" [items]="model.systems" [ngModel]="-1" (ngModelChange)="select(model.systems[$event])"
                (searchChange)="loadSystems($event)" placeholder="Select a System"></a-dropdown>
        </section>
        <header>
            <div class="action" *ngIf="model.selected_system">
                <button mat-button format="mini-action" (tapped)="addCondition()">
                    <i class="backoffice-plus"></i>
                </button>
            </div>
            <div class="text">Conditions</div>
        </header>
        <section>
            <div class="list" *ngIf="model.condtions">

            </div>
            <div class="info-block" *ngIf="!model.conditions">
                <div class="text">No conditions for trigger</div>
            </div>
        </section>
        <header>
            <div class="action" *ngIf="model.selected_system">
                <button mat-button format="mini-action" (tapped)="addAction()">
                    <i class="backoffice-plus"></i>
                </button>
            </div>
            <div class="text">Actions</div>
        </header>
        <section>
            <div class="list" *ngIf="model.actions">

            </div>
            <div class="info-block" *ngIf="!model.actions">
                <div class="text">No actions for trigger</div>
            </div>
        </section>
    </div>
</div>
