@import 'variables';

:host > div {
    width: 4.5rem;
    transition: opacity 200ms;

    @include respond-to(mobile) {
        opacity: 0;
        pointer-events: none;
    }
}

a {
    width: 4.5rem;
    height: 4.5rem;
}

.show {
    @include respond-to(mobile) {
        opacity: 1 !important;
        pointer-events: auto !important;
        z-index: 999 !important;
    }
}

app-icon {
    font-size: 1.75em;
}

.active {
    background-color: rgba(255, 255, 255, 0.1);
    [bar] {
        opacity: 1 !important;
    }
}

[bar] {
    width: 4px;
    transition: opacity 200ms;
}
