
<div class="container">
    <div class="item" *ngIf="model.id">
        <header>
            <div class="heading">{{model.item?.name}}</div>
            <div class="options">
                <div class="option" click-responder (touchrelease)="edit()">
                    <i class="material-icons">edit</i>
                </div>
                <div class="option" click-responder (touchrelease)="delete()">
                    <i class="material-icons">delete</i>
                </div>
            </div>
        </header>
        <section>
            <tab-group state="about">
                <tab id="about" [template]="about">
                    <div class="tab">
                        <i class="material-icons">info</i>
                        <div>About</div>
                    </div>
                    <ng-template #about>
                        <driver-about [item]="model.item"></driver-about>
                    </ng-template>
                </tab>
                <tab id="systems" [template]="devices">
                    <div class="tab">
                        <i class="material-icons">devices</i>
                        <div>Devices</div>
                    </div>
                    <ng-template #devices>
                        <driver-devices [item]="model.item"></driver-devices>
                    </ng-template>
                </tab>
            </tab-group>
        </section>
    </div>
    <div class="no-item not-mobile center" *ngIf="!model.id">
        <div class="icon">
            <i class="material-icons">arrow_back</i>
        </div>
        <div class="text">Select a driver from the sidebar</div>
    </div>
    <div class="no-item mobile center" *ngIf="!model.id">
        <div class="icon">
            <i class="material-icons">arrow_upward</i>
        </div>
        <div class="text">Select a driver from the search bar</div>
    </div>
</div>