
@import 'variables';

:host {
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 36em;
    max-width: 100%;
}

.fieldset {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    .field {
        width: auto;
        flex: 1;
        min-width: 30%;
        margin: 0 .25em;

        @include respond-to(mobile) {
            min-width: 16em;
            margin: 0;
            max-width: 100%;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    width: 100%;
    max-width: 100%;

    div.error {
        position: absolute;
        bottom: .5em;
        left: 1em;
        color: $error;
        font-size: .7em;
        font-weight: 500;
    }
}

label {
    font-size: .8em;
    font-weight: 500;
    margin: .5em 0;

    &.error {
        color: $error;
    }

    span {
        color: $pending;
    }
}

settings-form-field {
    margin-bottom: 1.5em;
}

mat-checkbox {
    margin: .25em;
}

input {
    min-width: 0;
}

.error-message {
    color: $error;
    font-size: 0.75em;
    font-weight: 400;
    padding: .5em;
}
