<div class="date-field" role="button" form-field tabindex="0" (keydown.enter)="show_tooltip = !show_tooltip">
    <div class="display" (tapped)="show_tooltip = !show_tooltip">{{ date_string }}</div>
    <div class="icon" (tapped)="show_tooltip = !show_tooltip">
        <app-icon
            [icon]="{
                type: 'icon',
                class: 'material-icons',
                content: show_tooltip ? 'arrow_drop_up' : 'arrow_drop_down'
            }"
        ></app-icon>
    </div>
    <div class="tooltip" *ngIf="show_tooltip" (window:click)="closeTooltip()" (click)="cancelClose()">
        <a-date-picker
            [ngModel]="date"
            [options]="{ from: from, to: until }"
            (month)="cancelClose()"
            (ngModelChange)="setValue($event)"
        ></a-date-picker>
    </div>
</div>
