/*==============================*\
|| Shared Global SASS Variables ||
\*==============================*/

/*====================*\
||  Colour Variables  ||
\*====================*/

$success: #309b40;
$success-alt: #4285f4;
$error: #db291d;
$pending: #FF9800;
$neutral: #797979;

$background: #f0f0f0;

$color-primary: #B71C1C;
$color-secondary: #263238;
$color-ternary: #37474F;
$color-quaternary: #26A69A;
$color-quinternary: #1a232c;
$color-sexternary: #7fe43b;

/*====================*\
||  Sizing Variables  ||
\*====================*/

$header-height: 3.5em;
$header-bg: $color-primary;
$header-color: #fff;

/*====================*\
||   Font Variables   ||
\*====================*/

$base-size: 16px;
$tablet-size: 16px;
$mobile-size: 15px;

$font-stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

$heading-font: $font-stack;
$main-font: $font-stack;
$mono-font: "Fira Code", monospace;

/*===================*\
||   Media Queries   ||
\*===================*/

$break-mobile: 450px;
$break-tablet: 800px;

$break-landscape-mobile: 800px;
$break-landscape-tablet: 1048px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-landscape {
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-portrait {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
    } @else if $media == not-mobile {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) {
            @content;
        }
    } @else if $media == tablet {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if ($media == tablet-mobile or $media == not-desktop) {
        @media only screen and (orientation: portrait) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
    } @else if $media == landscape {
        @media only screen and (orientation: landscape) {
            @content;
        }
    } @else if $media == portrait {
        @media only screen and (orientation: portrait) {
            @content;
        }
    }
}
