
/*=======================*\
||  Application Colours  ||
\*=======================*/

$font-dark: #000;
$font-light: #fff;

$success: #4caf50;
$success-light: #66bb6a;
$success-dark: #00796b;

$pending: #ff8f00;
$pending-light: #ffc046;
$pending-dark: #c56000;

$error: #d32f2f;
$error-light: #ff6f60;
$error-dark: #ab000d;

$color-primary: #b71c1c;
$color-primary-light: #f05545;
$color-primary-dark: #7f0000;

$color-secondary: #37474f;
$color-secondary-light: #62727b;
$color-secondary-dark: #102027;

$color-develop: #1976d2;
$color-develop-light: #63a4ff;
$color-develop-dark: #004ba0;

$background: #263238;
$background-light: #4f5b62;
$background-dark: #000a12;

/*===========*\
||   Fonts   ||
\*===========*/

$font: "Roboto Slab", "Roboto", "Verdana", "Helvetica Neue", Arial, sans-serif;
$heading-font: $font;
$mono-font: "Fira Code", monospace;

$base-size: 20px;
$tablet-size: 12px;
$mobile-size: 16px;

/*============*\
||   Sizing   ||
\*============*/

$header-height: 4em;


/*============*\
||   Mixins   ||
\*============*/

@mixin box-shadow($depth: 1, $spread: 1) {
    box-shadow: 0 (1px * $spread) (3px * $spread) 0 rgba(#000, .2 * $depth),
                0 (1px * $spread) (1px * $spread) 0 rgba(#000, .14 * $depth),
                0 (2px * $spread) (1px * $spread) -(1px * $spread) rgba(#000, .12 * $depth);
}

/*===================*\
||   Media Queries   ||
\*===================*/

$break-mobile: 450px;
$break-tablet: 800px;
$break-laptop: 1024px;

$break-landscape-mobile: 800px;
$break-landscape-tablet: 1048px;
$break-landscape-laptop: 1280px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-landscape {
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-mobile) {
            @content;
        }
    } @else if $media == mobile-portrait {
        @media only screen and (orientation: portrait) and (max-width: $break-mobile) {
            @content;
        }
    } @else if $media == not-mobile {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) {
            @content;
        }
    } @else if $media == laptop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet + 1) and (max-width: $break-landscape-laptop) {
            @content;
        }
    } @else if $media == laptop-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet + 1) and (max-width: $break-landscape-laptop) {
            @content;
        }
    } @else if $media == laptop-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet + 1) and (max-width: $break-laptop) {
            @content;
        }
    }  @else if $media == lat {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-mobile + 1) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == tablet-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-mobile + 1) and (max-width: $break-tablet) {
            @content;
        }
    } @else if ($media == tablet-mobile or $media == not-desktop) {
        @media only screen and (orientation: portrait) and (max-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (max-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-landscape {
        @media only screen and (orientation: landscape) and (min-width: $break-landscape-tablet) {
            @content;
        }
    } @else if $media == desktop-portrait {
        @media only screen and (orientation: portrait) and (min-width: $break-tablet) {
            @content;
        }
    } @else if $media == landscape {
        @media only screen and (orientation: landscape) {
            @content;
        }
    } @else if $media == portrait {
        @media only screen and (orientation: portrait) {
            @content;
        }
    }
}
