
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
}

.table-row {
    .class {
        width: 12em;
        min-width: 12em;
    }
}

section {
    padding: .5em .25em;
}
