<div class="container" *ngIf="item">
    <section>
        <div class="field" *ngIf="item.default_uri">
            <label i18n="@@driverDefaultURILabel">Default URI:</label>
            <div class="value">{{ item.default_uri }}</div>
        </div>
        <div class="field" *ngIf="item.default_port">
            <label i18n="@@driverDefaultPortLabel">Default Port Number:</label>
            <div class="value">{{ item.default_port }}</div>
        </div>
        <div class="field">
            <label  i18n="@@driverDetailsCompiled">Compiled:</label>
            <div class="value">{{ compiled || 'false' }}</div>
            <mat-spinner diameter="24" *ngIf="!compiled"></mat-spinner>
        </div>
        <div class="field">
            <label i18n="@@driverDetailsCommit">Commit:</label>
            <div class="value">{{ item.commit }}</div>
        </div>
        <div class="field">
            <label i18n="@@driverDetailsFileName">File Name:</label>
            <div class="value">{{ item.file_name }}</div>
        </div>
        <div class="field">
            <label i18n="@@driverDetailsModuleName">Module Name:</label>
            <div class="value">{{ item?.module_name }}</div>
        </div>
        <div class="field">
            <label i18n="@@driverCreatedAtLabel">Created:</label>
            <div class="value">{{ item.created_at * 1000 | dateFrom }}</div>
        </div>
        <div class="field">
            <label i18n="@@driverUpdatedAtLabel">Updated:</label>
            <div class="value">{{ item.updated_at * 1000 | dateFrom }}</div>
        </div>
    </section>
    <section>
        <button mat-button (tapped)="recompileDriver()" i18n="@@driverReloadAction">Recompile Driver</button>
    </section>
    <hr />
    <header class="settings" i18n="@@settingsLabel">Settings</header>
    <section *ngIf="!loading_settings; else load_state">
        <a-settings-form [merge]="true" [id]="item.id" [settings]="item.settings"></a-settings-form>
    </section>
</div>
<ng-template #load_state>
    <div class="info-block">
        <div class="icon">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
        <div class="text" i18n="@@driverLoadingLabel">Loading driver settings...</div>
    </div>
</ng-template>
