<div class="container">
    <div class="option">
        <div class="block">
            <div class="item" *ngFor="let item of model.periods" [class.active]="model.period" (touchrelease)="setPeriod(item)"
                a-tooltip name="dark" [hover]="true" [content]="template">
                {{item.shorthand}}
                <ng-template #template>
                    <div class="tooltip">
                        {{item.name}}
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="option">
        <div class="label">AM</div>
        <div class="block">
            <div class="item" *ngFor="let item of model.hours" [class.active]="model.period" (touchrelease)="setPeriod(item)"
                a-tooltip name="dark" [hover]="true" [content]="template">
                {{item.shorthand}}
                <ng-template #template>
                    <div class="tooltip">
                        {{item.name}}
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
