<div class="container tests" [class.show]="show_sidebar">
    <div class="sidebar" (tapped)="showSidebar()">
        <sidebar
            heading="Tests"
            [module]="module"
            [list]="list"
            (searchChange)="search($event)"
            [loading]="loading"
            [close]="show_sidebar"
            (event)="sidebarEvent($event)"
        ></sidebar>
    </div>
    <main (touchrelease)="showSidebar(false)">
        <item-display
            [item]="item"
            [has_change]="false"
            name="test"
            [active]="tab"
            [tabs]="[{ id: 'about', name: 'About', template: about, icon: { class: 'backoffice-info-with-circle' } }]"
            (event)="itemEvent($event)"
        >
            <ng-template #about>
                <div class="about">
                    <div class="module-details">
                        <div class="module">{{ item?.module_class }}</div>
                        <div class="details">
                            <table>
                                <thead>
                                    <td class="field">Name</td>
                                    <td class="flex">{{ item?.id || item?.name }}</td>
                                </thead>
                                <tbody>
                                    <tr *ngIf="item && item.documentation">
                                        <td class="field">Reference Documentation</td>
                                        <td class="flex">
                                            <div>
                                                <ng-container *ngFor="let doc of item.documentation">
                                                    <a [href]="doc | safe: 'url'">{{ doc }}</a
                                                    ><br />
                                                </ng-container>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="field">Module name</td>
                                        <td class="flex">{{ item?.module_name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="field">Role</td>
                                        <td class="flex">{{ item?.role }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="details">
                            <div class="name">Settings</div>
                            <div class="data">
                                <settings-display [model]="item?.settings || {}"></settings-display>
                            </div>
                        </div>
                    </div>
                    <div class="terminal" #cmd_line>
                        <div class="output">
                            <div class="line" *ngFor="let line of display_lines || []">{{ line }}</div>
                        </div>
                        <div class="input">
                            <div class="feed">></div>
                            <div class="field">
                                <input #cmd_input [(ngModel)]="input" (keyup.enter)="send()" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </item-display>
    </main>
</div>
