<div class="container tests" [class.show]="show_sidebar">
    <div class="sidebar" (tapped)="showSidebar()">
        <sidebar
            heading="Tests"
            [total]="total"
            [module]="module"
            [list]="list"
            (searchChange)="search($event)"
            [loading]="loading"
            [close]="show_sidebar"
            (event)="sidebarEvent($event)"
        ></sidebar>
    </div>
    <main (touchrelease)="showSidebar(false)">
        <item-display
            [item]="item"
            [has_change]="false"
            name="test"
            [active]="tab"
            [tabs]="[{ id: 'about', name: 'About', template: about, icon: { class: 'material-icons', value: 'info' } }]"
            (event)="itemEvent($event)"
        >
            <ng-template #about>
                <div class="about">
                    <div class="module-details">
                        <div class="module">{{ item?.module_class }}</div>
                        <div class="details">
                            <div class="table">
                                <div class="table-row">
                                    <div class="field">Name</div>
                                    <div class="flex">{{ item?.id || item?.name }}</div>
                                </div>
                                <div class="table-row" *ngIf="item && item.documentation">
                                    <div class="field">Reference Documentation</div>
                                    <div class="flex">
                                        <div>
                                            <ng-container *ngFor="let doc of item.documentation">
                                                <a [href]="doc | safe: 'url'">{{ doc }}</a
                                                ><br />
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="field">Module name</div>
                                    <div class="flex">{{ item?.module_name }}</div>
                                </div>
                                <div class="table-row">
                                    <div class="field">Role</div>
                                    <div class="flex">{{ item?.role }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="details">
                            <div class="name">Settings</div>
                            <div class="data">
                                <settings-display [model]="item?.settings || {}"></settings-display>
                            </div>
                        </div>
                    </div>
                    <div class="terminal" #cmd_line>
                        <div class="output">
                            <div class="line" *ngFor="let line of display_lines || []">{{ line }}</div>
                        </div>
                        <div class="input">
                            <div class="feed">></div>
                            <div class="field">
                                <input #cmd_input [(ngModel)]="input" (keyup.enter)="send()" />
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </item-display>
    </main>
</div>
