
@import 'variables';

.container {
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: .5em;

    &.settings {
        position: relative;
        top: .75em;
        margin: 0;
    }

    span {
        font-size: .7em;
        opacity: .65;
        padding: 0 1em;
        font-weight: 300;
        text-decoration: underline;
        cursor: pointer;
        transition: color 200ms;
        &:hover {
            color: rgba(#000, .85);
        }
    }
}

section {
    padding: .5em .25em;
}

.details {
    .field {
        display: flex;
        align-items: center;
        margin: .25em 0;

        .value {
            padding: 0 .5em;
            user-select: all;
        }
    }

    label {
        font-size: .8em;
        font-weight: 500;
    }
}
