form {
    display: flex;
    flex-direction: column;
    width: 36em;
    max-width: calc(100vw - 4em);
}

.fieldset {
    display: flex;
    flex-wrap: wrap;

    .field {
        width: auto;
        flex: 1;
        min-width: 30%;
        margin: 0 0.25em;

        @media screen and (max-width: 720px) {
            min-width: 20em;
            margin: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.field {
    position: relative;
    display: flex;
    align-items: center;

    min-width: 50%;
    width: 100%;

    div.error {
        position: absolute;
        bottom: 0.5em;
        left: 1em;
        color: var(--error);
        font-size: 0.7em;
        font-weight: 500;
    }
}

label {
    font-size: 0.8em;
    font-weight: 500;
    margin: 0.5em 0;
    padding-right: 1em;

    &.error {
        color: var(--error);
    }

    span {
        color: var(--pending);
    }
}

settings-form-field {
    margin-bottom: 1.5em;
}

mat-checkbox {
    margin: 0.25em;
}
