<div class="container" *ngIf="item">
    <div class="settings">
        <header *ngIf="item.driver">Driver:&nbsp;<span>{{item.driver.name || '&lt;Unnamed&gt;'}}</span></header>
        <header>Logic for system:&nbsp;<span>{{system?.name}}</span></header>
        <section>
            <button mat-button [disabled]="stopping" (tapped)="item.connected ? stopModule(): startModule()">
                <div class="text" *ngIf="!stopping">{{ item.connected ? 'Stop' : 'Start' }} Module</div>
                <mat-spinner diameter="32" *ngIf="stopping"></mat-spinner>
            </button>
        </section>
        <header>Settings</header>
        <section *ngIf="!loading_settings; else load_state">
            <a-settings-form [id]="item.id" [merge]="true" [settings]="item.settings" [merge_settings]="other_settings || []"></a-settings-form>
        </section>
    </div>
</div>
<ng-template #load_state>
    <div class="info-block">
        <div class="icon">
            <mat-spinner diameter="48"></mat-spinner>
        </div>
        <div class="text">Loading module settings...</div>
    </div>
</ng-template>
