
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: .5em;

    &.settings {
        position: relative;
        top: .75em;
        margin: 0;
    }

    span {
        font-size: .7em;
        opacity: .65;
        padding: 0 1em;
        font-weight: 300;
        text-decoration: underline;
        cursor: pointer;
        transition: color 200ms;
        &:hover {
            color: rgba(#000, .85);
        }
    }
}

section {
    padding: .5em .25em;
}
