<h3>Settings {{ index }}</h3>
<section *ngIf="form" [formGroup]="form">
    <mat-tab-group [(selectedIndex)]="index">
        <mat-tab label="Config"> </mat-tab>
        <mat-tab label="Internals"> </mat-tab>
    </mat-tab-group>
    <settings-form-field
        *ngIf="index !== 1"
        formControlName="config"
        lang="json"
        [readonly]="false"
    ></settings-form-field>
    <settings-form-field
        *ngIf="index === 1"
        formControlName="internals"
        lang="json"
        [readonly]="false"
    ></settings-form-field>
</section>
