.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em 0.5em;
}

.icon {
    height: 1.2em;
    width: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.content {
    min-width: 16rem;
    text-align: center;
    padding: 1em;
}

.info {
    font-size: 0.8em;
    opacity: 0.65;
    margin-bottom: 1em;
}

.item {
    display: flex;
    align-items: center;
    min-width: 20em;
    max-width: 24em;
    padding: 0.5em 1em;
    border-radius: 4px;
    &:nth-child(2) {
        background-color: rgba(#000, 0.1);
    }

    .name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.status {
    color: var(--error);
}

.done {
    color: var(--success);
}

mat-dialog-actions {
    button {
        min-width: 8em;
    }
}
