<header>
  <h3 mat-dialog-title>Duplicate Item</h3>
</header>
<mat-dialog-content>
  @if (!loading) {
    <div class="body">
      <div class="content">
        <p>How many times would you like to duplicate this item?</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            name="times"
            type="number"
            [(ngModel)]="times"
            placeholder="Number of duplications"
            required
            />
        </mat-form-field>
      </div>
    </div>
  } @else {
    <div class="body">
      @if (!done) {
        <div class="info">Creating item duplicates...</div>
      }
      @for (itm of temp; track itm; let i = $index) {
        <div class="item">
          <div class="name">{{ item.name }} ({{ i + 1 }})</div>
          <div class="status">
            @if (status[i] !== 'loading') {
              <app-icon [class]="status[i]">
                {{ status[i] === 'done' ? 'done' : 'close' }}
              </app-icon>
            }
            @if (status[i] === 'loading') {
              <mat-spinner
                diameter="24"
              ></mat-spinner>
            }
          </div>
        </div>
      }
    </div>
  }
</mat-dialog-content>
@if (!loading) {
  <mat-dialog-actions>
    <button btn class="inverse" mat-dialog-close>Cancel</button>
    <button
      btn
      name="accept"
      [disabled]="!times || times <= 0"
      (click)="duplicate()"
      >
      Duplicate
    </button>
  </mat-dialog-actions>
}
