

:host {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

button {
    min-width: 10em;
    margin: .25em;
}

.spinner {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: .25em 0;
}

mat-card {
    margin: .5em;
    text-align: center;
}
