<div class="system-trigger form" *ngIf="form">
    <form [formGroup]="form">
        <div class="field" *ngIf="form.controls.name">
            <label for="name"> Name: </label>
            <div class="value" name="name">{{ form.controls.name.value }}</div>
        </div>
        <div class="field" *ngIf="form.controls.name">
            <label for="triggered"> Currently Triggered: </label>
            <div class="value" name="triggered">{{ !!form.controls.triggered.value }}</div>
        </div>
        <div class="field" *ngIf="form.controls.enabled">
            <mat-checkbox name="enabled" formControlName="enabled">Enabled</mat-checkbox>
        </div>
        <div class="field" *ngIf="form.controls.important">
            <mat-checkbox name="important" formControlName="important">Important</mat-checkbox>
        </div>
    </form>
</div>
