
@import 'shared.styles';

.container {
    padding: 1em;
}

.list {
    margin-top: .5em;
}

tbody {
    font-size: .9em;
    td {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.small {
    width: 2em;
}

div {
    .duo {
        width: 4em;
        * {
            display: inline-flex;
        }
    }
}

.select {
    display: flex;
    align-items: center;
    .btn {
        flex: 1;
    }
}
