<div class="container" [class.loader]="model.loading" [class.edit]="model.item">
    <div class="header">
        <div class="text">{{model.item ? 'Edit' : 'New'}} Trigger Condition</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <div class="form">
            <div class="field">
                <div class="label">Condition Type<span class="orange">*</span>:</div>
                <div class="value">
                    <dropdown [list]="model.condition_types" [model]="-1" (modelChange)="model.form.condition_type = model.condition_types[$event]"
                        placeholder="Select a System"></dropdown>
                </div>
            </div>
            <div class="fieldset" *ngIf="model.form.condition_type && model.form.condition_type.id === 'webhook'">
                <div class="field">
                    <div class="label">Select type<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.webhook_types" [model]="-1" (modelChange)="model.form.webhook_type = model.webhook_types[$event]; checkFields()"
                            placeholder="Select a webhook type"></dropdown>
                    </div>
                </div>
                <div class="info">Webhooks can provide a JSON payload with a command to execute.</div>
            </div>
            <div class="fieldset" *ngIf="model.form.condition_type && model.form.condition_type.id === 'compare'">
                <div class="field">
                    <div class="label">Status variable<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.status_variables" [model]="-1" (modelChange)="model.form.lhs_variable = model.status_variables[$event]; checkFields()"
                            placeholder="Select a status variable"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <input [(ngModel)]="model.form.lhs_subkeys" placeholder="subkey1, subkey2, ...">
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <dropdown [list]="model.compare_types" [model]="0" (modelChange)="model.form.compare_type = model.compare_types[$event]; checkFields()"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <dropdown [list]="['Constant value', 'Status variable']" [(model)]="model.form.compare_value" (modelChange)="checkFields()"></dropdown>
                    </div>
                </div>
                <div class="field" *ngIf="model.form.compare_value">
                    <div class="label">Status variable<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.status_variables" [model]="-1" (modelChange)="model.form.rhs_variable = model.status_variables[$event]; checkFields()"
                            placeholder="Select a status variable"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="value">
                        <input [(ngModel)]="model.form.rhs_subkeys" placeholder="subkey1, subkey2, ...">
                    </div>
                </div>
            </div>
            <div class="fieldset" *ngIf="model.form.condition_type && model.form.condition_type.id === 'cron'">
                <div class="field">
                    <div class="label">Every<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.time_types" [(model)]="model.form.period" (modelChange)="checkFields()" placeholder="Select a period"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="label">on the<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.days_of_month" [(model)]="model.form.day_of_month" (modelChange)="checkFields()" placeholder="Select a date"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="label">of<span class="orange">*</span>:</div>
                    <div class="value">
                        <dropdown [list]="model.months" [(model)]="model.form.month" (modelChange)="checkFields()" placeholder="Select a month"></dropdown>
                    </div>
                </div>
                <div class="field">
                    <div class="label">at<span class="orange">*</span>:</div>
                    <div class="value">
                        <time-input [(model)]="model.form.time"></time-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <btn (tapped)="event('Cancel')">Cancel</btn>
            <btn name="inverse" [disabled]="model.has_errors || !model.fields_valid" (tapped)="model.item ? edit() : new()">
                Ok
            </btn>
        </div>
    </div>
    <div class="no-item">
        <div class="icon">
            <spinner type="circle-ring" color="rgba(0,0,0, .54)"></spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
