// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   24/09/2016 1:46 PM
// @Email:  alex@yuion.net
// @Filename: app.style.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 30/01/2017 1:39 PM

@import 'shared.styles';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~firacode/distr/fira_code.css';

/*=======================*\
||    Global styles     ||
\*=======================*/

* {
    user-select: none;
    font-family: $main-font;
}

textarea,
input {
    user-select: text;
    font-family: $main-font;
    font-weight: 300;
}

input {
    &::-ms-clear {
        display: none;
    }
}

/*=======================*\
||    System styles     ||
\*=======================*/

/* Font Styles */
.font {
    .small  { font-size: 0.8rem; }
    .normal { font-size: 1.0rem; }
    .big    { font-size: 1.2rem; }
    .large  { font-size: 1.4rem; }
}

/*=======================*\
||    Utility styles     ||
\*=======================*/

.disabled,
[disabled] {
    pointer-events: none;
}

.overflow { overflow: auto; }
.fixed { position: fixed; }

.fit {
    max-height: 99%;
    max-width: 99%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.noselect, .no-select { user-select: none; }
.no-padding { padding: 0; }

.align-center { text-align: center; }
@include respond-to(not-mobile) {
    .mobile-only,
    .mobile {
        display: none !important;
    }
}

@include respond-to(desktop) {
    .not-desktop,
    .mobile,
    .mobile-only {
        display: none !important;
    }

    html,
    body {
        font-size: 2.0vmin;
    }
}

@include respond-to(tablet) {
    .desktop,
    .desktop-only,
    .not-tablet,
    .mobile,
    .mobile-only {
        display: none !important;
    }
    html,
    body {
        font-size: 2.5vmin;
    }
}

@include respond-to(mobile) {
    html,
    body {
        font-size: 4vmin;
    }

    .desktop-only,
    .desktop,
    .mobile-hide,
    .not-mobile {
        display: none !important;
    }
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    thead {
        font-weight: bold;
    }

    tr {
        &:nth-child(2n) {
            background-color: rgba(#000, .05);
        }
    }

    td {
        padding: .4em .5em;
        border-right: 1px solid #ccc;
        &:last-child {
            border: none;
        }
    }
}

/*===========================*\
||  Widget Overrides Styles  ||
\*===========================*/

.btn[widget] {
    button {
        margin: .25em .5em;
        font-size: .9em;
        background-color: $color-primary;
        border-color: $color-primary;
        color: #fff;
        border-radius: 4px;
        &.mini-action {
            margin: .25em;
        }
        &.action {
            font-size: 1.5em;

            .content {
                min-width: 100%;
            }
        }
        &:hover {
            background-color: darken($color-primary, 10);
            color: #fff;
        }
        &[disabled] {
            pointer-events: none;
            box-shadow: none !important;
            border-color: #ccc !important;
            background-color: #f0f0f0 !important;
            color: #ccc !important;
        }
    }


    &.simple {
        button {
            background-color: #fff;
            border-color: #fff;
            color: rgba(#000, .87);
            height: 2em;
            border-radius: 1.05em;
            &.raised {
                padding: 0 1em;
                min-width: 7.5em;
                .content {
                    flex: auto;
                    @include respond-to(mobile) {
                        flex: 1;
                    }
                }
            }
            &:hover {
                background-color: #f0f0f0;
            }
        }
    }

    &.wide {
        button {
            min-width: 12em;
            margin: .25em 0;
            padding: 0;
            height: 2.5em;
            width: 100%;
        }
    }

    &.no-margin {
        button {
            margin: 0;
        }
    }

    &.banner {
        button {
            background-color: rgba(#fff, 0);
            color: #fff;
            border: 1px solid #fff;
            padding: .5em 1.5em;
            border-radius: 1.2em;
            &:hover {
                background-color: rgba(#fff, .1);
                color: $color-primary;
            }
            &::after {
                background-color: rgba(#fff, .2);
            }
        }
        &.inverse {
            button {
                background-color: rgba(#fff, .87);
                color: $color-primary;
                border-color: $color-primary;
                &:hover {
                    background-color: rgba(#fff, .54);
                    color: darken($color-primary, 10);
                }
            }
        }
    }

    &.mobile-full {
        button {
            @include respond-to(mobile) {
                width: 42vw;
            }
        }
    }

    &.full-width {
        width: 100%;
        button {
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
            height: 2.5em;
            background-color: #f0f0f0;
            border-color: #f0f0f0;
            color: #000;
            &:hover {
                background-color: darken(#f0f0f0, 10);
                border-color: darken(#f0f0f0, 10);
                color: $color-primary;
            }
        }
    }

    &.normal, &.primary {
        button {
            background-color: $color-primary;
            border-color: $color-primary;
            color: #fff;
            &:hover {
                background-color: darken($color-primary, 10);
                border-color: $color-primary;
                color: #fff;
            }
        }
    }

    &.help {
        margin: 0;
        button {
            background-color: rgba(#000, .54);
            border-color: #fff;
            border-radius: 0;
            color: #fff;
            width: auto;
            margin: 0;
            &:hover {
                background-color: $color-primary, 10;
                border-color: #fff;
                color: #fff;
            }
        }
    }

    &.black {
        button {
            background-color: rgba(#000, .87);
            border-color: rgba(#000, .87);
            color: #fff;
            &:hover {
                background-color: darken(rgba(#000, .87), 10);
                border-color: rgba(#000, .87);
                color: #fff;
            }
        }

        &.inverse {
            button {
                background-color: #fff;
                color: rgba(#000, .87);
                border-color: #fff;
                &:hover {
                    background-color: darken(#fff, 10);
                    border-color: darken(#fff, 10);
                    color: rgba(#000, .87);
                }
            }
        }
    }

    &.error {
        button {
            background-color: $error;
            border-color: $error;
            color: #fff;
            &:hover {
                background-color: darken($error, 10);
                border-color: $error;
                color: #fff;
            }
        }

        &.inverse {
            button {
                background-color: #fff;
                color: $error;
                border-color: $error;
                &:hover {
                    background-color: darken(#fff, 10);
                    color: $error;
                }
            }
        }
    }

    &.success {
        button {
            background-color: $success;
            border-color: $success;
            color: #fff;
            &:hover {
                background-color: darken($success, 10);
                border-color: $success;
                color: #fff;
            }
        }

        &.inverse {
            button {
                background-color: #fff;
                color: $success;
                border-color: $success;
                &:hover {
                    background-color: darken(#fff, 10);
                    color: $success;
                }
            }
        }
    }

    &.inverse {
        button {
            background-color: #fff;
            color: $color-primary;
            border-color: $color-primary;
            &:hover {
                background-color: darken(#fff, 10);
                color: $color-primary;
            }
        }
    }
}

.checkbox[widget] {
    &.n.m {
        .box {
            min-width: 1em;
            &.active {
                border-color: $color-primary;
                background-color: $color-primary;
            }
        }
        &:hover {
            .box {
                border-color: $color-primary;
                &.active {
                    border-color: $color-primary;
                    background-color: darken($color-primary, 5);
                }
            }
        }
        &.middle {
            justify-content: center;
        }
    }
}

.notification[widget] {
    .msg {
        font-size: .8em;
    }
    .details > div {
        display: flex;
        align-items: center;
        font-size: .8em;
    }
}

.tabs[widget] {
    .empty {
        display: none;
    }
}

.map[widget] {
    svg {
        text {
            font-family: $main-font;
            pointer-events: none;
        }
        #Zones {
            pointer-events: none;
        }
        * {
            transition: fill 300ms;
        }
    }
}

.modal[widget] {
    &.overlay {
        & > .container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: none;
            max-height: none;
            overflow: auto;
            transform: none;
            & > .body {
                max-width: none;
                max-height: none;
            }
        }
    }
    & > .container > .body > * > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90vw;
        max-height: 95vh;
        background-color: #fff;
        font-family: $main-font;
        font-weight: 300;
        border-radius: 4px;
        overflow: hidden;

        & > .header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 2.5em;
            min-height: 2.5em;
            background-color: #f0f0f0;
            font-size: 1.2em;
            white-space: nowrap;
            .text {
                display: flex;
                align-items: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 80%;
            }
            .name {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & > .close {
                position: absolute;
                top: 50%;
                right: .5em;
                transform: translateY(-50%);
                height: 1em;
                width: 1em;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: opacity 300ms;
                &:hover {
                    opacity: .54;
                }
            }
        }

        & > .body {
            width: 100%;
            flex-grow: 1;
        }

        & > .footer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }
}

.dropdown[widget] {
    max-width: 100%;
    font-size: 1.2em;
    width: 100%;
    min-width: 10em;
    &.blend {
        background-color: #f0f0f0;
        box-shadow: none;
        .text {
            text-align: left;
        }
        &.list-tooltip {
            box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
            border: 1px solid $color-primary;
            background-color: #fff;
            .item.active {
                background-color: $color-primary;
                color: #fff;
            }
        }
    }
    .item.active .icon {
        margin-right: 0;
        height: 1em;
        width: 1.5em;
        color: rgba(#fff, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNNy40MSw4LjU5TDEyLDEzLjE3bDQuNTktNC41OEwxOCwxMGwtNiw2bC02LTZMNy40MSw4LjU5eiIvPgo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4KPC9zdmc+Cg==);
    }
    &.list-tooltip {
        box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
        border: 1px solid $color-primary;
        background-color: #fff;
        .item.active {
            background-color: $color-primary;
            color: #fff;
        }
        .item.active .icon {
            color: rgba(#fff, 0);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==);
        }
    }
}

.input-field[widget] {
    &.basic {
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
        .placeholder {
            &.focus {
                color: #ccc;
            }
            &.hide {
                display: none;
            }
        }
    }
}

.toggle[widget] {

    .base.ios {
        background-color: $error;
        &.active {
            background-color: $success;
        }
    }
}

div.calendar[widget] {
    &.modal {
        border: none;
        .header {
            border: none;
            background: none;
            color: rgba(#000, .87);
        }
        .non-month {
            opacity: 0;
        }

        .content {
            &.active {
                background-color: $color-primary;
                border-color: $color-primary;
            }
            &.today {
                border-color: $color-secondary;
            }
        }
    }
    .change {
        &.previous {
            color: rgba(#fff, 0);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNMTUuNDEsMTYuNTlMMTAuODMsMTJsNC41OC00LjU5TDE0LDZsLTYsNmw2LDZMMTUuNDEsMTYuNTl6Ii8+CjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wLDBoMjR2MjRIMFYweiIvPgo8L3N2Zz4K);
            &:hover {
                opacity: .54;
            }
            &.disabled {
                opacity: .2;
            }
        }
        &.next {
            color: rgba(#fff, 0);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjQgMjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNOC41OSwxNi41OUwxMy4xNywxMkw4LjU5LDcuNDFMMTAsNmw2LDZsLTYsNkw4LjU5LDE2LjU5eiIvPgo8cGF0aCBmaWxsPSJub25lIiBkPSJNMCwwaDI0djI0SDBWMHoiLz4KPC9zdmc+Cg==);
            &:hover {
                opacity: .54;
            }
            &.disabled {
                opacity: .2;
            }
        }
    }

    .body .day {
        margin: .25em;
    }

}

div.time-picker[widget] {
    border: none;
    .display {
        background-color: lighten($color-primary, 5);
    }
}

.radio-button[widget] {
    .box {
        border-color: $color-primary;
    }
    .toggle.on {
        background-color: $color-primary;
    }
}

/*=======================*\
||  Application styles   ||
\*=======================*/

.material-icons {
    font-size: 1em;
    font-feature-settings: 'liga';
}

.display-icon {
    flex-grow: 0 !important;
    height: 1.0em;
    width: 1.0em;
    margin: .2em .2em .2em .1em;
    font-size: 2em;
    font-family: 'Material Icons';

    &.info:before { content: 'info' }
    &.error:before { content: 'error' }
    &.success { content: 'done' }
    &.success-tick { content: 'done' }
    &.error-cross { content: 'close' }
    &.close-cross { content: 'close' }
    &.edit { content: 'edit' }
}

.no-item {
    width: 95%;
    height: 8em;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(#000, .2);
    pointer-events: none;
    overflow: hidden;
    margin: auto;

    & > .icon {
        height: 4em !important;
        min-width: 4em !important;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .5rem !important;
        font-size: 2em;
        img { height: 4em; }
        i { font-size: 4em; }
    }

    .text {
        width: 100% !important;
        text-align: center;
        max-width: 90%;
        font-size: 2em;
        margin: .5em;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, .54);
}
