<ng-container *ngIf="!(loading | async); else load_state">
    <header [class.dark-mode]="dark_mode" [class.joke]="is_fools_day">
        <topbar-header [(showMenu)]="show" [(filter)]="filter"></topbar-header>
    </header>
    <main [class.filtered]="filter">
        <div class="sidebar-menu">
            <sidebar-menu [(show)]="show"></sidebar-menu>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </main>
    <ng-container *ngIf="filter">
        <global-search [(search)]="filter"></global-search>
    </ng-container>
    <app-debug-output></app-debug-output>
    <app-upload-list></app-upload-list>
</ng-container>
<ng-template #load_state>
    <mat-spinner [class.center]="true" [style.position]="'absolute'" [diameter]="64"></mat-spinner>
</ng-template>
