<header>
    <h3 mat-dialog-title>{{model.item ? 'Edit' : 'New'}} Trigger Action</h3>
    <button mat-icon-button mat-dialog-close>
        <app-icon [icon]="{ type: 'icon', class: 'backoffice-cross' }"></app-icon>
    </button>
</header>
<mat-dialog-content>
    <div class="body" *ngIf="!loading; else load_state">
        <div class="field">
            <div class="label">Action<span class="orange">*</span>:</div>
            <div class="value">
                <mat-form-field appearance="outline">
                    <mat-select #select [(value)]="model.form.action_type">
                        <mat-label>Select an action</mat-label>
                        <mat-option *ngFor="let option of model.action_types" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div
            class="fieldset"
            *ngIf="model.form.action_type && model.form.action_type.id === 'execute'"
        >
            <div class="field">
                <div class="value">
                    <system-exec [system_id]="model.system?.id"></system-exec>
                </div>
            </div>
        </div>
        <div
            class="fieldset"
            *ngIf="model.form.action_type && model.form.action_type.id === 'email'"
        >
            <div class="field">
                <div class="label">Email addresses:</div>
                <div class="value">
                    <input
                        [(ngModel)]="model.form.emails"
                        placeholder="user@email.com, test@email.org, ..."
                    />
                </div>
            </div>
            <div class="field">
                <div class="label">Email contents:</div>
                <div class="value full">
                    <textarea [(ngModel)]="model.form.content" placeholder="Email body"></textarea>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="inverse" mat-dialog-close>Cancel</button>
    <button
        mat-button
        type="submit"
        [disabled]="has_errors"
        (tapped)="item ? edit() : new()"
    >
        {{ item ? 'Save' : 'Add' }}
    </button>
</mat-dialog-actions>
<ng-template #load_state>
    <div class="body">
        <div class="info-block">
            <div class="icon">
                <a-spinner circle-ring color="#000"></a-spinner>
            </div>
            <div class="text">Processing request...</div>
        </div>
    </div>
</ng-template>
