.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 640px) {
        flex-direction: column;
    }

    &.show {
        .sidebar {
            @media screen and (max-width: 640px) {
                height: 100%;
            }
        }
        main {
            @media screen and (max-width: 640px) {
                height: 0%;
            }
        }
    }
}

.sidebar {
    height: 100%;
    width: 20em;
    @media screen and (max-width: 640px) {
        height: 3em;
        min-height: 3em;
        width: 100%;
        transition: height 300ms;
    }
}

main {
    position: relative;
    height: 100%;
    overflow: hidden;
    flex: 1;
    background-color: #f0f0f0;
    @media screen and (max-width: 640px) {
        transition: height 300ms;
        width: 100%;
    }
}
