<div class="container">
    <section class="select">
        <button widget (tapped)="createApplication()">Add new</button>
    </section>
    <section>
        <div class="list" *ngIf="model.list && model.list.length > 0">
            <div class="table">
                <div class="table-head table-row">
                    <div class="name">Name</div>
                    <div class="flex">Redirect</div>
                    <div class="scope">Scope</div>
                    <div class="duo"></div>
                </div>
                <div class="table-body">
                    <div class="table-row" *ngFor="let item of model.list">
                        <div class="name">{{item.name}}</div>
                        <div class="flex">{{item.redirect}}</div>
                        <div class="scope">{{item.scope}}</div>
                        <div class="duo">
                            <div class="action"><i class="material-icons">edit</i></div>
                            <div class="action"><i class="material-icons">delete</i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-block" *ngIf="!model.list || model.list.length <= 0">
            <div class="text">No applications found</div>
        </div>
    </section>
</div>
