<div class="container" *ngIf="item">
    <section class="select">
        <button mat-button (tapped)="newApplication()">Add new</button>
    </section>
    <section>
        <div class="list" *ngIf="application_list && application_list.length > 0">
            <table>
                <thead>
                    <td class="name">Name</td>
                    <td class="flex">Redirect</td>
                    <td class="scope">Scope</td>
                    <td class="duo"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of application_list">
                        <td class="name" [matTooltip]="item.id">{{item.name}}</td>
                        <td class="flex"><a [href]="item.redirect_uri">{{item.redirect_uri}}</a></td>
                        <td class="scope">{{item.scopes}}</td>
                        <td class="duo">
                            <button mat-icon-button (tapped)="editApplication(item)">
                                <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
                            </button>
                            <button mat-icon-button (tapped)="deleteApplication(item)">
                                <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-block" *ngIf="!application_list || application_list.length <= 0">
            <div class="text">No applications found</div>
        </div>
    </section>
</div>
