<ng-container *ngIf="cluster_list && cluster_list.length; else empty_state">
    <ng-container *ngIf="!active_cluster; else process_state">
        <ng-container *ngFor="let cluster of cluster_list">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ cluster.hostname || 'Undefined Cluster' }} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <engine-cluster-item [cluster]="cluster" [cpu_history]="cpu_history[cluster.id] || []"></engine-cluster-item>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="active_cluster = cluster" i18n="@@viewClusterProcesses">View Processes</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #empty_state>
    <div class="info-block center">
        <div class="icon">
            <app-icon [icon]="{ class: 'backoffice-cross' }"></app-icon>
        </div>
        <div class="text" i18n="@@clusterListEmpty">No Cluster details to show</div>
    </div>
</ng-template>
<ng-template #process_state>
    <engine-cluster-task-list
        [cluster]="active_cluster"
        (close)="active_cluster = null"
    ></engine-cluster-task-list>
</ng-template>
