
@import 'shared.styles';

.container {
    padding: 1em;
}

tbody {
    font-size: .9em;
    td {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.list {
    margin-top: .5em;
}

div {
    .small {
        width: 2em;
    }
    .duo {
        width: 4em;
        * {
            display: inline-flex;
        }
    }
}
