@import 'shared.styles';

.execute {}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

dropdown {
    flex: 1;
}

.fn-input {
    flex-grow: 2;
    min-width: 10em;
    max-width: 100%;
    display: flex;
    align-items: center;

    * {
        font-family: $mono-font;
    }
}

.arg {
    display: flex;
    align-items: center;
}

.seperator {
    color: rgba(#000, .2);

    &.solid {
        color: rgba(#000, .87);
    }
}

input {
    margin-top: 2px;
    border: none;
    border-bottom: 2px dashed rgba(#000, 0);
    background: none;
    outline: none;
    font-size: 1em;
    color: rgba(#000, .87);
    padding: 0;
    border-radius: 0;

    &.error {
        border-bottom-color: $error;
    }

    &::placeholder {
        color: rgba(#000, .2);
    }
}
