@import 'shared.styles';

.container {
    width: 1280px;
    max-width: 95vw;
    font-size: 1.25em;
    overflow: hidden;

    @include respond-to(mobile){
        width: 20em;
    }
}

.body {
    font-size: .8em;
    width: 100%;
    overflow: auto;
}

.form {
    padding: .5em;
}

.field {
    display: flex;
    // align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 .5em .5em;

    .label {
        min-width: 8em;
        margin: .5em 0;
    }

    .value {
        width: 18em;
        flex-grow: 1;
        &.full {
            width: 100%;
        }
    }
}

settings-display {
    font-size: .8em;
}

input {
    border-radius: 4px;
    padding: .5em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

}

