<form *ngIf="form && used_settings && used_settings.length" [formGroup]="form">
    <mat-tab-group
        [selectedIndex]="level_index"
        (selectedIndexChange)="encryption_level = available_levels[$event].id"
    >
        <mat-tab
            *ngFor="let option of available_levels"
            [label]="
                option.name +
                (option.id !== 3 && used_settings[option.id]?.changes?.settings_string !== undefined
                    ? ' *'
                    : '')
            "
        >
        </mat-tab>
    </mat-tab-group>
    <ng-container *ngFor="let option of available_levels">
        <ng-container *ngIf="encryption_level === option.id">
            <settings-form-field
                [formControlName]="'settings' + option.id"
                [readonly]="!option.active || this.saving[option.id]"
            ></settings-form-field>
            <div class="error-display" *ngIf="form.controls['settings' + option.id]?.errors">
                {{ form.controls['settings' + option.id].errors.yaml }}
            </div>
        </ng-container>
    </ng-container>
    <div class="actions">
        <button
            mat-button
            *ngIf="active_edited"
            [disabled]="has_errors && !saving[shown_option.id]"
            (tapped)="save(shown_option.id)"
        >
            <div class="text" *ngIf="!saving[shown_option.id]; else spinner">Save [S]</div>
        </button>
        <button
            mat-button
            *ngIf="edited_count > 1"
            [disabled]="has_errors && !saving[shown_option.id]"
            (tapped)="saveAll()"
        >
            <div class="text" *ngIf="!saving[shown_option.id]; else spinner">Save All [A]</div>
        </button>
    </div>
</form>
<ng-template #spinner>
    <mat-spinner diameter="32"></mat-spinner>
</ng-template>
