
@import 'shared.styles';

.settings {
    position: relative;
    width: calc(100vw - 29em);
    height: calc(100vh - 32em);

    @include respond-to(mobile) {
        width: calc(100vw - 3em);
    }
}

.error-display {
    color: #fff;
    background-color: $error;
    white-space: pre-wrap;
    margin: .5em;
    padding: .5em;
    border-radius: 4px;
    font-family: $mono-font;
    @include box-shadow;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
}

button {
    margin: 0 .25em;
}
