
@import 'shared.styles';

$line-height: 24px;

.container {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    font-size: .95em;
    border: 1px solid rgba(#000, 0);
    &.error {
        border-color: $error;
    }

    &:hover {
        .copy {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.list {
    flex: 1;
    user-select:  text;
    * {
        user-select:  text;
    }
}

.line-numbers {
    min-width: 2.5em;
    background-color: rgba(#000, .1);
    .item {
        text-align: right;
        min-width: 2.5em;
        width: 100%;
        height: $line-height;

        &.error {
            background-color: $error;
            color: rgba(#fff, .87);
        }
    }
}

.list {
    position: relative;
    overflow-x: auto;
    .item {
        padding: .25em .5em .25em 1em;
        height: $line-height;

        &.error {
            box-shadow: inset 0 0 0 1px $error;
        }
    }
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: $line-height;
    font-family: $mono-font;
    resize: none;
    width: 100%;
    background: none;
    border: none;
    padding: 0 .5em 0 1em;
    // color: rgba(#000, 0);
    caret-color: rgba(#000, .87);
    white-space: pre;
    color: rgba(#000, .2);
    div {
        line-height: $line-height;
        font-family: $mono-font;
    }
}

.item {
    position: relative;
    background-color: rgba(#000, .05);
    display: flex;
    align-items: center;
    height: $line-height;
    font-family: $mono-font;
    white-space: nowrap;
    padding: .25em;
    min-width: 100%;


    .error {
        color: $error;
    }

    &:nth-child(2n) {
        background-color: rgba(#000, .1);
    }

    &:hover,
    &.hover {
        background-color: rgba($color-primary, .2);
    }

    .icon {
        position: absolute;
        top: 50%;
        left: .1em;
        transform: translateY(-50%);
        height: 1em;
        width: 1em;

        &:hover {
            opacity: .54;
        }
    }
}

code {
    font-family: $mono-font;
    white-space: pre;
    user-select: text;
    display: flex;
    span {
        font-family: $mono-font;
        white-space: pre;

        .key {
            color: #2E7D32;
        }

        .string {
            color: #D32F2F;
        }

        .number {
            color: #1565C0;
        }

        .boolean {
            color: #F4511E;
        }

        .null {
            color: rgba(#000, .54);
        }
    }
}

.copy {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: .5em;
    right: .5em;
    height: 1.5em;
    width: 1.5em;
    font-size: 1.5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(#000,0), 0 1px 1px 0 rgba(#000,0), 0 2px 1px -1px rgba(#000,0);
    transition: box-shadow 200ms, opacity 200ms, background-color 200ms;
    cursor: pointer;

    &:hover {
        box-shadow: 0 1px 3px 0 rgba(#000,.2), 0 1px 1px 0 rgba(#000,.14), 0 2px 1px -1px rgba(#000,.12);
    }

    &:active {
        background-color: #f0f0f0;
        box-shadow: 0 1px 3px 0 rgba(#000,0), 0 1px 1px 0 rgba(#000,0), 0 2px 1px -1px rgba(#000,0);
    }

    img {
        height: 1em;
    }
}
