
@import 'shared.styles';

.container {
    display: flex;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    font-size: .95em;
}

.list {
    flex: 1;
}

.line-numbers {
    min-width: 2.5em;
    background-color: rgba(#000, .1);
    .item {
        text-align: right;
        min-width: 2.5em;
        width: 100%;
    }
}

.list {
    overflow-x: auto;
    .item {
        padding: .25em .5em;
    }
}


.item {
    background-color: rgba(#000, .05);
    height: 1.5em;
    font-family: $mono-font;
    white-space: nowrap;
    padding: .25em;
    min-width: 100%;

    &:nth-child(2n) {
        background-color: rgba(#000, .1);
    }

    &:hover,
    &.hover {
        background-color: rgba($color-primary, .2);
    }
}

code {
    font-family: $mono-font;
    white-space: pre;
    span {
        font-family: $mono-font;
        white-space: pre;

        .key {
            color: #2E7D32;
        }

        .string {
            color: #D32F2F;
        }

        .number {
            color: #1565C0;
        }

        .boolean {
            color: #F4511E;
        }

        .null {
            color: rgba(#000, .54);
        }
    }
}
