<div class="container">
    <div class="item" *ngFor="let item of settings">
        <div [class]="'pair ' + item.type" *ngIf="item.type !== 'object'">
            <div class="connect" *ngIf="sub"></div>
            <div class="label">{{item.key}}</div>
            <div class="value">{{item.value}}</div>
        </div>
        <div class="object" *ngIf="item.type === 'object'" [class.show]="item.show">
            <div class="details">
                <div class="connect" *ngIf="sub"></div>
                <div class="icon" (touchrelease)="item.show = !item.show">
                    <i class="material-icons">keyboard_arrow_right</i>
                </div>
                <div class="label">{{item.key}}</div>
            </div>
            <div class="sub-item" *ngIf="item.show">
                <div class="line">
                    <div class="bar"></div>
                </div>
                <div class="content">
                    <settings-display [model]="item.value" [sub]="true"></settings-display>
                </div>
            </div>
        </div>
    </div>
</div>