<div class="container">
    <section class="select">
        <button mat-button (click)="newAuthSource()" i18n="@@newAction">Add new</button>
    </section>
    <section>
        <div class="list" *ngIf="auth_sources && auth_sources.length > 0; else no_auth_sources">
            <table>
                <thead>
                    <td class="name" i18n="@@authTableName">Name</td>
                    <td class="flex" i18n="@@authTableType">Type</td>
                    <td class="duo"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of auth_sources">
                        <td class="name" [matTooltip]="item.id">{{item.name}}</td>
                        <td class="flex">{{source_types[item.id]}}</td>
                        <td class="duo">
                            <button mat-icon-button (click)="editAuthSource(item)">
                                <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
                            </button>
                            <button mat-icon-button (click)="deleteAuthSource(item)">
                                <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<ng-template #no_auth_sources>
    <div class="info-block">
        <div class="text" i18n="@@authTableEmpty">No authentication sources found</div>
    </div>
</ng-template>
