<div class="container" [class.dark-mode]="dark_mode">
    <header *ngIf="item && !loading">
        <div class="heading-group">
            <div class="heading">
                {{ item.display_name || item.custom_name || item.name || "&lt;Unnamed&gt;" }}
            </div>
            <div class="info">
                <div class="id" *ngIf="item.id" (click)="copy()">
                    <span>{{ item.id }}</span>
                </div>
                <div class="chip driver" *ngIf="driver_type" i18n="@@driverType">
                    { driver_type, select, Device { Device } Logic { Logic } SSH { SSH } Websocket {
                    Websocket } Service { Service } other { Other } }
                </div>
                <div
                    class="chip connect"
                    *ngIf="item.connected !== null && item.connected !== undefined"
                    [class.active]="item.connected"
                    i18n="@@onlineState"
                >
                    { item.connected, select, true { Online } false { Offline } other { Other } }
                </div>
                <div class="chip secure" *ngIf="item.tls">
                    <div class="icon"><i class="backoffice-lock"></i></div>
                    <div class="text" i18n="@@secure">Secure</div>
                </div>
            </div>
        </div>
        <div class="options" *ngIf="has_change">
            <button
                mat-icon-button
                (touchrelease)="edit()"
                matTooltip="Edit [E]"
                i18n-matTooltip="@@editAction"
            >
                <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
            </button>
            <button
                mat-icon-button
                (touchrelease)="delete()"
                matTooltip="Delete [D]"
                i18n-matTooltip="@@deleteAction"
            >
                <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
            </button>
        </div>
    </header>
    <main *ngIf="item && !loading">
        <div class="tabs">
            <nav mat-tab-nav-bar [class.scroll]="is_scrolled">
                <a
                    class="tab"
                    mat-tab-link
                    *ngFor="let link of tabs"
                    [routerLink]="item.id ? ['/' + route, item.id, link.id] : ['/' + route, link.id]"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    <app-icon [icon]="link.icon"></app-icon>
                    <div class="name" i18n="@@tabNames">
                        { link.name, select, About { About } Modules { Modules } Zones { Zones }
                        Triggers { Triggers } Systems { Systems } Metadata { Metadata } Children {
                        Children } Drivers { Drivers } History { History } Applications {
                        Applications } Authenication { Authenication } Users { Users } Database {
                        Database } Clusters { Clusters } other { Other }} &nbsp;
                    </div>
                    <div class="count" *ngIf="link.count || link.count === 0">
                        ({{ link.count || '0' }})
                    </div>
                </a>
            </nav>
            <div class="content" #content (scroll)="is_scrolled">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>
<div class="not-mobile center" *ngIf="!item && !loading">
    <div class="info-block">
        <div class="icon">
            <i class="backoffice-arrow-left"></i>
        </div>
        <div class="text" i18n="@@selectItem">
            Select a { name, select, system { system } module { module } driver { driver }
            repository { repository } zone { zone } trigger { trigger } user { user } domain {
            domain } other { other } } from the sidebar
        </div>
    </div>
</div>
<div class="mobile-only center" *ngIf="!item && !loading">
    <div class="info-block">
        <div class="icon">
            <i class="backoffice-arrow-up"></i>
        </div>
        <div class="text" i18n="@@selectItemMobile">
            Select a { name, select, system { system } module { module } driver { driver }
            repository { repository } zone { zone } trigger { trigger } user { user } domain {
            domain } other { other } } from the search bar
        </div>
    </div>
</div>
<div class="info-block center" *ngIf="loading">
    <div class="icon">
        <a-spinner circle-ring></a-spinner>
    </div>
    <div class="text" i18n="@@itemLoading">
        Loading { name, select, system { system } module { module } driver { driver } repository {
        repository } zone { zone } trigger { trigger } user { user } domain { domain } other { other
        } }...
    </div>
</div>
