
<div class="container" *ngIf="item && !loading">
    <header>
        <div class="heading-group">
            <div class="heading">{{item.display_name || item.name}}</div>
            <div class="info">
                <div class="id" *ngIf="item.id"><span>{{item.id}}</span></div>
                <div class="chip connect" *ngIf="item.connected !== null && item.connected !== undefined" [class.active]="item.connected">
                    {{item.connected ? 'Online' : 'Offline'}}
                </div>
                <div class="chip secure" *ngIf="item.tls">
                    <div class="icon"><i class="material-icons">lock</i></div>
                    <div class="text">Secure</div>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="option" click-responder (touchrelease)="event.emit({ type: 'edit' })">
                <i class="material-icons">edit</i>
            </div>
            <div class="option" click-responder (touchrelease)="event.emit({ type: 'delete' })">
                <i class="material-icons">delete</i>
            </div>
        </div>
    </header>
    <main>
        <div class="tabs" *ngIf="tabs && tabs.length > 0">
            <tab-group [(state)]="model.tab" (stateChange)="event.emit({ type: 'tab', value: $event })">
                <tab *ngFor="let tab of tabs" [id]="tab.id" [style.width]="(100 / tabs.length) + '%'">
                    <div class="tab">
                        <i [class]="tab.icon?.class">{{tab.icon?.value}}</i>
                        <div class="name">{{tab.name}}&nbsp;</div>
                        <div class="count" *ngIf="tab.count || tab.count === 0">({{tab.count || '0'}})</div>
                    </div>
                </tab>
            </tab-group>
        </div>
        <div class="content">
            <ng-container *ngFor="let tab of tabs">
                <ng-container *ngIf="model.tab === tab.id">
                    <ng-container *ngTemplateOutlet="tab.template"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </main>
</div>
<div class="no-item not-mobile center" *ngIf="!item && !loading">
    <div class="icon">
        <i class="material-icons">arrow_back</i>
    </div>
    <div class="text">Select a {{name}} from the sidebar</div>
</div>
<div class="no-item mobile center" *ngIf="!item && !loading">
    <div class="icon">
        <i class="material-icons">arrow_upward</i>
    </div>
    <div class="text">Select a {{name}} from the search bar</div>
</div>
<div class="no-item center" *ngIf="loading">
    <div class="icon">
        <spinner type="circle-ring"></spinner>
    </div>
    <div class="text">Loading {{name}}...</div>
</div>
