
@import 'shared.styles';

.container {
    background-color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1em 1.5em .25em;
    width: 100%;
    @include respond-to(mobile) {
        padding: .75em 1em .25em;
    }

    .heading {
        display: flex;
        align-items: center;
        font-size: 1.8em;
        height: 1.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .id {
        color: rgba(#000, .54);
        margin-right: .5em;
        span {
            user-select: all;
            cursor: cell;
        }
    }

    .options {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }

        i {
            margin: .25em;
        }
    }
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.tabs {
    display: flex;
    align-items: center;
    width: 100%;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
       margin-right: .5em;
    }

    .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include respond-to(mobile) {
            display: none;
        }
    }
}

.heading-group {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    font-size: .8em;
}

.id {
    font-family: $mono-font;
    font-size: .9em;
    * {
        font-family: $mono-font;
    }
}

.border-top {
    border-top: 1px solid #ccc;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: auto;
    font-size: .9em;
    & > * {
        width: 100%;
    }
}

.no-item {
    color: rgba(#000, .54);
}

.chip {
    font-size: .9em;
    padding: 0 .75em;
    height: 1.5em;
    border-radius: .8em;
    background-color: #ccc;
    margin: 0 .5em;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(#000,.2), 0 1px 1px 0 rgba(#000,.14), 0 2px 1px -1px rgba(#000,.12);
    font-weight: 500;

    &.secure {
        background-color: $success;
        color: #fff;
        padding-left: .4em;
    }

    &.connect {
        background-color: $error;
        color: #fff;
        &.active {
            background-color: $success;
        }
    }

    .icon {
        height: 1.2em;
        width: 1.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
