<div class="container" *ngIf="item && !loading">
    <header>
        <div class="heading-group">
            <div class="heading">{{ item.display_name || item.name }}</div>
            <div class="info">
                <div class="id" *ngIf="item.id" (dblclick)="copy()">
                    <span>{{ item.id }}</span>
                </div>
                <div
                    class="chip connect"
                    *ngIf="item.connected !== null && item.connected !== undefined"
                    [class.active]="item.connected"
                >
                    {{ item.connected ? 'Online' : 'Offline' }}
                </div>
                <div class="chip secure" *ngIf="item.tls">
                    <div class="icon"><i class="backoffice-lock"></i></div>
                    <div class="text">Secure</div>
                </div>
            </div>
        </div>
        <div class="options" *ngIf="has_change">
            <button mat-icon-button (touchrelease)="edit()">
                <app-icon [icon]="{ class: 'backoffice-edit' }"></app-icon>
            </button>
            <button mat-icon-button (touchrelease)="delete()">
                <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
            </button>
        </div>
    </header>
    <main>
        <div class="tabs" *ngIf="tabs && tabs.length > 1">
            <a-tab-group [tab]="active">
                <a-tab
                    *ngFor="let tab of tabs"
                    [id]="tab.id"
                    (activeChange)="active = tab.id; event.emit({ type: 'tab', value: tab.id })"
                    [content]="tab.template"
                    [style.width]="100 / tabs.length + '%'"
                >
                    <div class="tab">
                        <i [class]="tab.icon?.class">{{ tab.icon?.value }}</i>
                        <div class="name">{{ tab.name }}&nbsp;</div>
                        <div class="count" *ngIf="tab.count || tab.count === 0">
                            ({{ tab.count || '0' }})
                        </div>
                    </div>
                </a-tab>
            </a-tab-group>
        </div>
    </main>
</div>
<div class="not-mobile center" *ngIf="!item && !loading">
    <div class="info-block">
        <div class="icon">
            <i class="backoffice-arrow-left"></i>
        </div>
        <div class="text">Select a {{ name }} from the sidebar</div>
    </div>
</div>
<div class="mobile-only center" *ngIf="!item && !loading">
    <div class="info-block">
        <div class="icon">
            <i class="backoffice-arrow-up"></i>
        </div>
        <div class="text">Select a {{ name }} from the search bar</div>
    </div>
</div>
<div class="info-block center" *ngIf="loading">
    <div class="icon">
        <a-spinner circle-ring></a-spinner>
    </div>
    <div class="text">Loading {{ name }}...</div>
</div>
