
@import 'shared.styles';

.container {
    background-color: #fff;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1em 1.5em;
    width: 100%;
    @include respond-to(mobile) {
        padding: .75em 1em;
    }

    .heading {
        display: flex;
        align-items: center;
        font-size: 2em;
        height: 1.5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .id {
        color: rgba(#000, .54);
        padding: .5em;
        span {
            user-select: all;
        }
    }

    .options {
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }

    .option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
        border-radius: 100%;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            background-color: #f0f0f0;
        }

        i {
            margin: .25em;
        }
    }
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.tabs {
    width: 100%;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
       margin-right: .5em; 
    }

    .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.content {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.no-item {
    color: rgba(#000, .54);
}
