<section class="execute" *ngIf="system && system.id && devices && devices.length > 0">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-select #select [value]="active_module" (valueChange)="loadFunctions($event)" placeholder="Select a device">
                <mat-option *ngFor="let option of devices || []" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="methods">
            <mat-select
                #select
                [value]="active_method"
                (valueChange)="selectFunction($event)"
                placeholder="Select a function"
            >
                <mat-option *ngFor="let option of methods || []" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row function" *ngIf="active_method">
        <div class="fn-input">
            <div class="bracket">{{active_method.name}}(</div>
            <div class="arg" *ngFor="let arg of active_method.params; let i = index">
                <span class="seperator" [class.solid]="arg[0] === 'req' || fields[arg[1]]"
                    >{{(i > 0 ? ',&nbsp;' : '')}}</span
                >
                <input
                    #argument
                    [(ngModel)]="fields[arg[1]]"
                    (ngModelChange)="checkFields()"
                    [class.error]="error && error[arg[1]]"
                    [style.width]="(.6 * (fields[arg[1]] || (arg[0] === 'opt' ? '[' + arg[1] + ']' : arg[1])).length + .3) + 'em'"
                    [placeholder]="arg[0] === 'opt' ? '[' + arg[1] + ']' : arg[1]"
                    (keyup.enter)="nextField($event)"
                    (keydown.,)="nextField($event)"
                    (keyup.arrowright)="nextField($event)"
                    (keyup.backspace)="previousField($event)"
                    (keyup.arrowleft)="previousField($event)"
                    (focus)="focused(i)"
                />
            </div>
            <div class="bracket">)</div>
        </div>
        <div class="send" *ngIf="active_method && executable">
            <button mat-button [disabled]="!fields_valid" (tapped)="execute()">
                Send
            </button>
        </div>
    </div>
</section>
