<div *ngIf="show" class="upload-list">
    <div class="header">
        <div class="text">Uploads({{ uploads.length || '0' }})</div>
        <button mat-icon-button (click)="show = false">
            <app-icon [icon]="{ class: 'backoffice-cross' }"></app-icon>
        </button>
    </div>
    <div class="list">
        <ul *ngIf="uploads && uploads.length; else no_uploads">
            <li *ngFor="let item of uploads">
                <div class="details" [title]="item.name">
                    <div class="name">{{ item.name }}</div>
                    <div class="link" *ngIf="item.progress >= 100">
                        <a href="item.link | safe" i18n="@@uploadLink" target="_blank">Link</a>
                    </div>
                    <div class="size">{{ item.formatted_size }}</div>
                    <div class="progress" *ngIf="item.progress < 100">{{ item.progress }}%</div>
                    <div class="progress done" *ngIf="item.progress >= 100">
                        <app-icon [icon]="{ class: 'backoffice-check' }"></app-icon>
                    </div>
                </div>
                <mat-progress-bar
                    *ngIf="item.progress < 100"
                    mode="determinate"
                    [value]="item.progress"
                ></mat-progress-bar>
            </li>
        </ul>
    </div>
</div>
<div class="event-listener" (document:dragenter)="show_overlay = true" hidden></div>
<div
    class="overlay"
    (dragend)="show_overlay = false"
    (dragleave)="show_overlay = false"
    (drop)="handleFileEvent($event)"
    *ngIf="show_overlay"
>
    <div class="upload-info-container">
        <div class="upload-info animate__animated animate__jackInTheBox">
            <app-icon
                class="animate__animated animate__bounce animate__delay-1s animate__infinite"
                [icon]="{ class: 'backoffice-upload-to-cloud' }"
            ></app-icon>
            <div class="info">Drop files to upload them to the cloud</div>
        </div>
    </div>
    <input type="file" multiple (change)="handleFileEvent($event)"/>
</div>
<ng-template #no_uploads>
    <div class="info-block center">
        <div class="icon">
            <app-icon [icon]="{ class: 'backoffice-cross' }"></app-icon>
        </div>
        <div class="text">No uploads to show</div>
    </div>
</ng-template>
