@import 'variables';

:host {
}

.upload-list {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 512px;
    max-width: calc(100vw - 1em);
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 0.8em;
    color: rgba(#000, 0.85);

    @include box-shadow();
}

.header {
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    background-color: #263238;
    color: #fff;
    font-weight: 500;

    .text {
        flex: 1;
    }
}

.list {
    position: relative;
    min-height: 10em;
    max-height: 24em;
    overflow: auto;
}

ul {
    display: inline;
    padding: 0;

    li {
        margin: 2px 0;
        height: 3em;
        &:nth-child(2n) {
            background-color: rgba(#000, 0.05);
        }
        &:hover {
            background-color: rgba(#000, 0.2);
        }

        &.error {
            background-color: rgba($error, 0.1);
        }
    }

}

.details {
    display: flex;
    align-items: center;
    padding: 0.5em;
    height: 2.75em;
}

.name {
    flex: 1;
    min-width: 25%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.progress {
    display: flex;
    justify-content: flex-end;
    width: 3em;

    &.done {
        color: $success;
    }

    &.error {
        color: $error;
    }
}

.size {
    width: 6em;
    text-align: right;
    font-family: $mono-font;
}

.event-listener {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#000, 0.35);
    z-index: 999;

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
    }
}

.upload-info-container {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
}

.upload-info {
    display: flex;
    align-items: center;
    flex-direction: column;

    app-icon {
        position: relative;
        top: 0.35em;
        font-size: 5em;
        z-index: 2;
        --animate-duration: 1.5s;
    }
}

.info {
    background-color: #fff;
    border-radius: 4px;
    padding: 1em;
    color: rgba(#000, 0.85);
    @include box-shadow();
    z-index: 1;
}

.link {
    a {
        font-weight: 300;
        text-decoration: underline;
    }
}
