<div class="repository form" *ngIf="form">
    <form [formGroup]="form">
        <div class="field" *ngIf="form.controls.name">
            <label
                for="repository-name"
                [class.error]="form.controls.name.invalid && form.controls.name.touched"
                >Name<span>*</span>:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="repository-name"
                    placeholder="Repository Name"
                    formControlName="name"
                    required
                />
                <mat-error *ngIf="form.controls.name.invalid"
                    >Repository name is required</mat-error
                >
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.folder_name">
            <label
                for="folder-name"
                [class.error]="
                    form.controls.folder_name.invalid && form.controls.folder_name.touched
                "
                >Folder Name<span>*</span>:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="folder-name"
                    placeholder="Folder Name"
                    formControlName="folder_name"
                    required
                />
                <mat-error *ngIf="form.controls.folder_name.invalid"
                    >Folder name is required</mat-error
                >
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.description">
            <label for="description">Description:</label>
            <mat-form-field appearance="outline">
                <textarea
                    matInput
                    name="description"
                    placeholder="Description"
                    formControlName="description"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.uri">
            <label for="uri" [class.error]="form.controls.uri.invalid && form.controls.uri.touched">
                Repository URI<span>*</span>:
            </label>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="uri"
                    placeholder="Repository URI"
                    formControlName="uri"
                    required
                />
                <mat-error *ngIf="form.controls.uri.invalid">URI is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.type">
            <label for="type">Repository Type: </label>
            <mat-form-field appearance="outline">
                <mat-select name="type" formControlName="type">
                    <mat-option *ngFor="let type of repo_types" [value]="type.id">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>
