<div class="container" *ngIf="item">
    <div class="settings">
        <section class="select">
            <div class="dropdown">
                <item-search-field
                    name="zone"
                    [query_fn]="query_fn"
                    [exclude]="exclude_fn"
                    [ngModel]="null"
                    (ngModelChange)="new_zone = $event"
                ></item-search-field>
            </div>
            <button mat-button [disabled]="!new_zone" (click)="joinZone()">Join zone</button>
        </section>
        <section>
            <table *ngIf="zones && zones.length > 0">
                <thead>
                    <td class="small"></td>
                    <td class="name" i18n="@@zoneTableEmpty">Name</td>
                    <td class="description" i18n="@@descriptionLabel">Description</td>
                    <td *ngIf="zones.length > 1" class="small"></td>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                    <tr *ngFor="let zone of zones" cdkDrag>
                        <td class="small">
                            <div class="action grab" cdkDragHandle>
                                <i class="backoffice-select-arrows"></i>
                            </div>
                        </td>
                        <td class="name">
                            <a
                                [routerLink]="['/zones', zone.id]"
                                routerLinkActive="router-link-active"
                                [matTooltip]="zone.id"
                                >{{zone.name}}</a
                            >
                        </td>
                        <td class="description">{{zone.description}}</td>
                        <td *ngIf="zones.length > 1" class="small">
                            <button mat-icon-button (click)="removeZone(zone)">
                                <i class="backoffice-trash"></i>
                            </button>
                        </td>
                        <td class="placeholder" colspan="6" *cdkDragPlaceholder></td>
                    </tr>
                </tbody>
            </table>
            <div class="info-block" *ngIf="!zones || zones.length <= 0">
                <div class="text" i18n="@@zoneTableEmpty">No zones for system</div>
            </div>
        </section>
    </div>
</div>
