@import 'shared.styles';

.container {
    padding: 1em;
}

.options {
    display: flex;
    font-size: 1.2em;
    max-width: 5em;
    margin: 0;
}

.table-row {
    .name {
        flex: 1;
        width: 5em;
    }

    .module {
        width: 10em;
        min-width: 7em;
    }
}

.placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 3em;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.lock {

    height: 1.2em;
    width: 1.2em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.state {
    height: 16px;
    width: 16px;
    margin: .25em;
    background-color: #000;
    border-radius: .8em;
    transition: margin 250ms, height 250ms, width 250ms, background-color 300ms;

    &.active {
        background-color: $success;
        height: 8px;
        width: 8px;
        margin: .625em;
    }
}

section {
    padding: .5em .25em;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grab {
    cursor: grab;
}
