<div class="container">
    <section class="select">
        <button widget (tapped)="newDevice()">Add new</button>
        <div class="dropdown">
            <engine-item-dropdown [service]="model.module_service" label="Select device" [(model)]="model.new_module"></engine-item-dropdown>
        </div>
        <button widget [disabled]="!model.new_module" (tapped)="addDevice()">Add existing</button>
    </section>
    <section>
        <div class="table" *ngIf="model.devices && model.devices.length > 0">
            <div class="table-head table-row">
                <div class="small"></div>
                <div class="small"></div>
                <div class="name">Name</div>
                <div class="module">Class</div>
                <div class="ip">IP</div>
                <div class="small"></div>
            </div>
            <div class="table-body" cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="table-row" *ngFor="let device of (model.devices || [])" a-context-item [content]="context_menu" (event)="event($event, device)" cdkDrag>
                    <div class="small">
                        <div class="action grab" cdkDragHandle><i class="material-icons">reorder</i></div>
                    </div>
                    <div class="small">
                        <i binding [(value)]="device.connected" [sys]="item.id" [mod]="(device.custom_name || device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)" bind="connected"></i>
                        <div class="state" [class.active]="device.connected"></div>
                    </div>
                    <div class="name"><a (touchrelease)="goto(device)">{{device.name}}</a></div>
                    <div class="module">
                        <a-checkbox [label]="(device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)"></a-checkbox>
                    </div>
                    <div class="ip">
                        <div class="lock"><i class="material-icons" *ngIf="device.tls">lock</i></div>
                        <a (touchrelease)="goto(device, item.ip)">{{device.ip}}</a>
                    </div>
                    <div class="small" a-context-item [content]="context_menu" (event)="event($event, device)" touchrelease>
                        <div class="action"><i class="material-icons">more_vert</i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-item" *ngIf="!model.devices || model.devices.length <= 0">
            <div class="text">No devices for system</div>
        </div>
    </section>
</div>