<div class="container">
    <section class="select">
        <btn>Add new</btn>
        <btn>Add existing</btn>
    </section>
    <section>
        <table *ngIf="model.devices && model.devices.length > 0">
            <thead>
                <tr>
                    <td></td>
                    <td>Name</td>
                    <td>Class</td>
                    <td>IP</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of (model.devices || [])">
                    <td class="small">
                        <i binding [(value)]="device.connected" [sys]="item.id" [mod]="(device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)" bind="connected"></i>
                        <div class="state" [class.active]="device.connected"></div>
                    </td>
                    <td class="name"><a (touchrelease)="goto(device)">{{item.name}}</a></td>
                    <td class="module">
                        <checkbox [label]="(device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)"></checkbox>
                    </td>
                    <td class="ip">
                        <div class="lock"><i class="material-icons" *ngIf="device.tls">lock</i></div>
                        <a (touchrelease)="goto(device, item.ip)">{{device.ip}}</a></td>
                    <td class="options">
                        <div class="action"><i class="material-icons">{{device.running ? 'play_arrow' : 'stop'}}</i></div>
                        <div class="action"><i class="material-icons">visibility</i></div>
                        <div class="action"><i class="material-icons">edit</i></div>
                        <div class="action"><i class="material-icons">refresh</i></div>
                        <div class="action"><i class="material-icons">delete</i></div>
                        <div class="action"><i class="material-icons">reorder</i></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="no-item" *ngIf="!model.devices || model.devices.length <= 0">
            <div class="text">No devices for system</div>
        </div>
    </section>
</div>