<div class="container">
    <section class="select">
        <button widget (tapped)="newDevice()">Add new</button>
        <div class="dropdown">
            <engine-item-dropdown [service]="model.module_service" label="Select device" [(model)]="model.new_module"></engine-item-dropdown>
        </div>
        <button widget [disabled]="!model.new_module" (tapped)="addDevice()">Add existing</button>
    </section>
    <section>
        <table *ngIf="model.devices && model.devices.length > 0">
            <thead>
                <td class="small"></td>
                <td class="small"></td>
                <td class="name">Name</td>
                <td class="module">Class</td>
                <td class="ip">IP</td>
                <td class="small"></td>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr *ngFor="let device of (model.devices || [])" a-context-item [content]="context_menu" (event)="event($event, device)" cdkDrag>
                    <td class="small">
                        <div class="action grab" cdkDragHandle><i class="backoffice-select-arrows"></i></div>
                    </td>
                    <td class="small">
                        <i binding [(model)]="device.connected" [sys]="item.id" [mod]="(device.custom_name || device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)" bind="connected"></i>
                        <div class="state" [class.active]="device.connected"></div>
                    </td>
                    <td class="name"><a (touchrelease)="goto(device)">{{device.name}}</a></td>
                    <td class="module">
                        <a-checkbox [label]="(device.dependency?.module_name || device.dependency?.module) + '_' + (device.role + 1)"></a-checkbox>
                    </td>
                    <td class="ip">
                        <div class="lock"><i class="backoffice-lock" *ngIf="device.tls"></i></div>
                        <a (touchrelease)="goto(device, item.ip)">{{device.ip}}</a>
                    </td>
                    <td class="small" a-context-item [content]="context_menu" (event)="event($event, device)" touchrelease>
                        <div class="action"><i class="backoffice-dots-three-vertical"></i></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="info-block" *ngIf="!model.devices || model.devices.length <= 0">
            <div class="text">No devices for system</div>
        </div>
    </section>
</div>