<div class="container" [class.dark-mode]="dark_mode">
    <header>
        <div class="heading">
            { heading, select, Systems { Systems } Modules { Modules } Zones { Zones } Drivers {
            Drivers } Repositories { Repositories } Triggers { Triggers } Users { Users } Domains {
            Domains } Admin { Admin } other { Other } }
        </div>
        <div class="count">
            <div>
                <div
                    class="inline"
                    [matTooltip]="heading + ' count / License count'"
                    i18n-matTooltip
                >
                    {{ (total | async) || 0 }} of {{ (search ? grand_total : licenses) || '∞' }}
                </div>
            </div>
        </div>
        <button
            mat-icon-button
            class="add"
            *ngIf="new && ((total | async) < licenses || !licenses) && is_admin"
            (click)="newItem()"
            [matTooltip]="'Add ' + heading + ' [N]'"
            i18n-matTooltip
        >
            <app-icon [icon]="{ class: 'backoffice-plus' }"></app-icon>
        </button>
        <div
            class="error"
            *ngIf="new && ((total | async) >= licenses && licenses) && is_admin"
            matTooltip="
            Exceeded quota! No new item can be created
            until the total is below you license count."
            i18n-matTooltip
        >
            <i class="backoffice-warning"></i>
        </div>
        <button mat-icon-button class="mobile-only" (click)="toggle()">
            <app-icon [icon]="{ class: 'backoffice-' + (close ? 'cross' : 'list') }"></app-icon>
        </button>
    </header>
    <section class="search">
        <div class="input">
            <input
                [(ngModel)]="search"
                (ngModelChange)="updateSearch($event)"
                [placeholder]="'Filter ' + lowercase_heading"
                i18n-placeholder
            />
        </div>
    </section>
    <section class="content" [class.scroll]="is_scrolled">
        <ng-content></ng-content>
    </section>
    <section class="list">
        <ng-container>
            <cdk-virtual-scroll-viewport
                itemSize="48"
                (scroll)="is_scrolled"
                (scrolledIndexChange)="atBottom()"
            >
                <ng-container *cdkVirtualFor="let item of items | async; trackBy:trackByFn">
                    <a
                        [routerLink]="subroute ? [route, item.id, subroute]: [route, item.id]"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: false, __change_detection_hack__: item.id + subroute }"
                    >
                        <div #list_item class="item" [title]="">
                            <div class="text" [innerHTML]="item_name[item.id] | sanitize"></div>
                            <app-icon
                                [icon]="{ type: 'icon', class: 'backoffice-check' }"
                            ></app-icon>
                        </div>
                    </a>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </ng-container>
        <div class="info-block center" *ngIf="!(loading | async) && !(items | async).length">
            <div class="icon">
                <i class="backoffice-cross"></i>
            </div>
            <div class="text">{{ !search ? 'No ' + lowercase_heading : 'No matches found' }}</div>
            <div class="btn" *ngIf="new">
                <button mat-button (click)="newItem()" i18n>Add new {{ lowercase_heading }}</button>
            </div>
        </div>
    </section>
    <div class="loading" *ngIf="loading | async">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</div>
