<div class="container" *ngIf="item">
    <header *ngIf="item.description">Description</header>
    <section class="description" *ngIf="item.description" [innerHTML]="parsed_description"></section>
    <header *ngIf="system_list && system_list.length">Execute Command</header>
    <section *ngIf="system_list && system_list.length">
        <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="active_system" placeholder="Select system">
                <mat-option *ngFor="let system of system_list" [value]="system">
                {{system.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <system-exec-field *ngIf="active_system && active_system.id" [system]="active_system"></system-exec-field>
    </section>
    <section class="tags" *ngIf="item && tag_list">
        <label for="tags">Tags:</label>
        <div class="value">
            <mat-chip-list name="tags">
                <mat-chip *ngFor="let tag of tag_list">{{ tag }}</mat-chip>
            </mat-chip-list>
        </div>
    </section>
    <header>Settings</header>
    <section>
        <settings-form-field [ngModel]="settings" [readonly]="true"></settings-form-field>
    </section>
</div>
