
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
}

section {
    padding: 1em;
}

.settings section {
    font-size: .8em;
}

.tags {
    display: flex;
    padding: .5em 0;
    .value {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-start;
    }

    .label {
        height: 1.8em;
        margin-right: .25em;
        display: flex;
        align-items: center;
    }

    .tag {
        height: 1.8em;
        border-radius: .95em;
        margin: .25em;
        background-color: rgba(#000, .2);
        padding: .25em 1em;
        font-size: .8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
