
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
}

section {
    padding: .5em .25em;
}

.tags {
    display: flex;
}

label {
    font-size: .8em;
    font-weight: 500;
    padding: .75em .5em;
}

.padded {
    padding: .5em 0;
}
