
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: .5em;

    &.settings {
        position: relative;
        top: .75em;
        margin: 0;
    }
}

mat-form-field {
    height: 3.25em;
    overflow: hidden;

    @include respond-to(mobile) {
        width: 100%;
    }
}

section {
    padding: .5em .25em;
}

.details {
    .field {
        display: flex;
        align-items: center;
        margin: .25em 0;

        .value {
            padding: 0 .5em;
            user-select: all;
        }
    }
}

label {
    font-size: .8em;
    font-weight: 500;
}

.tags {
    display: flex;
    label {
        padding: .75em .5em;
    }
}

.padded {
    padding: .5em 0;
}
