
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    span {
        font-weight: normal;
        font-size: .9em;
    }
}

section {
    padding: 1em;
}

.settings section {
    font-size: .8em;
}
