<div class="container" *ngIf="item">
    <div class="list" *ngIf="model.logs && model.logs.length > 0">
        <table>
            <thead>
                <td class="start">Session Start</td>
                <td class="end">Ended</td>
                <td class="flex">Systems Accessed</td>
            </thead>
            <tbody>
                <tr *ngFor="let item of model.logs">
                    <td class="start">{{item.display?.started}}</td>
                    <td class="end">{{item.display?.ended}}</td>
                    <td class="flex">
                        <div>{{item.systems.length}}</div>
                        <div>View</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="info-block" *ngIf="!model.logs || model.logs.length <= 0">
        <div class="text">No logs found</div>
    </div>
</div>
