<div
    class="flex items-center justify-between m-4 rounded bg-base-200 px-4 py-2"
>
    <h3 class="text-xl font-medium">
        {{ 'COMMON.BULK_ADD' | translate: { type: type } }}
    </h3>
    <button btn icon mat-dialog-close *ngIf="!loading">
        <app-icon>close</app-icon>
    </button>
</div>
<main [ngSwitch]="flow_step">
    <bulk-item-status-list
        *ngSwitchCase="'status'"
        [save]="save"
        [list]="item_list"
        (done)="done()"
    ></bulk-item-status-list>
    <bulk-item-list
        *ngSwitchCase="'list'"
        [(list)]="item_list"
        [fields]="available_fields"
        (next)="showStatus()"
        (previous)="flow_step = 'match-fields'"
    ></bulk-item-list>
    <bulk-item-match-fields
        *ngSwitchCase="'match-fields'"
        [list]="data_list"
        [field_list]="available_fields"
        (mapping_done)="handleList($event, true)"
        (previous)="flow_step = ''"
    ></bulk-item-match-fields>
    <bulk-item-csv-upload
        *ngSwitchDefault
        [template]="template"
        (list)="handleList($event)"
    ></bulk-item-csv-upload>
</main>
