
<div class="container">
    <div class="topbar" [class.uat]="env !== 'prod'" >
        <div class="menu" (tapped)="toggleMenu()">
            <i [class]="'backoffice-' + (show_menu ? 'cross' : 'menu')"></i>
        </div>
        <div class="block">
            <div *ngIf="logo" class="logo" (tapped)="logo()">
                <a [routerLink]="['/']">
                    <img *ngIf="logo.type==='image' || logo.type==='img'" [src]="logo.src">
                    <i *ngIf="logo.type !== 'image' && logo.type!=='img'" [class]="logo.class">{{logo.content}}</i>
                </a>
            </div>
        </div>
        <div class="search">
            <searchbar *ngIf="has_search" [(filter)]="filter_str" (filterChange)="postFilter()"></searchbar>
        </div>
        <div class="block end">
            <!-- TODO Add user details display -->
            <div class="avatar" [title]="user?.name" a-tooltip position="bottom" offset="end" [content]="options_template" [(show)]="show" (tapped)="show = !show">
                <div class="img" [style.background-image]="('url(' + (user?.image || 'https://www.gravatar.com/avatar/' + user?.gravatar_hash) + ')') | safe:'style'"></div>
            </div>
        </div>
    </div>
</div>
<ng-template #options_template>
    <div class="user-options">
        <div class="details">
            <div class="name">{{user?.name || 'Guest'}}</div>
            <div class="avatar" a-tooltip position="bottom" offset="end" [content]="options">
                <div class="img" [style.background-image]="('url(' + (user?.image || 'https://www.gravatar.com/avatar/' + user?.gravatar_hash) + ')') | safe:'style'"></div>
            </div>
        </div>
        <div class="list" *ngIf="options">
            <div class="item" *ngFor="let item of options">
                <a *ngIf="item.link" [href]="item.link">
                    <app-icon [icon]="item.icon"></app-icon>
                    <div class="text">{{item.name}}</div>
                </a>
                <a *ngIf="item.route" [routerLink]="[item.route]" routerLinkActive="active">
                    <app-icon [icon]="item.icon"></app-icon>
                    <div class="text">{{item.name}}</div>
                </a>
            </div>
        </div>
    </div>
</ng-template>
