@import 'shared.styles';

.container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    z-index: 201;

    .menu {
        display: none;
        @include respond-to(mobile) {
            display: flex;
        }
        align-items: center;
        justify-content: flex-end;
        font-size: 1em;

        i {
            margin: .5em;
            cursor: pointer;
            &:hover {
                opacity: .54;
            }
        }
    }
}

.logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 .5em;
    font-size: 2em;
    cursor: pointer;
    img {
        height: $header-height - .5em;
        max-height: calc(100% - 1em);
    }

    i {
        font-size: $header-height - .5em;
        max-height: calc(100% - 1em);
    }

    a {
        font-weight: 400;
    }

    span {
        color: #db0066;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.topbar {
    position: relative;
    height: $header-height;
    min-height: $header-height;
    background: $color-primary;
    color: $font-light;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#000, .12);
    box-shadow: 0 0 5px 0 rgba(#000, .35);
    // z-index: 1;

    &.uat {
        background-color: $color-develop;
    }

    i {
        font-size: 2.5em;
        margin: .25em;
        &:hover {
            opacity: .54;
        }
        @include respond-to(mobile) {
            font-size: 2em;
        }
    }
    @include respond-to(mobile) {
        height: 3em;
        min-height: 3em;
    }

    .location {
        font-size: .9em;
        text-decoration: underline;
        cursor: pointer;
    }
}

.search {
    flex: 1;
}

.block {
    display: flex;
    align-items: center;
    height: 100%;
    &.end {
        justify-content: flex-end;
        padding: 0 .5em;

        @include respond-to(mobile) {
            padding: 0 .25em;
        }
    }
}

.more-actions {
    margin-right: .5em;
}

.avatar {
    img,
    .img {
        height: 2.5em;
        width: 2.5em;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #fff;
        background-position: center;
        background-size: cover;
    }
}

.mat-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    min-width: 16em;

    &.active {
        pointer-events: none;
        background-color: rgba($color-primary, .1);
    }

    app-icon {
        font-size: 1.2em;
    }

    .text {
        flex: 1;
        min-width: 50%;
        margin-left: .5em;
    }
}
