@import 'shared.styles';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    z-index: 201;

    .menu {
        display: none;
        @include respond-to(mobile) {
            display: flex;
        }
        align-items: center;
        justify-content: flex-end;
        font-size: 1em;

        i {
            margin: .5em;
            cursor: pointer;
            &:hover {
                opacity: .54;
            }
        }
    }
}

.logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 .5em;
    cursor: pointer;
    img {
        height: $header-height - .5em;
        max-height: calc(100% - 1em);
    }

    i {
        font-size: $header-height - .5em;
        max-height: calc(100% - 1em);
    }
}

.topbar {
    position: relative;
    height: $header-height;
    min-height: $header-height;
    background: $header-bg;
    color: $header-color;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#000, .12);
    box-shadow: 0 0 5px 0 rgba(#000, .35);
    // z-index: 1;

    &.uat {
        background-color: $color-quinternary;
    }

    i {
        font-size: 2.5em;
        margin: .25em;
        &:hover {
            opacity: .54;
        }
        @include respond-to(mobile) {
            font-size: 2em;
        }
    }
    @include respond-to(mobile) {
        height: 3em;
        min-height: 3em;
    }

    .location {
        font-size: .9em;
        text-decoration: underline;
        cursor: pointer;
    }
}

.search {
    flex: 1;
}

.block {
    display: flex;
    align-items: center;
    height: 100%;
    &.end {
        justify-content: flex-end;
    }
}

.avatar {
    height: $header-height - 1em;
    width: $header-height - 1em;
    margin: 0 1em 0 .5em;
    border-radius: 100%;
    border: 2px solid #f8f8f8;
    box-shadow: 0 1px 3px 0 rgba(#000,.0), 0 1px 1px 0 rgba(#000,.0), 0 2px 1px -1px rgba(#000,.0);
    transition: box-shadow 200ms;
    background-color: #f0f0f0;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 3px 0 rgba(#000,.2), 0 1px 1px 0 rgba(#000,.14), 0 2px 1px -1px rgba(#000,.12);
    }

    .img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.details {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: .5em .5em .5em 1em;
    width: 16em;
    .name {
        white-space: nowrap;
        overflow: hidden;
        flex: 1;
        text-overflow: ellipsis;
    }

    .avatar {
        margin: 0;
        &:hover {
            box-shadow: 0 1px 3px 0 rgba(#000,.0), 0 1px 1px 0 rgba(#000,.0), 0 2px 1px -1px rgba(#000,.0);
        }
    }
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: .5em;
    width: 16em;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        background-color: #f0f0f0;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        margin-right: .25em;
    }
    &:last-child {
        border: none;
    }
}

