
@import 'shared.styles';

.container {
    padding: 1em;
}

mat-form-field {
    width: 100%;

    app-icon {
        font-size: 1.25em;
    }
}

.list {
    margin-top: .5em;
}

.table-row {
    .devices,
    .created {
        width: 8em;
        min-width: 8em;
    }
}
