
@import 'shared.styles';

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.content {
    width: 16rem;
    text-align: center;
    font-size: .8em;
}
