<div class="container" [class.loader]="loading" [class.edit]="item">
    <div class="header">
        <div class="text">Add {{name}}</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <div class="content">
            <engine-item-dropdown [service]="service" [label]="'Select ' + name" [(model)]="item"></engine-item-dropdown>
        </div>
        <div class="footer">
            <button widget (tapped)="fn.close()">Cancel</button>
            <button widget name="inverse" type="submit" [disabled]="!item" (tapped)="submit()">{{ 'Add' }}</button>
        </div>
    </div>
    <div class="info-block">
        <div class="icon">
            <a-spinner circle-ring color="rgba(0,0,0, .54)"></a-spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
