
@import 'shared.styles';

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.content {
    width: 22rem;
    text-align: center;
}

.info-block {
    margin: 2em 6em;
}
