<div class="w-full flex items-center bg-secondary text-white shadow z-30 py-2">
    <button mat-icon-button class="sm:hidden mx-4" (click)="toggleMenu()">
        <app-icon [className]="'backoffice-' + (show_menu ? 'cross' : 'menu')"></app-icon>
    </button>
    <a [routerLink]="['/']" *ngIf="logo"  class="text-3xl leading-none font-heading mx-4 mt-2 relative">
        <ng-container *ngIf="!is_fools_day; else fools_day">
            Place<span class="text-primary font-heading">OS</span>
        </ng-container>
        <div
            env
            class="bg-red-700 rounded font-medium absolute bottom-0 uppercase"
            *ngIf="env !== 'prod'"
        >
            {{ env }}
        </div>
    </a>
    <searchbar
        *ngIf="has_search"
        class="flex-1"
        [(filter)]="filter"
        (filterChange)="postFilter()"
    ></searchbar>
    <button mat-icon-button class="hidden sm:flex ml-2" [matMenuTriggerFor]="more_actions">
        <app-icon>more_vert</app-icon>
    </button>
    <!-- TODO Add user details display -->
    <button
        [title]="user?.name"
        [matMenuTriggerFor]="menu"
        matRipple
        class="border-2 border-white rounded-full h-10 w-10 bg-contain bg-center mx-2 outline-none"
        [style.background-image]="('url(' + (user?.image || 'https://www.gravatar.com/avatar/' + user?.gravatar_hash) + ')') | safe:'style'"
    ></button>
</div>
<mat-menu #menu="matMenu">
    <a mat-menu-item [routerLink]="['/profile']" routerLinkActive="active">
        <div
            class="img"
            class="border-2 border-white rounded-full h-10 w-10 bg-contain bg-center mx-2 outline-none"
            [style.background-image]="('url(' + (user?.image || 'https://www.gravatar.com/avatar/' + user?.gravatar_hash) + ')') | safe:'style'"
        ></div>
        <div class="text">{{user?.name || 'Guest'}}</div>
    </a>
    <a mat-menu-item [routerLink]="['/profile']" routerLinkActive="active">
        <app-icon className="backoffice-user"></app-icon>
        <div class="text" i18n="@@profileAction">Profile</div>
    </a>
    <a mat-menu-item href="/logout">
        <app-icon className="backoffice-log-out"></app-icon>
        <div class="text" i18n="@@logoutAction">Logout</div>
    </a>
    <button mat-menu-item (click)="showUploadHistory()">
        <app-icon className="backoffice-clock"></app-icon>
        <div class="text" i18n="@@logoutAction">Upload History</div>
    </button>
    <div class="item" mat-menu-item role="menuitemcheckbox">
        <app-icon className="backoffice-moon"></app-icon>
        <div class="text" i18n="@@darkMode">Dark Mode</div>
        <div class="toggle" (click)="$event.stopPropagation()">
            <mat-slide-toggle [(ngModel)]="dark_mode"></mat-slide-toggle>
        </div>
    </div>
    <button mat-menu-item [matMenuTriggerFor]="language_menu" *ngIf="languages.length > 1">
        <app-icon className="backoffice-globe"></app-icon>
        <div class="text" i18n="@@languageAction">Language</div>
    </button>
    <a mat-menu-item [href]="github_link" target="_blank">
        <app-icon className="backoffice-github"></app-icon>
        <div class="text" i18n="@@reportAction">Report an Issue</div>
    </a>
</mat-menu>
<mat-menu #more_actions="matMenu">
    <button
        mat-menu-item
        [matMenuTriggerFor]="type_menu"
        (mouseenter)="bulk = false"
        (click)="bulk = false"
    >
        <app-icon className="backoffice-plus"></app-icon>
        <div class="text" i18n="@@newAction">New</div>
    </button>
    <button
        mat-menu-item
        [matMenuTriggerFor]="type_menu"
        (mouseenter)="bulk = true"
        (click)="bulk = true"
    >
        <app-icon className="backoffice-plus"></app-icon>
        <div class="text" i18n="@@bulkNewAction">Bulk New</div>
    </button>
</mat-menu>
<mat-menu #type_menu="matMenu">
    <button mat-menu-item (click)="newSystem()">
        <app-icon className="backoffice-documents"></app-icon>
        <div class="text" i18n="@@newSystemAction">
            { bulk, select, true { Systems } false { System } }
        </div>
    </button>
    <button mat-menu-item (click)="newZone()">
        <app-icon [icon]="{ class: 'backoffice-layers' }"></app-icon>
        <div class="text" i18n="@@newZoneAction">
            { bulk, select, true { Zones } false { Zone } }
        </div>
    </button>
    <button mat-menu-item (click)="newDriver()">
        <app-icon [icon]="{ class: 'backoffice-tools' }"></app-icon>
        <div class="text" i18n="@@newDriverAction">
            { bulk, select, true { Drivers } false { Driver } }
        </div>
    </button>
    <button mat-menu-item (click)="newModule()">
        <app-icon [icon]="{ class: 'backoffice-tablet' }"></app-icon>
        <div class="text" i18n="@@newModuleAction">
            { bulk, select, true { Modules } false { Module } }
        </div>
    </button>
    <button mat-menu-item (click)="newUser()">
        <app-icon [icon]="{ class: 'backoffice-users' }"></app-icon>
        <div class="text" i18n="@@newUserAction">
            { bulk, select, true { Users } false { User } }
        </div>
    </button>
</mat-menu>
<ng-template #fools_day>
    <a href="http://www.nyan.cat/" (click)="notAFool()">April <span>Fools</span></a>
</ng-template>
<mat-menu #language_menu="matMenu">
    <a
        mat-menu-item
        [href]="'/backoffice/' + language.locale"
        (click)="newSystem()"
        *ngFor="let language of languages"
    >
        <app-icon [icon]="language.icon"></app-icon>
        <div class="text">{{ language.name }}</div>
    </a>
</mat-menu>
