@import 'variables';

[env] {
    left: 50%;
    transform: translate(-50%, 60%);
    padding: .125rem .375rem;
    font-size: .6rem;
}

.mat-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    min-width: 16em;

    app-icon {
        font-size: 1.2em;
    }

    .text {
        flex: 1;
        min-width: 50%;
        margin-left: .5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
