@if (form) {
  <div class="driver form">
    <div class="fieldset">
      @if (form.controls.repository_id && !editing) {
        <div
          class="field discovery"
          >
          <label for="repo">{{ 'REPOS.SINGULAR' | translate }} </label>
          <item-search-field
            [placeholder]="'REPOS.SEARCH' | translate"
            [query_fn]="query_fn"
            [ngModel]="base_repo"
            [exclude]="exclude_fn"
            (ngModelChange)="updateDriverList($event)"
          ></item-search-field>
        </div>
      }
      @if (form.controls.file_name && base_repo && !editing) {
        <div
          class="field discovery"
          >
          @if (!loading_drivers) {
            <label for="driver">{{ 'DRIVERS.BASE' | translate }} </label>
            <item-search-field
              [placeholder]="'DRIVERS.SEARCH' | translate"
              [options]="driver_list"
              [loading]="loading_drivers"
              [ngModel]="base_driver"
              (ngModelChange)="updateCommitList($event)"
            ></item-search-field>
          } @else {
            <div class="flex flex-col items-center justify-center space-y-4 p-8">
              <mat-spinner diameter="32"></mat-spinner>
              <div class="text">{{ 'DRIVERS.DRIVERS_LOADING' | translate }}</div>
            </div>
          }
        </div>
      }
      @if (form.controls.commit && base_driver) {
        <div
          class="field discovery"
          >
          @if (!loading_commits) {
            <label for="commit">{{ 'DRIVERS.COMMIT' | translate }} </label>
            <item-search-field
              [placeholder]="'DRIVERS.COMMIT_SEARCH' | translate"
              [options]="commit_list"
              [loading]="loading_commits"
              [ngModel]="base_commit"
              (ngModelChange)="setDriverBase($event)"
              ></item-search-field
              >
            } @else {
              <div class="flex flex-col items-center justify-center space-y-4 p-8">
                <mat-spinner diameter="32"></mat-spinner>
                <div class="text">{{ 'DRIVERS.COMMITS_LOADING' | translate }}</div>
              </div>
            }
          </div>
        }
      </div>
      @if (!loading) {
        @if (!failed) {
          <form [formGroup]="form" class="flex flex-col">
            @if (
              (form.controls.commit && form.controls.commit.value) ||
              base_commit
              ) {
              @if (form.controls.name) {
                <div class="field">
                  <label
                    for="driver-name"
                            [class.error]="
                                form.controls.name.invalid &&
                                form.controls.name.touched
                            "
                    >
                    {{ 'COMMON.FIELD_NAME' | translate }}<span>*</span>
                  </label>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      name="driver-name"
                      [placeholder]="'COMMON.FIELD_NAME' | translate"
                      formControlName="name"
                      required
                      />
                    @if (form.controls.name.invalid) {
                      <mat-error>
                        {{ 'DRIVERS.NAME_REQUIRED' | translate }}
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              }
              @if (form.controls.role) {
                <div class="field">
                  <label for="role">
                    {{ 'DRIVERS.ROLE' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <mat-select name="role" formControlName="role">
                      @for (type of role_types; track type) {
                        <mat-option
                          [value]="type.id"
                          >
                          {{ type.name }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              }
              @if (form.controls.description) {
                <div class="field">
                  <label for="description">
                    {{ 'COMMON.FIELD_DESCRIPTION' | translate }}
                  </label>
                  <mat-form-field appearance="outline">
                    <textarea
                      matInput
                      name="description"
                                [placeholder]="
                                    'COMMON.FIELD_DESCRIPTION' | translate
                                "
                      formControlName="description"
                    ></textarea>
                  </mat-form-field>
                </div>
              }
              @if (form.controls.module_name) {
                <div class="field">
                  <label
                    for="module-name"
                            [class.error]="
                                form.controls.module_name.invalid &&
                                form.controls.module_name.touched
                            "
                    >
                    {{ 'DRIVERS.MODULE_NAME' | translate }}
                    <span>*</span>
                  </label>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      name="module-name"
                                [placeholder]="
                                    'DRIVERS.MODULE_NAME' | translate
                                "
                      formControlName="module_name"
                      required
                      />
                    @if (form.controls.module_name.invalid) {
                      <mat-error
                        >
                        {{ 'DRIVERS.MODULE_NAME_REQUIRED' | translate }}
                      </mat-error>
                    }
                  </mat-form-field>
                </div>
              }
              @if (form.controls.default_uri) {
                <div class="field">
                  <label for="default-uri">{{
                    'DRIVERS.DEFAULT_URI' | translate
                  }}</label>
                  <mat-form-field appearance="outline">
                    <input
                      matInput
                      name="default-uri"
                                [placeholder]="
                                    'DRIVERS.DEFAULT_URI' | translate
                                "
                      formControlName="default_uri"
                      />
                  </mat-form-field>
                </div>
              }
              <div class="fieldset">
                @if (form.controls.default_port) {
                  <div class="field">
                    <label
                      for="default-port"
                                [class.error]="
                                    form.controls.default_port.invalid &&
                                    form.controls.default_port.touched
                                "
                      >
                      {{ 'DRIVERS.DEFAULT_PORT' | translate }}
                    </label>
                    <mat-form-field appearance="outline">
                      <input
                        matInput
                        name="default-port"
                        type="number"
                                    [placeholder]="
                                        'DRIVERS.DEFAULT_PORT' | translate
                                    "
                        formControlName="default_port"
                        />
                      @if (form.controls.default_port.invalid) {
                        <mat-error
                          >
                          {{ 'MODULES.PORT_REQUIRED' | translate }}
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                }
                @if (form.controls.ignore_connected) {
                  <div
                    class="field"
                    >
                    <div class="h-8 w-full"></div>
                    <settings-toggle
                      class="w-full"
                      [name]="'MODULES.IGNORE_CONNECTED' | translate"
                      formControlName="ignore_connected"
                    ></settings-toggle>
                  </div>
                }
              </div>
            }
          </form>
        } @else {
          <div class="info-block">
            <div class="text text-center text-error">
              {{ 'DRIVERS.DETAILS_ERROR_1' | translate }}<br />
              {{ 'DRIVERS.DETAILS_ERROR_2' | translate }}
            </div>
          </div>
        }
      } @else {
        <div class="flex flex-col items-center justify-center space-y-4 p-8">
          <mat-spinner diameter="32"></mat-spinner>
          <div class="text">{{ 'DRIVERS.DETAILS_LOADING' | translate }}</div>
        </div>
      }
    </div>
  }
