<div class="container">
    <main>
        <item-display
            name="Admin"
            route="admin"
            [item]="{ name: 'PlaceOS Admin' }"
            [has_change]="false"
            [tabs]="[
                { id: 'about', name: 'About', icon: { class: 'backoffice-info' } },
                { id: 'database', name: 'Database', icon: { class: 'backoffice-database' } },
                { id: 'clusters', name: 'Clusters', icon: { class: 'backoffice-server' } }
            ]"
        >
        </item-display>
    </main>
</div>
