<div class="container" [class.loader]="model.loading" [class.edit]="model.item">
    <div class="header">
        <div class="text">{{model.item ? 'Edit' : 'New'}} Domain</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <div class="form">
            <div class="field">
                <div class="label">Name<span class="orange">*</span>:</div>
                <div class="value" [class.error]="model.errors?.name">
                    <input [(ngModel)]="model.form.name" placeholder="Name">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.name">{{model.errors?.name}}</div>
            <div class="field">
                <div class="label">Domain<span class="orange">*</span>:</div>
                <div class="value" [class.error]="model.errors?.dom">
                    <input [(ngModel)]="model.form.dom" (ngModelChange)="validate()" placeholder="Domain name">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.dom">{{model.errors?.dom}}</div>
            <div class="field">
                <div class="label">Login URL:</div>
                <div class="value" [class.error]="model.errors?.login_url">
                    <input [(ngModel)]="model.form.login_url" (ngModelChange)="validate()" placeholder="Login URL">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.login_url">{{model.errors?.login_url}}</div>
            <div class="field">
                <div class="label">Logout URL:</div>
                <div class="value" [class.error]="model.errors?.logout_url">
                    <input [(ngModel)]="model.form.logout_url" (ngModelChange)="validate()" placeholder="Logout URL">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.logout_url">{{model.errors?.logout_url}}</div>
            <div class="field">
                <div class="label">Internals:</div>
                <div class="value full">
                    <settings-display [(model)]="model.form.settings" (valid)="model.config_valid = $event" [input]="true"></settings-display>
                </div>
            </div>
            <div class="field">
                <div class="label">Config:</div>
                <div class="value full">
                    <settings-display [(model)]="model.form.config" (valid)="model.config_valid = $event" [input]="true"></settings-display>
                </div>
            </div>
            <div class="field">
                <div class="label">Description:</div>
                <div class="value full">
                    <textarea [(ngModel)]="model.form.description" placeholder="Description of the system"></textarea>
                </div>
            </div>
        </div>
        <div class="footer">
            <btn (tapped)="event('Cancel')">Cancel</btn>
            <btn name="inverse" [disabled]="model.has_errors || model.settings_valid === false || !model.form.name || !model.form.dom"
                (tapped)="model.item ? edit() : new()">
                Ok
            </btn>
        </div>
    </div>
    <div class="no-item">
        <div class="icon">
            <spinner type="circle-ring" color="rgba(0,0,0, .54)"></spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
