<div class="module form" *ngIf="form">
    <form [formGroup]="form">
        <div class="field" *ngIf="form.controls.action_type">
            <label for="type">Action Type: </label>
            <mat-form-field appearance="outline">
                <mat-select name="type" formControlName="action_type">
                    <mat-option *ngFor="let type of action_types" [value]="type.id">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container [ngSwitch]="form.controls.action_type.value">
            <ng-container *ngSwitchCase="'email'">
                <div class="field" *ngIf="form.controls.emails">
                    <label
                        for="description"
                        [class.error]="form.controls.emails.touched && form.controls.emails.errors"
                    >
                        Email Addresses<span>*</span>:
                    </label>
                    <mat-form-field appearance="outline">
                        <mat-chip-list #chipList aria-label="Email addresses">
                            <mat-chip
                                *ngFor="let email of email_list"
                                [selectable]="true"
                                [removable]="true"
                                (removed)="removeEmail(email)"
                            >
                                {{ email }}
                                <app-icon
                                    matChipRemove
                                    [icon]="{ class: 'backoffice-cross' }"
                                ></app-icon>
                            </mat-chip>
                            <input
                                [(ngModel)]="new_email"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="New email..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separators"
                                [matChipInputAddOnBlur]="true"
                                (matChipInputTokenEnd)="addEmail($event.value); new_email = ''"
                            />
                        </mat-chip-list>
                        <mat-error>{{
                            form.controls.emails.hasError('email')
                                ? 'Email addresses need to be valid'
                                : 'An email address is required'
                        }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="field" *ngIf="form.controls.content">
                    <label for="content">Email Body:</label>
                    <mat-form-field appearance="outline">
                        <textarea
                            matInput
                            name="content"
                            placeholder="Email body contents..."
                            formControlName="content"
                        ></textarea>
                    </mat-form-field>
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <div class="field" *ngIf="form.controls.method_call">
                    <label for="content">Select method to execute:</label>
                    <system-exec-field
                        formControlName="method_call"
                        [system]="system"
                        [executable]="false"
                    ></system-exec-field>
                </div>
            </ng-container>
        </ng-container>
    </form>
</div>
