
:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unauthorised {
    width: 24em;
    background-color: #fff;
    color: rgba(#000, .85);
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
    padding: .5em 2em 2em;
    margin: 1em;

    @media (prefers-color-scheme: dark) {
        background-color: #262626;
        color: #fff;
    }
}
