<div class="container" [class.loader]="model.loading" [class.edit]="model.item">
    <div class="header">
        <div class="text">{{model.item ? 'Edit' : 'New'}} Device</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <div class="form">
            <div class="field new-only">
                <div class="label">Dependency<span class="orange">*</span>:</div>
                <div class="value">
                    <dropdown [filter]="true" [list]="model.nodes" [model]="-1"
                        (modelChange)="model.form.dependency_id = model.drivers[$event].id; model.form.dependency = model.drivers[$event]"
                        (filterValue)="loadDrivers($event)" placeholder="Select an Dependency"></dropdown>
                </div>
            </div>
            <div class="field new-only">
                <div class="label">Edge<span class="orange">*</span>:</div>
                <div class="value">
                    <dropdown [filter]="true" [list]="model.nodes" [model]="-1" (modelChange)="model.form.edge_id = model.nodes[$event].id"
                        (filterValue)="loadNodes($event)" placeholder="Select an Edge node"></dropdown>
                </div>
            </div>
            <div class="field new-only">
                <div class="label">Control System:</div>
                <div class="value">
                    <dropdown [filter]="true" [list]="model.systems" [model]="-1" (modelChange)="model.form.control_system_id = model.systems[$event].id"
                        (filterValue)="loadSystems($event)" placeholder="Select a System"></dropdown>
                </div>
            </div>
            <div class="field new-only">
                <div class="label">IP:</div>
                <div class="value" [class.error]="model.errors?.ip">
                    <input [(ngModel)]="model.form.ip" (ngModelChange)="validate()" placeholder="IP address">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.ip">{{model.errors?.ip}}</div>
            <div class="field new-only">
                <div class="label">Port:</div>
                <div class="value" [class.error]="model.errors?.port">
                    <input [(ngModel)]="model.form.port" (ngModelChange)="validate()" placeholder="Port number">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.port">{{model.errors?.port}}</div>
            <div class="field new-only">
                <div class="label"></div>
                <div class="value">
                    <checkbox [(model)]="model.form.tls" label="TLS"></checkbox>
                </div>
            </div>
            <div class="field new-only">
                <div class="label"></div>
                <div class="value">
                    <checkbox [(model)]="model.form.udp" label="UDP"></checkbox>
                </div>
            </div>
            <div class="field new-only">
                <div class="label"></div>
                <div class="value">
                    <checkbox [(model)]="model.form.makebreak" label="Makebreak"></checkbox>
                </div>
            </div>
            <div class="field new-only">
                <div class="label"></div>
                <div class="value">
                    <checkbox [(model)]="model.form.ignore_connection" label="Ignore connection"></checkbox>
                </div>
            </div>
            <div class="field new-only">
                <div class="label">URI:</div>
                <div class="value" [class.error]="model.errors?.uri">
                    <input [(ngModel)]="model.form.uri" (ngModelChange)="validate()" placeholder="URI">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.uri">{{model.errors?.uri}}</div>
            <div class="field">
                <div class="label">Notes:</div>
                <div class="value full">
                    <textarea [(ngModel)]="model.form.notes" placeholder="Notes"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="label">Settings:</div>
                <div class="value full">
                    <settings-display [(model)]="model.form.settings" (valid)="model.settings_valid = $event" [input]="true"></settings-display>
                </div>
            </div>
            <div class="field">
                <div class="label">Custom name:</div>
                <div class="value" [class.error]="model.errors?.custom_name">
                    <input [(ngModel)]="model.form.custom_name" (ngModelChange)="validate()" placeholder="Custom name">
                </div>
            </div>
            <div class="error" *ngIf="model.errors?.custom_name">{{model.errors?.custom_name}}</div>
        </div>
        <div class="footer">
            <btn (tapped)="event('Cancel')">Cancel</btn>
            <btn name="inverse" [disabled]="model.has_errors || model.settings_valid === false || (!model.item && (!model.form.edge_id || !model.form.dependency_id))"
                (tapped)="model.item ? edit() : new()">
                Ok
            </btn>
        </div>
    </div>
    <div class="no-item">
        <div class="icon">
            <spinner type="circle-ring" color="rgba(0,0,0, .54)"></spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
