<div class="container">
    <section class="select">
        <btn (tapped)="start()">Start System</btn>
        <btn (tapped)="stop()">Stop System</btn>
        <btn (tapped)="logs()">Access Logs</btn>
    </section>
    <section class="details">
        <div class="field" *ngIf="item.support_url">
            <div class="label">Support URL:</div>
            <div class="value">{{item.support_url}}</div>
        </div>
        <div class="field" *ngIf="item.bookable">
            <div class="label">Bookable Room:</div>
            <div class="value">{{item.bookable ? 'Yes' : 'No'}} {{item.email ? '(' + item.email + ')' : ''}}</div>
        </div>
        <div class="field" *ngIf="item.capacity">
            <div class="label">Capacity:</div>
            <div class="value">{{item.capacity}}</div>
        </div>
        <div class="field" *ngIf="item.installed_ui_devices">
            <div class="label">Installed Touch Panels:</div>
            <div class="value">{{item.installed_ui_devices}}</div>
        </div>
    </section>
    <header *ngIf="model.modules && model.modules.length > 0">Execute command</header>
    <section class="execute" *ngIf="model.modules && model.modules.length > 0">
        <div class="row">
            <dropdown [list]="model.modules" [model]="-1" (modelChange)="loadFunctions(model.modules[$event])"
                placeholder="Select a device"></dropdown>
        </div>
        <div class="row">
            <dropdown *ngIf="model.fn_list" [list]="model.fn_names" [(model)]="model.exec_index" (modelChange)="selectFunction(model.fn_list[model.fn_names[$event]], model.fn_names[$event])"
                placeholder="Select a function"></dropdown>
            <div class="fn-input" *ngIf="model.fn">
                <div class="bracket">(</div>
                <div class="arg" *ngFor="let arg of model.fn.args; let i = index">
                    <span class="seperator" [class.solid]="arg[0] === 'req' || model.fields[arg[1]]">{{(i > 0 ?
                        ',&nbsp;' : '')}}</span>
                    <input #argument [(ngModel)]="model.fields[arg[1]]" (ngModelChange)="checkFields()" [class.error]="model.error && model.error[arg[1]]"
                        [style.width]="(.6 * (model.fields[arg[1]] || (arg[0] === 'opt' ? '[' + arg[1] + ']' : arg[1])).length + .3) + 'em'"
                        [placeholder]="arg[0] === 'opt' ? '[' + arg[1] + ']' : arg[1]"
                        (keyup.enter)="nextField($event)" (keydown.,)="nextField($event)"  (keyup.arrowright)="nextField($event)"
                        (keyup.backspace)="previousField($event)" (keyup.arrowleft)="previousField($event)"
                        (focus)="focused(i)">
                </div>
                <div class="bracket">)</div>
            </div>
            <div class="send" *ngIf="model.fn">
                <btn [disabled]="!model.fields_valid" (tapped)="execute()">Send</btn>
            </div>
        </div>
    </section>
    <header>Settings</header>
    <section>
        <settings-display [model]="item?.settings || {}"></settings-display>
    </section>
</div>
