
@import 'shared.styles';

.container {
    padding: 1em;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    span {
        font-size: .7em;
        color: rgba(#000, .54);
        padding: 0 1em;
        font-weight: 300;
    }
}

section {
    padding: .5em .25em;
}

.select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .25em;
}

.execute {

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    dropdown {
        flex: 1;
    }

    .fn-input {
        flex-grow: 2;
        min-width: 10em;
        max-width: 100%;
        display: flex;
        align-items: center;
        * {
            font-family: $mono-font;
        }
    }

    .arg {
        display: flex;
        align-items: center;
    }

    .seperator {
        color: rgba(#000, .2);
        &.solid {
            color: rgba(#000, .87);
        }
    }

    input {
        margin-top: 2px;
        border: none;
        border-bottom: 2px dashed rgba(#000, 0);
        background: none;
        outline: none;
        font-size: 1em;
        color: rgba(#000, .87);
        padding: 0;
        &.error {
            border-bottom-color: $error;
        }
        &::placeholder {
            color: rgba(#000, .2);
        }
    }
}

.field {
    display: flex;
    align-items: center;
    margin: .25em 0;

    .label {
        font-weight: 500;
    }

    .value {
        padding: 0 .5em;
    }
}
