<div class="container">
    <section class="select">
        <button mat-button (tapped)="start()">Start System</button>
        <button mat-button (tapped)="stop()">Stop System</button>
        <button mat-button (tapped)="logs()">Access Logs</button>
    </section>
    <section class="details">
        <div class="field" *ngIf="item.support_url">
            <label>Support URL:</label>
            <div class="value"> <a [href]="item.support_url" target="_blank">{{item.support_url}}</a></div>
        </div>
        <div class="field" *ngIf="item.bookable">
            <label>Bookable Room:</label>
            <div class="value">{{item.bookable ? 'Yes' : 'No'}}</div>
        </div>
        <div class="field" *ngIf="item.bookable && item.email">
            <label>Email:&nbsp;</label>
            <a *ngIf="item.email" [href]="'mailto:' + item.email" target="_blank">{{item.email}}</a>
        </div>
        <div class="field" *ngIf="item.capacity">
            <label>Capacity:</label>
            <div class="value">{{item.capacity}}</div>
        </div>
        <div class="field" *ngIf="item.installed_ui_devices">
            <label>Installed Touch Panels:</label>
            <div class="value">{{item.installed_ui_devices}}</div>
        </div>
    </section>
    <header *ngIf="item && item.id && item.modules">Execute command</header>
    <system-exec-field [systemId]="item?.id"></system-exec-field>
    <header>Settings <span (touchrelease)="toggleSettings()">{{ merged === false ? 'This system' : 'Merged' }}</span></header>
    <section>
        <settings-form-field [ngModel]="settings" [readonly]="true"></settings-form-field>
    </section>
</div>
