<div class="container" [class.loader]="loading">
    <div class="header">
        <div class="text">System logs</div>
        <div class="close" (touchrelease)="fn.close()">
            <i class="material-icons">close</i>
        </div>
    </div>
    <div class="body">
        <div class="list">
            <div class="item" *ngFor="let item of logs">
        </div>
    </div>
    <div class="info-block">
        <div class="icon">
            <a-spinner circle-ring color="rgba(0,0,0, .54)"></a-spinner>
        </div>
        <div class="text">Processing request...</div>
    </div>
</div>
