@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #c2185b;
    --primary-dark: #ad1457;
    --secondary: #263238;
    --secondary-dark: #212121;
    --font-light: #fff;
    --font-dark: #000;
    --success: #43a047;
    --pending: #ffb300;
    --error: #e53935;
    --bg-dark: #f0f0f0;
    --bg: #212121;
    --font: 'Roboto', 'Verdana', 'Helvetica Neue', Arial, sans-serif;
    --heading-font: 'Young', var(--font);
    --mono-font: 'Fira Code', monospace;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
