@import '@xterm/xterm/css/xterm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

:root {
    --placeos-pink: #c52b67;
    --primary: #292f5b;
    --primary-dark: #3a4174;
    --secondary: #263238;
    --secondary-dark: #212121;
    --font-light: #fff;
    --font-dark: #000;
    --success: #43a047;
    --pending: #ffb300;
    --error: #e53935;
    --bg-dark: #f0f0f0;
    --bg: #212121;
    --font: 'Roboto', 'Verdana', 'Helvetica Neue', Arial, sans-serif;
    --heading-font: 'Young', var(--font);
    --mono-font: 'Fira Code', monospace;
}

html,
body {
    height: 100%;
}
body {
    background: #424242;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

kbd,
.keycap {
    display: inline;
    display: inline-block;
    min-width: 1em;
    padding: 0.3em 0.5em;
    font:
        normal 0.85em/1 'Lucida Grande',
        Lucida,
        Arial,
        sans-serif;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: none;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

kbd[title],
.keycap[title] {
    cursor: help;
}

/* Dark style for display on light background. This is the default style. */
kbd,
.keycap {
    background: var(--base-200);
    background: -moz-linear-gradient(top, var(--base-200), var(--base-300));
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(var(--base-200)),
        to(var(--base-300))
    );
    text-shadow: -1px -1px 0 var(--neutral);
    box-shadow:
        inset 0 0 1px var(--base-400),
        inset 0 -0.05em 0.4em var(--base-300),
        0 0.1em 0 var(--neutral),
        0 0.1em 0.1em rgba(0, 0, 0, 0.3);
    border: 1px solid var(--base-300);
}

.tc-30 {
    color: black;
}

.tc-31 {
    color: #d32f2f;
}

.tc-32 {
    color: #388e3c;
}

.tc-33 {
    color: #fbc02d;
}

.tc-34 {
    color: #1976d2;
}

.tc-35 {
    color: #c2185b;
}

.tc-36 {
    color: #0097a7;
}

.tc-37 {
    color: white;
}
