<div
    class="container"
    (window:mouseup)="show_password = false"
    (window:touchend)="show_password = false"
>
    <form name="login" *ngIf="form" [formGroup]="form">
        <div class="field" *ngIf="form.controls.username">
            <label
                for="username"
                [class.error]="form.controls.username.invalid && form.controls.username.touched"
                >Email<span>*</span>:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="username"
                    placeholder="Email/Username"
                    formControlName="username"
                />
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.password">
            <label
                for="password"
                [class.error]="form.controls.password.invalid && form.controls.password.touched"
                >Password:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="password"
                    [type]="show_password ? 'text' : 'password'"
                    placeholder="Password"
                    formControlName="password"
                />
                <app-icon
                    matSuffix
                    [icon]="{ class: show_password ? 'backoffice-eye' : 'backoffice-eye' }"
                    (mousedown)="show_password = true"
                    (touchstart)="show_password = true"
                ></app-icon>
                <mat-error *ngIf="form.controls.password.invalid"
                    >Invalid Username or Password</mat-error
                >
            </mat-form-field>
        </div>
        <div class="forgot" *ngIf="settings.forgotten_password" (tapped)="forgot.emit()">
            Forgot?
        </div>
        <div class="options">
            <button mat-button type="submit" (tapped)="submitted.emit()">Login</button>
        </div>
    </form>
</div>
