
@import 'shared.styles';

.container {
    padding: 0 2em 1em;
    max-width: 100vw;
    width: 100%;
    text-align: center;
}

.field {
    margin-top: .5em;
}

.forgot {
    text-align: right;
    opacity: .54;
    font-size: .7em;
    width: 100%;
}

input {
    font-size: 1em;
    color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: .5em 0;
    margin: 0 0 .25em;
    outline: none;
    background-color: rgba(#fff, .05);
    &:focus {
        border-color: $color-primary;
    }
}

span {
    color: $color-primary;
}

