<div class="container" *ngIf="model.user && !model.loading">
    <div class="header">
        <topbar-header (filter)="model.filter = $event"></topbar-header>
    </div>
    <div class="body" [class.filtered]="model.filter">
        <div class="sidebar-menu">
            <sidebar-menu></sidebar-menu>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="search-results" *ngIf="model.filter">

    </div>
</div>
<div class="container loader" *ngIf="model.loading">
    <div class="no-item">
        <div class="icon">
            <spinner type="circle-ring" color="#fff"></spinner>
        </div>
        <div class="text">Loading application data...</div>
    </div>
</div>
<div class="container login" *ngIf="!model.user">
    <login-display></login-display>
</div>
