// @Author: Alex Sorafumo <alex.sorafumo>
// @Date:   12/10/2016 2:02 PM
// @Email:  alex@yuion.net
// @Filename: simple.style.scss
// @Last modified by:   Alex Sorafumo
// @Last modified time: 03/02/2017 1:58 PM

@import 'shared.styles';

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: $background;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    &.loader {
        z-index: 998;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        .text {
            color: #fff;
        }

        .icon {
            margin: .5em;
        }
    }
    &.login {
        z-index: 999;
    }
}

.body {
    display: flex;
    flex: 1;
    width: 100%;
}

.copyright {
    color: #ccc;
    padding: .5em;
}

.content {
    position: relative;
    font-size: 1em;
    height: 100%;
    flex: 1;
}

.sidebar-menu {
    height: 100%;
}

.block {
    flex: 1;
    height: 100%;
}
