<div class="container" *ngIf="!model.loading && !model.error && !model.success">
    <div class="body">
        <div class="icon">
            <i center class="material-icons">{{model.icon}}</i>
        </div>
        <div class="details">
            <div class="heading" [innerHTML]="model.title | safe:'html'"  *ngIf="model.title" ></div>
            <div class="info" [innerHTML]="model.message | safe:'html'"></div>
            <div class="link" *ngIf="model.link">
                <a (mousedown)="fn.event('Link')" (touchstart)="fn.event('Link')">{{model.link.text}}</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <button widget name="full-width" (tapped)="event('Cancel')">Cancel</button>
        <button widget name="full-width normal" (tapped)="event('Accept')">Ok</button>
    </div>
</div>
<div class="container" *ngIf="model.loading || model.error || model.success">
    <div class="info-block">
        <div class="icon">
            <i class="material-icons" [class.error]="model.error" *ngIf="!model.loading">{{model.error ? 'close' : 'done'}}</i>
            <a-spinner circle-ring *ngIf="model.loading"></a-spinner>
        </div>
        <div class="text">
            {{model.loading ? 'Processing request...' : (model.error ? 'Request failed' : 'Success')}}
        </div>
    </div>
</div>