<div class="container">
        <div class="settings">
            <section class="select">
                <div class="dropdown">
                    <button widget>Add trigger</button>
                </div>
                <div class="btn">
                    <input placeholder="Filter triggers">
                </div>
            </section>
            <section class="list">
                <div class="table" *ngIf="model.triggers && model.triggers.length > 0">
                    <div class="table-head table-row">
                        <div class="name">Name</div>
                        <div class="flex">Description</div>
                        <div class="small"></div>
                    </div>
                    <div class="table-body">
                        <div class="table-row" *ngFor="let trigger of model.triggers">
                            <div class="name"><a (touchrelease)="goto(trigger)">{{trigger.name}}</a></div>
                            <div class="flex">{{trigger.description}}</div>
                            <div class="small">
                                <div class="action"><i class="material-icons">delete</i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-item" *ngIf="!model.triggers || model.triggers.length <= 0">
                    <div class="text">No triggers for system</div>
                </div>
            </section>
        </div>
    </div>
