<div class="container">
    <div class="settings">
        <section class="select">
            <div class="dropdown">
                <button mat-button (tapped)="selectTriggerToAdd()" i18n="@@addTriggerAction">
                    Add trigger
                </button>
            </div>
            <mat-form-field appearance="outline">
                <div class="prefix" matPrefix>
                    <app-icon [icon]="{ class: 'backoffice-magnifying-glass' }"></app-icon>
                </div>
                <input
                    matInput
                    [(ngModel)]="search_str"
                    name="search-filter"
                    placeholder="Filter Triggers"
                    i18n-placeholder="@@triggerTableFilter"
                />
            </mat-form-field>
        </section>
        <section class="list">
            <table *ngIf="triggers && triggers.length > 0">
                <thead>
                    <td class="name" i18n="@@triggerTableName">Name</td>
                    <td class="flex" i18n="@@descriptionLabel">Description</td>
                    <td class="small"></td>
                </thead>
                <tbody>
                    <tr *ngFor="let trigger of triggers">
                        <td class="name">
                            <a [routerLink]="['/triggers', trigger.id]" [matTooltip]="trigger.id"
                                >{{trigger.name}}</a
                            >
                        </td>
                        <td class="flex description">{{trigger.description}}</td>
                        <td class="small">
                            <button mat-icon-button (tapped)="deleteTrigger(trigger)">
                                <app-icon [icon]="{ class: 'backoffice-trash' }"></app-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="info-block" *ngIf="!triggers || triggers.length <= 0">
                <div class="text" i18n="@@zoneTriggerTableEmpty">No triggers for zone</div>
            </div>
        </section>
    </div>
</div>
