<div class="repository form" *ngIf="form">
    <form [formGroup]="form">
        <div class="field commit" *ngIf="is_edit && can_change_commit">
            <label for="commit" i18n="@@repoCommitLabel">Repository Commit: </label>
            <item-search-field
                name="commit"
                [options]="commit_list | slice:1"
                [disabled]="follow_latest"
                [loading]="loading_commits"
                [ngModel]="base_commit"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="form.controls.commit_hash.setValue($event.id)"
            ></item-search-field>
        </div>
        <div class="field">
            <mat-checkbox
                class="mb-4"
                [ngModel]="follow_latest"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="setFollow($event)"
            >
                Follow latest commit
            </mat-checkbox>
        </div>
        <div class="field" *ngIf="form.controls.branch">
            <label
                for="repository-name"
                [class.error]="form.controls.branch.invalid && form.controls.branch.touched"
                i18n="@@branchLabel"
            >
                Branch<span>*</span>:
            </label>
            <mat-form-field appearance="outline">
                <input
                    *ngIf="!branch_list || !branch_list.length; else options"
                    matInput
                    name="branch-name"
                    placeholder="Branch Name"
                    i18n-placeholder="@@repositoryBranchPlaceholder"
                    formControlName="branch"
                    required
                />
                <ng-template #options>
                    <mat-select name="type" formControlName="branch" placeholder="Select Branch">
                        <mat-option *ngFor="let branch of branch_list" [value]="branch">
                            {{ branch }}
                        </mat-option>
                    </mat-select>
                </ng-template>
                <mat-error i18n="@@repoBranchError">Working branch name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.name">
            <label
                for="repository-name"
                [class.error]="form.controls.name.invalid && form.controls.name.touched"
                i18n="@@nameLabel"
                >Name<span>*</span>:</label
            >
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="repository-name"
                    placeholder="Repository Name"
                    i18n-placeholder="@@repositoryNamePlaceholder"
                    formControlName="name"
                    required
                />
                <mat-error i18n="@@repoNameError">Repository name is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.folder_name">
            <label
                for="folder-name"
                [class.error]="
                    form.controls.folder_name.invalid && form.controls.folder_name.touched
                "
                i18n="@@folderNameLabel"
            >
                Folder Name<span>*</span>:
            </label>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="folder-name"
                    placeholder="Folder Name"
                    i18n-placeholder="@@folderNamePlaceholder"
                    formControlName="folder_name"
                    required
                />
                <mat-error i18n="@@folderNameError"> A valid folder name is required </mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.description">
            <label for="description" i18n="@@descriptionLabel">Description:</label>
            <mat-form-field appearance="outline">
                <textarea
                    matInput
                    name="description"
                    placeholder="Description"
                    i18n-placeholder="@@descriptionPlaceholder"
                    formControlName="description"
                ></textarea>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.uri">
            <label
                for="uri"
                [class.error]="form.controls.uri.invalid && form.controls.uri.touched"
                i18n="@@repoUriLabel"
            >
                Repository URI<span>*</span>:
            </label>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="uri"
                    placeholder="Repository URI"
                    i18n-placeholder="@@repoUriPlaceholder"
                    formControlName="uri"
                    required
                />
                <mat-error i18n="@@repoUriError">URI is required</mat-error>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="!is_edit && form.controls.repo_type && form.controls.folder_name">
            <label for="type" i18n="@@repoTypeLabel">Repository Type: </label>
            <mat-form-field appearance="outline">
                <mat-select name="type" formControlName="repo_type">
                    <mat-option *ngFor="let type of repo_types" [value]="type.id" i18n="@@repoType">
                        { type.name, select, Driver { Driver } Interface { Interface } other { Other
                        } }
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.username">
            <label for="repo-u" i18n="@@usernameLabel">Repository Username: </label>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="repo-u"
                    autocomplete="off"
                    placeholder="Username"
                    i18n-placeholder="@@usernamePlaceholder"
                    formControlName="username"
                />
            </mat-form-field>
        </div>
        <div class="field" *ngIf="form.controls.password">
            <label for="repo-p" i18n="@@passwordLabel">Repository Password: </label>
            <mat-form-field appearance="outline">
                <input
                    matInput
                    name="repo-p"
                    autocomplete="new-password"
                    [type]="show_password ? 'text' : 'password'"
                    placeholder="Password"
                    i18n-placeholder="@@passwordPlaceholder"
                    formControlName="password"
                />
                <app-icon
                    matSuffix
                    [icon]="{ class: 'material-icons', content: 'visibility' }"
                    (click)="show_password = !show_password"
                ></app-icon>
            </mat-form-field>
        </div>
    </form>
</div>
