<div class="container" *ngIf="item">
    <section class="actions">
        <mat-card>
            <mat-card-content  i18n="@@repoPullActionDetails">
                Pull the latest commit for<br>
                this repository
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [disabled]="pulling" (click)="pullLatestCommit()">
                    <ng-container *ngIf="!pulling; else spinner" i18n="@@repoPullAction">Pull</ng-container>
                </button>
            </mat-card-actions>
        </mat-card>
    </section>
    <section class="details">
        <div class="field">
            <label i18n="@@repoTypeLabel">Type:</label>
            <div class="value" i18n="@@driverListEmpty">{ item.type, select, Interface { Interface Repository } Driver { Driver Repository } } </div>
        </div>
        <div class="field">
            <label i18n="@@repoFolderNameLabel">Folder name:</label>
            <div class="value">{{ item.folder_name || 'No folder set' }}</div>
        </div>
        <div class="field" *ngIf="item.type === 'Interface'">
            <label i18n="@@repoBranchLabel">Branch:</label>
            <div class="value">{{ item.branch || 'master' }}</div>
        </div>
        <div class="field">
            <label i18n="@@repoUriLabel">Repository URI:</label>
            <div class="value"><a [href]="item.uri | safe:'url'">{{ item.uri || 'No URI set' }}</a></div>
        </div>
        <div class="field">
            <label i18n="@@repoCommitHashLabel">Commit hash:</label>
            <div class="value">{{ item.commit_hash || 'No Commit hash set' }}</div>
        </div>
        <div class="field">
            <label i18n="@@descriptionLabel">Description:</label>
            <div class="value">{{ item.description || 'No description' }}</div>
        </div>
        <div class="field">
            <label i18n="@@repoCreatedAtLabel">Created:</label>
            <div class="value">{{ item.created_at * 1000 | dateFrom }}</div>
        </div>
        <div class="field">
            <label i18n="@@repoUpdatedAtLabel">Updated:</label>
            <div class="value">{{ item.updated_at * 1000 | dateFrom }}</div>
        </div>
    </section>
</div>
<ng-template #spinner>
    <div class="spinner">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</ng-template>
