<div class="container">
    <section>
        <div class="list" *ngIf="model.list && model.list.length > 0">
            <table>
                <thead>
                    <td class="name" i18n="@@userTableName">Name</td>
                    <td class="flex" i18n="@@userTableEmail">Email</td>
                    <td class="role" i18n="@@userTableRole">Role</td>
                </thead>
                <tbody>
                    <tr *ngFor="let item of model.list">
                        <td class="name" [matTooltip]="item.id">{{item.name}}</td>
                        <td class="flex">{{item.email}}</td>
                        <td class="role">{{item.role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="info-block" *ngIf="!model.list || model.list.length <= 0">
            <div class="text" i18n="@@userTableEmpty">No users found</div>
        </div>
    </section>
</div>
