<ng-container *ngIf="is_enabled">
    <div class="debug-output" [class.disabled]="!show_content">
        <div class="content" #content [@show]="show_content ? 'show' : 'hide'" [style.height]="height + 'px'" [style.width]="width + 'px'">
            <div class="header">
                <div class="text" i18n="@@debugConsole">Debug Console</div>
                <button mat-button (click)="clearDebugMessages()" i18n="@@clear">Clear</button>
            </div>
            <a-terminal [content]="logs" [resize]="resize"></a-terminal>
            <div
                class="resize-bar top"
                (mousedown)="startResize($event, 'y')"
                (touchstart)="startResize($event, 'y')"
            ></div>
            <div
                class="resize-bar left"
                (mousedown)="startResize($event, 'x')"
                (touchstart)="startResize($event, 'x')"
            ></div>
            <div
                class="resize-bar top-left"
                (mousedown)="startResize($event, 'xy')"
                (touchstart)="startResize($event, 'xy')"
            ></div>
        </div>
        <button mat-icon-button (click)="show_content = !show_content">
            <app-icon
                [icon]="{ class: show_content ? 'backoffice-cross' : 'backoffice-terminal' }"
            ></app-icon>
        </button>
    </div>
</ng-container>
